@model List<CITS.EduSuite.Business.Models.ViewModels.BuildingDetailsModel>


<div id="dynamicRepeater" class="repeater">
    <table class="table table-responsive table-stripped">
        <thead>
            <tr>
                <th>

                </th>
                <th>
                    @Html.Label(EduSuiteUIResources.RoomName, htmlAttributes: new { @class = "form-label" }) <div class="required-icon"><div class="text">*</div></div>
                </th>

                <th>

                    @Html.Label(EduSuiteUIResources.IsActive, htmlAttributes: new { @class = "form-label" })
                </th>

            </tr>

        </thead>

        <tbody data-repeater-list>
            @for (int i = 0; i < Model.Count(); i++)
            {
                <tr data-repeater-item>
                    <td>

                        <span onclick="BuildingDetails.DeleteBuildingDetails(this,@Model[i].RowKey,@Model[i].BuildingMasterKey)" class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                        </span>
                    </td>
                    <td>
                        <fieldset class="form-group">
                            @Html.TextBoxFor(m => m[i].BuildingDetailsName, new { @class = "form-control input-control", @data_convert = "uppercase" })
                            <span class="form-control-error-text">
                                @Html.ValidationMessage("BuildingDetails[" + i + "].BuildingDetailsName")
                            </span>
                            @Html.HiddenFor(m => m[i].RowKey)
                            @Html.HiddenFor(m => m[i].BuildingMasterKey)



                        </fieldset>
                    </td>

                    <td>
                        <fieldset class="form-group">
                            <div class="switch-check my-2">
                                @Html.CheckBoxFor(m => m[i].IsActive, new { @class = "switch-input" })
                                <div class="switch-label redgreen" data-on="@EduSuiteUIResources.Yes" data-off="@EduSuiteUIResources.No"></div>
                                <div class="switch-handle"></div>
                            </div>
                            <span class="form-control-error-text">
                                @Html.ValidationMessageFor(m => m[i].IsActive)
                            </span>
                        </fieldset>
                    </td>


                </tr>
            }

        </tbody>
    </table>
</div>
<script>

    $(document).ready(function () {

       
        AppCommon.FormatInputCase();
        //$("[data-repeater-list]").find("input,select,textarea").each(function () {
        //    $(this).attr("name", "StudentTCDetailsViewModel" + $(this).attr("name"));
        //})

        //$("form").removeData("validator");
        //$("form").removeData("unobtrusiveValidation");
        //$.validator.unobtrusive.parse("form");
    });
</script>