@model CITS.EduSuite.Business.Models.ViewModels.ScholarshipViewModel
@using CITS.EduSuite.Business.Models.ViewModels

<div class="modal-header">
    <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close"></i></button>
    <h4 class="modal-title" id="myModalLabel">@EduSuiteUIResources.Add @EduSuiteUIResources.Sla @EduSuiteUIResources.Edit @EduSuiteUIResources.Scholarship</h4>
</div>
@using (Html.BeginForm("AddEditScholarship", "Scholarship", FormMethod.Post, htmlAttributes: new { @id = "frmScholarship" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.RowKey)
    @Html.ValidationSummary(true)
    @*@Html.HiddenFor(m => m.AgeLimitLessThan)
        @Html.HiddenFor(m => m.AgeLimitGreaterThan)*@

    <input type="hidden" id="hdnGetBranchByDistrict" value="@Url.Action("GetBranchByDistrict", "Scholarship")" />
    <div class="modal-body">
        <div class="form-master">
            <div class="form-row">

                <div class="col-12 col-lg-6">
                    <fieldset class="form-group">
                        @Html.Label(EduSuiteUIResources.FirstName, htmlAttributes: new { @id = "lblScholarshipName", @class = "form-label" })
                        <div class="required-icon"><div class="text">*</div></div>
                        @Html.TextBoxFor(m => m.ScholarShipName, new { @class = "form-control input-control", @InputFor = "lblScholarshipName" })
                        <span class="form-control-error-text">
                            @Html.ValidationMessageFor(m => m.ScholarShipName)
                        </span>
                    </fieldset>
                </div>
                <div class="col-12 col-lg-6">
                    <fieldset class="form-group">
                        @Html.Label(EduSuiteUIResources.MiddleName, htmlAttributes: new { @id = "lblScholarshipName", @class = "form-label" })
                        
                        @Html.TextBoxFor(m => m.MiddleName, new { @class = "form-control input-control", @InputFor = "lblScholarshipName" })
                        <span class="form-control-error-text">
                            @Html.ValidationMessageFor(m => m.MiddleName)
                        </span>
                    </fieldset>
                </div>
                <div class="col-12 col-lg-6">
                    <fieldset class="form-group">
                        @Html.Label(EduSuiteUIResources.LastName, htmlAttributes: new { @id = "lblScholarshipName", @class = "form-label" })
                        <div class="required-icon"><div class="text">*</div></div>
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control input-control", @InputFor = "lblScholarshipName" })
                        <span class="form-control-error-text">
                            @Html.ValidationMessageFor(m => m.LastName)
                        </span>
                    </fieldset>
                </div>
                <div class="col-12 col-lg-6">
                    <fieldset class="form-group">
                        @Html.Label(EduSuiteUIResources.PhoneNumber, htmlAttributes: new { @id = "lblPhoneNumber1", @class = "form-label" })
                        <div class="required-icon"><div class="text">*</div></div>
                        <div class="input-group-transparent">
                            @Html.TextBoxFor(m => m.MobileNumber, new { @class = "form-control input-control", @InputFor = "lblPhoneNumber1" })

                        </div>
                        <span class="form-control-error-text">
                            @Html.ValidationMessageFor(m => m.MobileNumber)
                        </span>
                    </fieldset>
                </div>
            </div>

            <div class="form-row">
                <div class="col-12 col-lg-12">
                    <fieldset class="form-group">
                        @Html.Label(EduSuiteUIResources.Address, htmlAttributes: new { @id = "lblAddressLine1", @class = "form-label" })
                        
                        @Html.TextBoxFor(m => m.ScholarShipAddress, new { @class = "form-control input-control", @InputFor = "lblAddressLine1" })
                        <span class="form-control-error-text">
                            @Html.ValidationMessageFor(m => m.ScholarShipAddress)
                        </span>
                    </fieldset>
                </div>
                <div class="col-12 col-lg-12">
                    <fieldset class="form-group">
                        @Html.Label(EduSuiteUIResources.Qualification, htmlAttributes: new { @id = "lblAddressLine2", @class = "form-label" })
                        @Html.TextBoxFor(m => m.ScholarShipEducationQualification, new { @class = "form-control input-control", @InputFor = "lblAddressLine2" })
                        <span class="form-control-error-text">
                            @Html.ValidationMessageFor(m => m.ScholarShipEducationQualification)
                        </span>
                    </fieldset>
                </div>

            </div>
            <div class="form-row">
                <div class="col-12 col-lg-6">
                    <fieldset class="form-group">
                        @Html.Label(EduSuiteUIResources.EmailAddress, htmlAttributes: new { @id = "lblEmailAddress", @class = "form-label" })
                        @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control input-control", @InputFor = "lblEmailAddress", @data_convert = "lowercase" })
                        <span class="form-control-error-text">
                            @Html.ValidationMessageFor(m => m.EmailAddress)
                        </span>
                    </fieldset>
                </div>

                <div class="col-12 col-lg-6">
                    <fieldset class="form-group">
                        @Html.Label(EduSuiteUIResources.Scholarship, new { @id = "lblDepartment", @class = "form-label" })<div class="required-icon"><div class="text">*</div></div>

                        @Html.DropDownListFor(m => m.ScholarshipTypeKey, new SelectList(Model.ScholarshipTypes, "RowKey", "Text"), EduSuiteUIResources.Select + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.Scholarship, new { @class = "form-control input-control", @InputFor = "lblDistrict" })
                        <span class="form-control-error-text">
                            @Html.ValidationMessageFor(m => m.ScholarshipTypeKey)
                        </span>
                    </fieldset>

                </div>
            </div>
            <div class="form-row">
               @if (DbConstants.Role.AdminUserTypes.Contains(DbConstants.User.RoleKey))
                {

                    <div class="col-6 col-lg-6">
                        <fieldset class="form-group">
                            @Html.Label(EduSuiteUIResources.District, htmlAttributes: new { @id = "lblDistrict", @class = "form-label" })
                            <div class="required-icon"><div class="text">*</div></div>
                            @Html.DropDownListFor(m => m.DistrictKey, new SelectList(Model.Districts, "RowKey", "Text"), EduSuiteUIResources.Select + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.District, new { @class = "form-control input-control", @InputFor = "lblDistrict" })
                            <span class="form-control-error-text">
                                @Html.ValidationMessageFor(m => m.DistrictKey)
                            </span>
                        </fieldset>
                    </div>
                }
                else
                {
                    <div class="col-6 col-lg-6">
                        <fieldset class="form-group">
                            @Html.Label(EduSuiteUIResources.District, htmlAttributes: new { @id = "lblDistrict", @class = "form-label" })
                            <div class="required-icon"><div class="text">*</div></div>
                            @Html.DropDownListFor(m => m.DistrictKey, new SelectList(Model.Districts, "RowKey", "Text"), new { @class = "form-control input-control", @InputFor = "lblDistrict" })
                            <span class="form-control-error-text">
                                @Html.ValidationMessageFor(m => m.DistrictKey)
                            </span>
                        </fieldset>
                    </div>
                }
               @if (DbConstants.Role.AdminUserTypes.Contains(DbConstants.User.RoleKey))
                {
                    <div class="col-6 col-lg-6">
                        <fieldset class="form-group">
                            @Html.Label(EduSuiteUIResources.Branch, htmlAttributes: new { @id = "lblDistrict", @class = "form-label" })
                            <div class="required-icon"><div class="text">*</div></div>
                            @Html.DropDownListFor(m => m.BranchKey, new SelectList(Model.Branches, "RowKey", "Text"), EduSuiteUIResources.Select + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.center, new { @class = "form-control input-control", @InputFor = "lblDistrict" })
                            <span class="form-control-error-text">
                                @Html.ValidationMessageFor(m => m.BranchKey)
                            </span>
                        </fieldset>
                    </div>
                }
                else
                {
                    <div class="col-6 col-lg-6">
                        <fieldset class="form-group">
                            @Html.Label(EduSuiteUIResources.Branch, htmlAttributes: new { @id = "lblDistrict", @class = "form-label" })
                            <div class="required-icon"><div class="text">*</div></div>
                            @Html.DropDownListFor(m => m.BranchKey, new SelectList(Model.Branches, "RowKey", "Text"), new { @class = "form-control input-control", @InputFor = "lblDistrict" })
                            <span class="form-control-error-text">
                                @Html.ValidationMessageFor(m => m.BranchKey)
                            </span>
                        </fieldset>
                    </div>
                }
            </div>
            <div class="form-row">
                <div class="col-8 col-sm-2 col-lg-6  pr-1">
                    <fieldset class="form-group">
                        @Html.Label(EduSuiteUIResources.DateOfBirth, htmlAttributes: new { @id = "lblDateOfBirth", @class = "form-label" })
                        <div class="required-icon"><div class="text">*</div></div>
                        @Html.TextBoxFor(m => m.DateOfBirth, "{0:dd/MM/yyyy}", new { @class = "form-control input-control", @data_input_type = "date", @InputFor = "lblDateOfBirth", @data_inputmask = "'alias': 'dd/mm/yyyy'" })
                        <span class="form-control-error-text">
                            @Html.ValidationMessageFor(m => m.DateOfBirth)
                        </span>
                    </fieldset>
                </div>
                <div class="col-4 col-sm-1 col-lg-2 pl-1">
                    <fieldset class="form-group">
                        @Html.Label(EduSuiteUIResources.Age, htmlAttributes: new { @id = "lblAge", @class = "form-label" })
                        @Html.TextBoxFor(m => m.Age, new { @class = "form-control input-control", @InputFor = "lblAge", @readonly = "readonly" })
                        <span class="form-control-error-text">
                            @Html.ValidationMessageFor(m => m.Age)
                        </span>
                    </fieldset>
                </div>

                <div class="col-12 col-lg-12">
                    <fieldset class="form-group">
                        @Html.Label(EduSuiteUIResources.Remarks, new { @id = "lblDepartment", @class = "form-label" })

                        @Html.TextBoxFor(m => m.Remarks, new { @class = "form-control input-control", @InputFor = "lblEmailAddress", @data_convert = "lowercase" })
                        <span class="form-control-error-text">
                            @Html.ValidationMessageFor(m => m.Remarks)
                        </span>
                    </fieldset>

                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer justify-content-start">
        <div class="form-group">
            <input type="submit" value="@EduSuiteUIResources.Submit" id="btnSave" class="btn btn-sm btn-success mx-1" />
            <button type="button" data-dismiss="modal" class="btn btn-sm btn-danger mx-1">@EduSuiteUIResources.Cancel</button>

        </div>
    </div>



}



<script>
    $(document).ready(function () {
        AppCommon.FormatDateInput();
        setTimeout(function () {
            
            @*if( @Model.RowKey==0)
            {

                var date = new Date();
                var month = date.getMonth() + 1;
                var m = month < 10 ? '0' + month : '' + month;
                var day = date.getDate();
                var d = day < 10 ? '0' + day : '' + day;
                date.setFullYear(date.getFullYear() - 18);
                var dateofbirth = d + '/' + m + '/' + (date.getFullYear());
                $("#DateOfBirth").val(dateofbirth);
                $("#Age").val(getAge(dateofbirth));

            }
            else
            {
                var dateofbirth= $("#DateOfBirth").val();



                $("#Age").val(getAge(dateofbirth));
            }*@
            if( @Model.RowKey==0)
            {

                //var date = new Date();
                //var month = date.getMonth() + 1;
                //var m = month < 10 ? '0' + month : '' + month;
                //var day = date.getDate();
                //var d = day < 10 ? '0' + day : '' + day;
                //date.setFullYear(date.getFullYear() - 18);
                //var dateofbirth = d + '/' + m + '/' + (date.getFullYear());
                $("#DateOfBirth").val(moment().add('years', -18).format("DD/MM/YYYY"));
                $("#Age").val(getAge(moment().add('years', -18)));

            }
            else
            {
                var dateofbirth= $("#DateOfBirth").val();
                $("#Age").val(getAge( moment(dateofbirth, 'DD/MM/YYYY')));               
            }
            $("#DateOfBirth").on("changeDate", function (ev) {
                $("#Age").val(AppCommon.GetAge(ev.date));
            });
        }, 500)
    });

    function getAge(dateString) {
        
        var today = new Date();
        var birthDate = new Date(dateString);
        var age = today.getFullYear() - birthDate.getFullYear();
        var m = today.getMonth() - birthDate.getMonth();
        if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
            age--;
        }

        //$("#Age").val(age);
        return age;

    }
</script>
