@model CITS.EduSuite.Business.Models.ViewModels.UniversityPaymentViewmodel
@using CITS.EduSuite.Business.Models.ViewModels

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/CitsValidation")
    @Scripts.Render("~/Content/DatePickerJS")
    @Scripts.Render("~/Content/Select2JS")
    @Scripts.Render("~/Content/JqueryRepeater")
    @Scripts.Render("~/Scripts/UniversityPayment")
}
<header class="section-header">
    <div class="row justify-content-between px-1">
        <div class="col-12">
            <div class="tbl">
                <div class="tbl-row">
                    <div class="tbl-cell">
                        <h3>@EduSuiteUIResources.Add @EduSuiteUIResources.Sla @EduSuiteUIResources.Edit@EduSuiteUIResources.BlankSpace @EduSuiteUIResources.AffiliationsTieUpsPayment</h3>
                        <ol class="breadcrumb breadcrumb-simple mb-2 float-sm-right">
                            <li><a href="#" onclick="location.href='@Url.Action("UniversityPaymentDetails", "UniversityPayment")' ">@EduSuiteUIResources.AffiliationsTieUpsPayment</a></li>
                            <li class="active">@EduSuiteUIResources.Add @EduSuiteUIResources.Sla @EduSuiteUIResources.Edit@EduSuiteUIResources.BlankSpace @EduSuiteUIResources.AffiliationsTieUpsPayment</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

    </div>

</header>
<section class="section-content mx-sm-3 mx-0">
    @Html.Action("UniversityFeePayment", "UniversityPayment", new { id = Model.ApplicationKey })
</section>