@model CITS.EduSuite.Business.Models.ViewModels.UniversityPaymentViewmodel

@using System.Web.Mvc

@section scripts{

    @Scripts.Render("~/Scripts/UniversityPayment")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/CitsValidation")
    @Scripts.Render("~/Content/DatePickerJS")
    @Scripts.Render("~/Content/Select2JS")
    @Scripts.Render("~/Content/JqueryRepeater")
}

<input type="hidden" id="hdnGetApplications" value="@Url.Action("GetApplications", "UniversityPayment")" />
<input type="hidden" id="hdnAddUniversityFeeDetails" value="@Url.Action("AddUniversityFeeDetails", "UniversityPayment")" />
<input type="hidden" id="hdnFillBatch" value="@Url.Action("FillBatch", "UniversityPayment")" />


<div class="card-header">
    <header class="section-header">
        <div class="row justify-content-between px-1">
            <div class="col-sm-6 col-12">
                <div class="tbl">
                    <div class="tbl-row">
                        <div class="tbl-cell">
                            <h3>@EduSuiteUIResources.AffiliationsTieUpsPayment</h3>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 text-right">
                <a href="@Url.Action("AddBulkUniversityPayment", "UniversityPayment")" class="btn btn-success btn-sm "><i class="fa fa-plus-square-o"></i> <span>@EduSuiteUIResources.Bulk@EduSuiteUIResources.BlankSpace@EduSuiteUIResources.University@EduSuiteUIResources.Payment</span></a>
            </div>
        </div>
    </header>
</div>
<div class="card-body">
    <section class="section-content mx-sm-3 mx-0">
        <div class="GridBody">
            <div class="grid-nav-bar form-row">

                @if (Model.Branches.Count == 1)
                {
                    {
                        Model.BranchKey = (Model.BranchKey == 0 || Model.BranchKey == null) ? (short)Model.Branches.Select(x => x.RowKey).FirstOrDefault() : Model.BranchKey;
                    }
                    @Html.HiddenFor(m => m.BranchKey)
                }
                else
                {
                    <div class="col-lg-2 col-sm-4 col-6">
                        <fieldset class="form-group">
                            @Html.DropDownListFor(m => m.BranchKey, new SelectList(Model.Branches, "RowKey", "Text"), EduSuiteUIResources.Branch, new { @class = "form-control input-control ", @data_live_search = "true" })
                        </fieldset>
                    </div>
                }
                <div class="col-lg-2 col-sm-4 col-6">
                    <div class="form-group">
                        @Html.DropDownListFor(m => m.SearchCourseKey, new SelectList(Model.Courses, "RowKey", "Text"), EduSuiteUIResources.Select + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.Course, new { @class = "form-control input-control autohide-select", @data_plugin_type = "select2", @data_live_search = "true" })
                    </div>
                </div>
                @if (Model.Universities.Count == 1)
                {
                    {
                        Model.SearchUniversityKey = (Model.SearchUniversityKey == 0) ? (short)Model.Universities.Select(x => x.RowKey).FirstOrDefault() : Model.SearchUniversityKey;
                    }
                    @Html.HiddenFor(m => m.SearchUniversityKey)
                    @Html.Hidden("UniversityCount", 1)
                }
                else
                {
                    <div class="col-lg-2 col-sm-4 col-6">
                        <div class="form-group">
                            @Html.DropDownListFor(m => m.SearchUniversityKey, new SelectList(Model.Universities, "RowKey", "Text"), EduSuiteUIResources.Select + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.University, new { @class = "form-control input-control autohide-select", @data_plugin_type = "select2", @data_live_search = "true" })
                        </div>
                    </div>
                }

                <div class="col-lg-2 col-sm-4 col-6">
                    <div class="form-group">
                        @Html.DropDownListFor(m => m.BatchKey, new SelectList(Model.Batches, "RowKey", "Text"), EduSuiteUIResources.Select + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.Batch, new { @class = "form-control input-control autohide-select", @data_plugin_type = "select2", @data_live_search = "true" })
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4 col-6">
                    <div class="form-group">
                        <input id="txtSearchApplicantName" type="text" name="focus" class="form-control gridSearchTextBox" placeholder="@EduSuiteUIResources.Search@EduSuiteUIResources.BlankSpace@EduSuiteUIResources.Name@EduSuiteUIResources.Coma@EduSuiteUIResources.AdmissionNo" /> @* Change Search TextBox Placeholder*@
                        <span id="iconSpanName" class="iconSpan"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4 col-6">
                    <input id="txtSearchMobileNumber" type="text" name="focus" class="form-control gridSearchTextBox" placeholder="@EduSuiteUIResources.Search@EduSuiteUIResources.BlankSpace@EduSuiteUIResources.MobileNumber" />
                    <span id="iconSpanMobileNumber" class="iconSpan"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
                </div>
                <div class="col-lg-2 col-sm-4 col-6 float-right d-none">
                    <a class="btn btn-info btn-sm float-right " onclick='window.location.reload()'>
                        <i class="fa fa-refresh"></i>   Refresh
                    </a>
                </div>

            </div>

            <div class="table-wrapper">

                <div class="jqGrid_wrapper overflow-auto">
                    <table id="grid"></table>
                    <div id="pager"></div>
                </div>
            </div>


        </div>
    </section>
</div>
<script>
    $(document).ready(function () {

        $("#txtSearchApplicantName").on("input", function () {
            UniversityPayment.GetApplication();
        });
        $("#txtSearchMobileNumber").on("input", function () {
            UniversityPayment.GetApplication();
        });

        $("#iconSpanMobileNumber").click(function () {
            $('#txtSearchMobileNumber').val('');
            UniversityPayment.GetApplication();
        });
        $("#iconSpanName").click(function () {
            $('#txtSearchApplicantName').val('');
            UniversityPayment.GetApplication();
        });

        $("#BranchKey").change(function () {
            var obj = {};
            obj.BranchKey = $(this).val() != "" ? $(this).val() : 0;
            AppCommon.BindDropDownbyId(obj, $("#hdnFillBatch").val(), $("#BatchKey"), Resources.Batch);
            UniversityPayment.GetApplication();
        });
        $("#BatchKey").change(function () {
            UniversityPayment.GetApplication();
        });
        $("#SearchCourseKey").change(function () {
            UniversityPayment.GetApplication();
        });
        $("#SearchUniversityKey").change(function () {
            UniversityPayment.GetApplication();
        });
        UniversityPayment.GetApplication();


    });
</script>
