@model List<CITS.EduSuite.Business.Models.ViewModels.StudentAbscondersViewModel>
@using CITS.EduSuite.Business.Models.ViewModels
@using CITS.EduSuite.UI


<input type="hidden" id="hdnAddEditStudentAbsconders" value="@Url.Action("AddEditStudentAbsconders", "StudentsAbsconders", new { id = "" })" />
<input type="hidden" id="hdnDeleteStudentAbsconders" value="@Url.Action("DeleteStudentAbsconders", "StudentsAbsconders", new { id = "" })" />
<input type="hidden" id="hdnUpdateStatusStudentAbsconders" value="@Url.Action("UpdateStatusStudentAbsconders", "StudentsAbsconders", new { id = "" })" />
<input type="hidden" id="hdnStudentAbscondersList" value="@Url.Action("StudentAbscondersList", "StudentsAbsconders", new { id = "" })" />




<section class="card">
    <header class="card-header  w3-indigo">
        @EduSuiteUIResources.StudentsAbsconders @EduSuiteUIResources.BlankSpace @EduSuiteUIResources.Details
    </header>
    <div class="card-body p-2 overflow-auto">
        <table class="table table-bordered table-sm" id="divInstallmentFeeDetails">

            <thead>
                <tr>
                    <th>
                        @Html.Label(EduSuiteUIResources.Date, htmlAttributes: new { @class = "form-label" })
                    </th>
                    <th>
                        @Html.Label("Pardon it", htmlAttributes: new { @class = "form-label" })
                    </th>

                    <th>
                        @Html.Label(EduSuiteUIResources.Remarks, htmlAttributes: new { @class = "form-label" })
                    </th>
                    <th>
                        @Html.Label(EduSuiteUIResources.Action, htmlAttributes: new { @class = "form-label" })
                    </th>

                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {

                    <tr data-repeater-item>
                        <td>

                            @String.Format("{0:dd/MM/yyyy}", Model[i].AbscondersDate)
                            @Html.HiddenFor(m => m[i].RowKey)
                            @Html.HiddenFor(m => m[i].ApplicationsKey)
                            @Html.HiddenFor(m => m[i].IsAbsconders)
                        </td>
                        <td>
                           @if (Model[i].IsAbsconders)
                           {
                            <span class="badge badge-success">@Model[i].IsAbscondersText</span>
                           }
                           else
                           {
                            <span class="badge badge-warning">@Model[i].IsAbscondersText</span>
                           }
                           
                        </td>
                        <td>
                            @Model[i].Remarks

                        </td>
                        <td>
                            <div class="btn-group">
                                @if (Model[i].IsAbsconders == false)
                                {
                                    <button type="button" class="btn btn-primary btn-sm mx-1" onclick="javascript:StudentAbsconders.UpdateStudentAbsconders('@Model[i].RowKey','@Model[i].ApplicationsKey');return false;">  <i class="fa fa-link pointer" aria-hidden="true"></i> Condemed </button>
                                }
                                <button type="button" class="btn btn-primary btn-sm mx-1 btnfeeEdit" onclick="javascript:StudentAbsconders.AddEditStudentAbsconders('@Model[i].RowKey');"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                <button type="button" class="btn btn-danger btn-sm mx-1" onclick="javascript:StudentAbsconders.DeleteStudentAbsconders('@Model[i].RowKey','@Model[i].ApplicationsKey');return false;">  <i class="fa fa-trash pointer" aria-hidden="true"></i>  </button>


                            </div>
                        </td>

                    </tr>


                }
            </tbody>


        </table>
    </div>
</section>
