@model CITS.EduSuite.Business.Models.ViewModels.ApplicationViewModel
@using CITS.EduSuite.Business.Models.ViewModels

@section scripts{
    @Scripts.Render("~/bundles/lightbox")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Content/JqueryRepeater")
    @Scripts.Render("~/Scripts/ApplicationFeePayment")
    @Scripts.Render("~/Scripts/Application")
    @Scripts.Render("~/Scripts/AttendanceReport")
    @Scripts.Render("~/Scripts/ChartJS")
    @Scripts.Render("~/Content/BootstrapTableJS")
    @Scripts.Render("~/Scripts/PrintInvoice")
}
<input type="hidden" id="hdnAttendanceAcademicPerfomance" value="@Url.Action("AttendanceAcademicPerfomance", "Application", new { id = Model.RowKey })" />
<input type="hidden" id="hdnTotalFeeDetails" value="@Url.Action("TotalFeeDetails", "ApplicationFeePayment" ,new { id=Model.RowKey})" />
<input type="hidden" id="hdnInstallmentFeeDetails" value="@Url.Action("InstallmentFeeDetails", "ApplicationFeePayment" , new { id=Model.RowKey })" />
<input type="hidden" id="hdnGetAttendanceReport" value="@Url.Action("GetAttendanceReport", "Report")" />
<input type="hidden" id="hdnGetApplicationAttendance" value="@Url.Action("GetApplicationAttendance", "Report")" />
<input type="hidden" id="hdnUpdateStudentPhonNo" value="@Url.Action("UpdateStudentPhonNo", "Application")" />
<input type="hidden" id="hdnViewApplication" value="@Url.Action("ViewApplication", "Application", new { id = "" })" />
<input type="hidden" id="hdnViewApplicationDetails" value="@Url.Action("ViewApplicationDetails", "Application", new { id = "" })" />
<input type="hidden" id="hdnGetStudentNavigation" value="@Url.Action("GetStudentNavigation", "Application")" />
<input type="hidden" id="hdnGetStudentNavigationPath" value=@Url.Content("~/Templates/Student/StudentNavigation.html") />

<input type="hidden" id="hdnPrintApplication" value="@Url.Action("PrintApplication", "Application")" />
<input type="hidden" id="hdnApplicationFormPath" value=@Url.Content("~/Templates/Student/ApplicationForm.html") />
<header class="section-header">
    <div class="row justify-content-between px-1">
        <div class="col-12">
            <div class="tbl">
                <div class="tbl-row  px-1">

                   
                    <div class="tbl-cell">

                        <h3>@EduSuiteUIResources.View@EduSuiteUIResources.BlankSpace@EduSuiteUIResources.Application</h3>


                        <ol class="breadcrumb breadcrumb-simple mt-2 float-sm-right">
                            <li><a href="#" onclick="location.href='@Url.Action("applicationlist","application")' ">@EduSuiteUIResources.Application</a></li>
                            <li class="active">@EduSuiteUIResources.View@EduSuiteUIResources.BlankSpace@EduSuiteUIResources.Application</li>
                        </ol>
                        <a class="btn btn-sm btn-info float-sm-right mr-3" onclick="PrintInvoice.PrintApplicationForm(this,@Model.RowKey)">
                            <i class="fa fa-print" aria-hidden="true"></i> @EduSuiteUIResources.Print@EduSuiteUIResources.BlankSpace@EduSuiteUIResources.Application
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="section-content p-0 mx-sm-3 mx-0">
    <div id="dvStudentNav">

    </div>

    <div class="ViewMaster" id="DivApplicationDetails">




    </div>

</section>
<script>
    $(document).ready(function () {
        Application.GetApplicationDetails(@Model.RowKey);



    })
</script>
<style>
    .timeline, .timeline li *::after, .timeline, .timeline li *::before {
        box-sizing: border-box;
        font-size: 9px;
    }
    /*.timeline ::after, .timeline ::before {
        box-sizing: border-box;
        font-size: 9px;
    }   .timeline li ::after, .timeline li::before {
        box-sizing: border-box;
        font-size: 9px;
    }*/

    .timeline {
        --timeline-color: #9bc;
        position: relative;
        list-style: none;
        display: inline-flex;
        flex-wrap: nowrap;
        margin: 0;
        padding: 0;
        /* set here the height of the timeline */
        height: 155px;
    }

        /* middle line */
        .timeline:before {
            content: "";
            position: absolute;
            top: calc(50% - 1px);
            width: 100%;
            height: 2px;
            background: var(--timeline-color);
        }

        .timeline li {
            margin: 0 0px;
            min-width: 100px;
            align-self: flex-start;
        }

            /*  event in even position are bottom-aligned */
            .timeline li:nth-child(2n) {
                align-self: flex-end;
            }

        .timeline div {
            position: relative;
            padding: 2px;
            border: 1px var(--timeline-color) solid;
        }

            .timeline div p {
                margin: 0px;
            }

                .timeline div p:last-child {
                    margin-bottom: 8px;
                }

        /* style for the dot over the timeline */
        .timeline li:before {
            content: "";
            position: absolute;
            top: 50%;
            margin-left: 50px;
            transform: translate(-50%, -50%);
            border: 1px #9bc solid;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: var(--timeline-color);
        }

        /* style for the event arrow */
        .timeline div:before {
            content: "";
            position: absolute;
            left: 50%;
            top: 100%;
            width: 20px;
            height: 20px;
            transform: translate(-50%, -1px) rotateZ(45deg);
            background: #fff;
        }

        /* position of the event arrow in odd position */
        .timeline li:nth-child(2n - 1) div:before {
            top: 100%;
            margin-top: -8px;
            border-right: 1px var(--timeline-color) solid;
            border-bottom: 1px var(--timeline-color) solid;
        }

        /* position of the event arrow in even position */
        .timeline li:nth-child(2n) div:before {
            top: 0;
            margin-top: -10px;
            border-left: 1px var(--timeline-color) solid;
            border-top: 1px var(--timeline-color) solid;
        }
</style>