@model CITS.EduSuite.Business.Models.ViewModels.DivisionAllocationViewModel

@using CITS.EduSuite.Business.Models.ViewModels

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Content/JqueryRepeater")
    @Scripts.Render("~/Scripts/Common")
    @Scripts.Render("~/bundles/CitsValidation")
    @Scripts.Render("~/Scripts/DivisionAllocation")
    @Scripts.Render("~/Content/DatePickerJS")

}

<input type="hidden" id="hdnFillCourseType" value="@Url.Action("FillCourseType", "DivisionAllocation")" />
<input type="hidden" id="hdnFillClassDetails" value="@Url.Action("FillClassDetails", "DivisionAllocation")" />
<input type="hidden" id="hdnDeleteDivisionAllocation" value="@Url.Action("DeleteDivisionAllocation", "DivisionAllocation")" />
<input type="hidden" id="hdnDivisionAllocationList" value="@Url.Action("DivisionAllocationList", "DivisionAllocation")" />

<input type="hidden" id="hdnFillBatch" value="@Url.Action("FillBatch", "DivisionAllocation")" />
<input type="hidden" id="hdnUrl" value="@Url.Action("GetDivisionAllocation", "DivisionAllocation", new { id = "" })" />
<input type="hidden" id="hdnGenerateRollnumber" value="@Url.Action("GenerateRollnumber", "DivisionAllocation")" />
<input type="hidden" id="hdnResetDivisionAllocation" value="@Url.Action("ResetDivisionAllocation", "DivisionAllocation")" />

<header class="section-header">
    <div class="row justify-content-between px-1">
        <div class="col-12">
            <div class="tbl">
                <div class="tbl-row">
                    <div class="tbl-cell">
                        <h3>@EduSuiteUIResources.Add@EduSuiteUIResources.Hyphen@EduSuiteUIResources.Edit@EduSuiteUIResources.BlankSpace@EduSuiteUIResources.GenerateRollNo</h3>
                        <ol class="breadcrumb breadcrumb-simple mb-2 float-sm-right">
                            <li><a href="#" onclick="location.href='@Url.Action("DivisionAllocationList", "DivisionAllocation")' ">@EduSuiteUIResources.GenerateRollNo</a></li>
                            <li class="active">@EduSuiteUIResources.Add@EduSuiteUIResources.Hyphen@EduSuiteUIResources.Edit@EduSuiteUIResources.BlankSpace@EduSuiteUIResources.GenerateRollNo</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="section-content mx-sm-3 mx-0">
    <div class="form-master">
        @using (Html.BeginForm("AddEditDivisionAllocationSubmit", "DivisionAllocation", FormMethod.Post, new { @id = "frmDivisionAllocation" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="form-row">

                @Html.HiddenFor(m => m.GenderPriority)
                @Html.HiddenFor(m => m.GenderPriorityCount)

                @if (Model.Branches.Count == 1)
                {
                    {
                        Model.BranchKey = (Model.BranchKey == 0 || Model.BranchKey == null) ? (short)Model.Branches.Select(x => x.RowKey).FirstOrDefault() : Model.BranchKey;
                    }
                    @Html.HiddenFor(m => m.BranchKey)
                }
                else
                {
                    <div class="col-12 col-sm-3 col-lg-2">
                        <fieldset class="form-group">
                            @Html.Label(EduSuiteUIResources.Branch, htmlAttributes: new { @id = "lblBranch", @class = "form-label" })
                            <div class="required-icon"><div class="text">*</div></div>
                            @Html.DropDownListFor(m => m.BranchKey, new SelectList(Model.Branches, "RowKey", "Text"), EduSuiteUIResources.Select + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.Branch, new { @class = "form-control input-control", @InputFor = "lblBranch", @data_live_search = "true" })
                            <span class="form-control-error-text">
                                @Html.ValidationMessageFor(m => m.BranchKey)
                            </span>
                        </fieldset>
                    </div>
                }

                <div class="col-lg-2 col-sm-4 col-6">
                    <fieldset class="form-group ">
                        @Html.Label(EduSuiteUIResources.CourseType, htmlAttributes: new { @class = "form-label" })<div class="required-icon"><div class="text">*</div></div>
                        @Html.DropDownListFor(m => m.CourseTypeKey, new SelectList(Model.CourseTypes, "RowKey", "Text"), EduSuiteUIResources.Select + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.CourseType, new { @class = "form-control border-radius input-control autoselect-select" })
                        <span class="form-control-error-text">
                            @Html.ValidationMessageFor(m => m.CourseTypeKey)
                        </span>
                    </fieldset>
                </div>
                <div class="col-lg-2 col-sm-4 col-6">
                    <fieldset class="form-group ">
                        @Html.Label(EduSuiteUIResources.ClassCode, htmlAttributes: new { @class = "form-label" })<div class="required-icon"><div class="text">*</div></div>
                        @Html.DropDownListFor(m => m.ClassDetailsKey, new SelectList(Model.ClassDetails, "RowKey", "Text"), EduSuiteUIResources.Select + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.ClassCode, new { @class = "form-control input-control  selectpicker", @data_live_search = "true" })
                        <span class="form-control-error-text">
                            @Html.ValidationMessageFor(m => m.ClassDetailsKey)
                        </span>
                        @Html.HiddenFor(m => m.CourseKey)
                        @Html.HiddenFor(m => m.UniversityMasterKey)
                        @Html.HiddenFor(m => m.AcademicTermKey)
                        @Html.HiddenFor(m => m.CourseYear)
                    </fieldset>
                </div>
                <div class="col-lg-2 col-sm-4 col-6">
                    <fieldset class="form-group ">
                        @Html.Label(EduSuiteUIResources.Batch, htmlAttributes: new { @class = "form-label" })<div class="required-icon"><div class="text">*</div></div>
                        @Html.DropDownListFor(m => m.BatchKey, new SelectList(Model.Batches, "RowKey", "Text"), EduSuiteUIResources.Select + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.Batch, new { @class = "form-control border-radius input-control autoselect-select" })
                        <span class="form-control-error-text">
                            @Html.ValidationMessageFor(m => m.BatchKey)
                        </span>
                    </fieldset>
                </div>
                <div class="col-lg-2 col-sm-4 col-6 d-none" id="divNoOfStudents">
                    <fieldset class="form-group ">
                        @Html.Label(EduSuiteUIResources.NoOfStudents, htmlAttributes: new { @class = "form-label" })<div class="required-icon"><div class="text">*</div></div>
                        @Html.TextBoxFor(m => m.NoOfStudents, new { @class = "form-control input-control", @InputFor = "lblNoOfStudents", @oninput = "CheckByNoOfStudents(this)" })

                        <span class="form-control-error-text">
                            @Html.ValidationMessageFor(m => m.NoOfStudents)
                        </span>
                    </fieldset>
                </div>
            </div>

            <div id="dvStudentsList"></div>

            <div class="row mt-2">
                <div class="form-group">
                    <div class="col-12">
                        <fieldset class="form-group">
                            <input type="button" value="@EduSuiteUIResources.Save" id="btnSave" class="btn btn-sm btn-success mx-1" />
                            <input type="button" value="@EduSuiteUIResources.Cancel" onclick="location.href='@Url.Action("DivisionAllocationList", "DivisionAllocation")' " class="btn btn-sm btn-danger mx-1" />
                        </fieldset>
                        <div class="col-12 paddingNone">
                            <span class="text-danger"><strong> @Html.ValidationMessage("error_msg")</strong>  </span>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
<script>
    var jsonData=@(Html.Raw(Json.Encode(Model)));

    $(document).ready(function () {
        debugger
        AppCommon.FormatInputCase();
        AppCommon.FormatDateInput();
        AppCommon.CustomRemoteMethod();

        //$("#DivisionAllocationDate").datepicker("update",AppCommon.JsonDateToServerDate(jsonData["DivisionAllocationDate"]));
        DivisionAllocation.LoadData(jsonData);

        $("#btnSave").on("click",function(){
            DivisionAllocation.EditRollNoPopUp();
            //if($("input[type=checkbox][name*=IsActive]:checked").length==0)
            //{
            //    //alert("Please select atleast one Record !.");
            //    EduSuite.AlertMessage({ title: Resources.Warning, content: "Please select atleast one Record !.", type: 'orange' })
            //    return false;
            //}
            //else
            //{
            //    //var CheckBoxes=$("input[type=checkbox][name*=IsActive]:checked");
            //    //var arr=[];
            //    //var arr=[];
            //    //var obj = {};
            //    //$(CheckBoxes).each(function(){
            //    //    var item=$(this).closest("[data-repeater-item]");
            //    //    var applicationKey=$("[name*=ApplicationKey]",$(item)).val();
            //    //    arr.push(applicationKey);
            //    //})

            //    //$("#ApplicationKeys", $("#frmDivisionAllocation")).val(arr.join(","));

            //    //DivisionAllocation.EditRollNoPopUp(arr.join(","),false);
            //    DivisionAllocation.EditRollNoPopUp();
            //}

        })



        // Bind Class Details

        $("#CourseTypeKey").on("change", function () {
            var obj={};
            obj.key=$(this).val()!=""?$(this).val():0;
            AppCommon.BindDropDownbyId(obj, $("#hdnFillClassDetails").val(), $("#ClassDetailsKey"), Resources.ClassCode);
        });

        //Bind Batch

        $("#ClassDetailsKey,#BranchKey").on("change", function () {
            var obj={};
            obj.Branchkey=$("#BranchKey").val()!=""?$("#BranchKey").val():0;
            obj.ClassDetailsKey=$("#ClassDetailsKey").val()!=""?$("#ClassDetailsKey").val():0;
            //obj.UniversityMasterKey=$("#UniversityMasterKey").val()!=""?$("#UniversityMasterKey").val():0;
            AppCommon.BindDropDownbyId(obj, $("#hdnFillBatch").val(), $("#BatchKey"), Resources.Batch);
        });

        $("#BranchKey,#BatchKey,#ClassDetailsKey").on("change", function () {
            DivisionAllocation.LoadData(jsonData);
        });      

    });
    function CheckByNoOfStudents(_this)
    {
        var CheckBoxes=$("input[type=checkbox][name*=IsActive]");
        var length=$(_this).val();
        length=parseInt(length)?parseInt(length):0;
        $(CheckBoxes).each(function(){
            if(!this.disabled)
            {
                this.checked=false;
                $(this).trigger("change")
            }
        })
        for(var i=0;i<length;i++)
        {
            if(!CheckBoxes[i].disabled)
            {
                CheckBoxes[i].checked=true;
                $(CheckBoxes[i]).trigger("change")
            }
        }
    }

    function checkNoOfStudents(_this)
    {

        if($("#DivisionKey").val()!= 0)
        {
            $("#divNoOfStudents").show();
        }
        else
        {
            $("#divNoOfStudents").hide();
        }
    }



</script>
