@model CITS.EduSuite.Business.Models.ViewModels.BankAccountViewModel

@using System.Web.Mvc

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/BankAccount")
    @Scripts.Render("~/Content/DatePickerJS")
}
<input type="hidden" id="hdnGetBankAccounts" value="@Url.Action("GetBankAccounts", "BankAccount")" />
<input type="hidden" id="hdnDeleteBankAccount" value="@Url.Action("DeleteBankAccount", "BankAccount")" />
<input type="hidden" id="hdnAddEditBankAccount" value="@Url.Action("AddEditBankAccount", "BankAccount")" />
<input type="hidden" id="hdnGetBankBranches" value="@Url.Action("GetBankBranches", "BankAccount")" />


<header class="section-header">
    <div class="row  px-1">
        <div class="col-sm-6 col-12">
            <div class="tbl">
                <div class="tbl-row">
                    <div class="tbl-cell">
                        <h3>@EduSuiteUIResources.BankAccount</h3>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 text-right">
            <a id="addEditBankAccount" data-href="@Url.Action("AddEditBankAccount", "BankAccount")" class="btn btn-success btn-sm "><i class="fa fa-plus-square-o"></i> <span>@EduSuiteUIResources.New @EduSuiteUIResources.BlankSpace @EduSuiteUIResources.BankAccount</span></a>
        </div>
    </div>
</header>
<section class="section-content mx-sm-3 mx-0">
    <div class="GridBody">

        <div class="grid-nav-bar form-row justify-content-between">
            <div class="col-lg-3 col-6">
                @Html.DropDownListFor(m => m.BranchKey, new SelectList(Model.Branches, "RowKey", "Text"), EduSuiteUIResources.Select + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.Branch, new { @class = "form-control input-control ", @InputFor = "lblBranch" })
            </div>
            <div class="col-lg-3 col-6">
                <input id="txtsearch" type="text" name="focus" class="form-control gridSearchTextBox" placeholder="@EduSuiteUIResources.SearchBankAccount" /> @* Change Search TextBox Placeholder*@
                <span id="iconSpan" class="iconSpan"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
            </div>

            <div class="col-6">
                <a class="btn btn-info btn-sm float-right " onclick='window.location.reload()'>
                    <i class="fa fa-refresh"></i>   @EduSuiteUIResources.Refresh
                </a>
            </div>

        </div>
        <div class="table-wrapper">

            <div class="jqGrid_wrapper overflow-auto">
                <table id="grid"></table>
                <div id="pager"></div>
            </div>
        </div>


    </div>
</section>
<script>
    $(document).ready(function () {

        $("#txtsearch").keydown(function () {
            BankAccount.GetBankAccounts();
        });
        $("#txtsearch").keyup(function () {
            BankAccount.GetBankAccounts();
        });

        $("#iconSpan").click(function () {
            $('#txtsearch').val('');
            BankAccount.GetBankAccounts();
        });
        $("#BranchKey").on("change", function () {
            BankAccount.GetBankAccounts();
        })
        BankAccount.GetBankAccounts();
        AppCommon.EditGridPopup($("#addEditBankAccount"), BankAccountPopupLoad);

    });
</script>


