@model CITS.EduSuite.Business.Models.ViewModels.BankTransactionViewModel
@using System.Web.Mvc
@using CITS.EduSuite.Business.Models.ViewModels

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/CitsValidation")
    @Scripts.Render("~/Scripts/BankTransaction")
    @Scripts.Render("~/Content/DatePickerJS")
    @Scripts.Render("~/Scripts/PrintInvoice")
}

<input type="hidden" id="hdnGetBankTransactionsByType" value="@Url.Action("GetBankTransactionsByType", "BankTransaction")" />
<input type="hidden" id="hdnDeleteBankTransaction" value="@Url.Action("DeleteBankTransaction", "BankTransaction")" />
<input type="hidden" id="hdnGetBankAccountById" value="@Url.Action("GetBankAccountById", "BankTransaction")" />
<input type="hidden" id="hdnAddEditBankTransaction" value="@Url.Action("AddEditBankTransaction", "BankTransaction")" />
<input type="hidden" id="hdnPrintReciept" value="@Url.Action("PrintReciept", "PrintInvoice")" />
<input type="hidden" id="hdnVoucherPath" value=@Url.Content("~/UploadedFiles/InvoiceTemplate/Voucher.html") />
<input type="hidden" id="hdnDummyReceiptPath" value=@Url.Content("~/UploadedFiles/InvoiceTemplate/Receipt.html") />
<input type="hidden" id="hdnReceiptPath" value=@Url.Content("~/UploadedFiles/InvoiceTemplate/Receipt.html") />

<header class="section-header">
    <div class="row justify-content-between px-1">
        <div class="col-sm-6 col-12">
            <div class="tbl">
                <div class="tbl-row">
                    <div class="tbl-cell">
                        <h3>@EduSuiteUIResources.BankTransaction</h3>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-3 text-right">
            <a onclick="BankTransaction.EditPopup('@DbConstants.BankTransactionType.Deposit',null)" class="btn btn-success btn-sm "><i class="fa fa-plus-square-o"></i> <span>@EduSuiteUIResources.Deposit</span></a>

            <a onclick="BankTransaction.EditPopup('@DbConstants.BankTransactionType.Withdrawal',null)" class="btn btn-danger btn-sm "><i class="fa fa-plus-square-o"></i> <span>@EduSuiteUIResources.withdraw</span></a>

            <a onclick="BankTransaction.EditPopup('@DbConstants.BankTransactionType.AccountTransfer',null)" class="btn btn-primary btn-sm "><i class="fa fa-plus-square-o"></i> <span>@EduSuiteUIResources.AccountTransfer</span></a>

        </div>
    </div>
</header>
<section class="section-content mx-sm-3 mx-0">
    <div class="GridBody">

        <div class="grid-nav-bar">

            <div class=" form-row ">
                @if (Model.Branches.Count == 1)
                {
                    {
                        Model.BranchKey = Model.BranchKey == 0 ? (short)Model.Branches.Select(x => x.RowKey).FirstOrDefault() : Model.BranchKey;
                    }
                    @Html.HiddenFor(m => m.BranchKey)
                }
                else
                {

                    <div class="col-12 col-sm-3 col-lg-2 ">
                        <fieldset class="form-group">
                            @Html.DropDownListFor(m => m.BranchKey, new SelectList(Model.Branches, "RowKey", "Text"), EduSuiteUIResources.Select + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.Branch, new { @class = "form-control input-control", @InputFor = "lblBranch", @data_live_search = "true" })
                            <span class="form-control-error-text">
                                @Html.ValidationMessageFor(m => m.BranchKey)
                            </span>
                        </fieldset>
                    </div>
                }

                <div class="col-12 col-sm-3 col-lg-2 ">
                    <fieldset class="form-group">
                        @Html.DropDownListFor(m => m.BankTransactionTypeKey, new SelectList(Model.BankTransactionTypes, "RowKey", "Text"), EduSuiteUIResources.Select + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.BankTransaction, new { @class = "form-control input-control", @InputFor = "lblBranch", @data_live_search = "true" })
                        <span class="form-control-error-text">
                            @Html.ValidationMessageFor(m => m.BankTransactionTypeKey)
                        </span>
                    </fieldset>
                </div>
                <div class="col-12 col-sm-3 col-lg-2 ">
                    <fieldset class="form-group">
                        @Html.DropDownListFor(m => m.SearchBankAccountKey, new SelectList(Model.SearchBankAccounts, "RowKey", "Text"), EduSuiteUIResources.Select + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.BankAccount, new { @class = "form-control input-control", @data_live_search = "true" })
                        <span class="form-control-error-text">
                            @Html.ValidationMessageFor(m => m.SearchBankAccountKey)
                        </span>
                    </fieldset>
                </div>
                <div class="col-12 col-sm-3 col-lg-2 ">
                    <fieldset class="form-group">
                        @Html.TextBoxFor(m => m.SearchDate, "{0:dd/MM/yyyy}", new { @class = "form-control input-control", @data_input_type = "date", @data_inputmask = "'alias': 'dd/mm/yyyy'", @placeholder = "" + @EduSuiteUIResources.Date + "" })
                        <span id="iconSpandate" class="iconSpan"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
                    </fieldset>
                </div>
                <div class="col-lg-3 col-6">
                    <input id="txtsearch" type="text" name="focus" class="form-control gridSearchTextBox" placeholder="@EduSuiteUIResources.Search @EduSuiteUIResources.VoucherNumber @EduSuiteUIResources.Coma @EduSuiteUIResources.Remarks" /> @* Change Search TextBox Placeholder*@
                    <span id="iconSpantext" class="iconSpan"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
                </div>

                <div class="col-lg-3 col-4 d-none">
                    <a class="btn btn-info btn-sm float-right " onclick='window.location.reload()'>
                        <i class="fa fa-refresh"></i>   @EduSuiteUIResources.Refresh
                    </a>
                </div>

            </div>
        </div>
        <div class="table-wrapper">

            <div class="jqGrid_wrapper overflow-auto">
                <table id="grid"></table>
                <div id="pager"></div>
            </div>
        </div>


    </div>

    <div id='myModal' class='modal fade in'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div id='myModalContent'></div>
            </div>
        </div>
    </div>
</section>



<script>
    $(document).ready(function () {

        BankTransaction.GetBankTransactionByType();
        $("#BranchKey").on("change", function () {
            BankTransaction.GetBankTransactionByType();

        });
        $("#SearchBankAccountKey").on("change", function () {
            BankTransaction.GetBankTransactionByType();
        });
        $("#BankTransactionTypeKey").on("change", function () {
            BankTransaction.GetBankTransactionByType();
        });
        $("#iconSpantext").click(function () {
            $('#txtsearch').val('');
            BankTransaction.GetBankTransactionByType();
        });
        $("#iconSpandate").click(function () {
            $('#SearchDate').val('');
            BankTransaction.GetBankTransactionByType();
        });
        $("#txtsearch").on("input", function () {
            BankTransaction.GetBankTransactionByType();
        });
        $("#SearchDate").on("changeDate", function () {
            BankTransaction.GetBankTransactionByType();
        });
        //AppCommon.EditGridPopup($("#addEditBankTransaction"));

        AppCommon.FormatDateInput();
    });
    function setURL() {
        var obj = {};
        obj.BranchKey = $("#ddlBranch").val();
        obj.BankTransactionTypeKey = $("#tab-componets li.active a").attr('data-val');
        BankTransaction.SetUrlParam($("#addEditBankTransaction"), obj);
    }
</script>

