@model CITS.EduSuite.Business.Models.ViewModels.EnquiryLeadViewModel

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Content/ExcelSheetJS")
    @Scripts.Render("~/Content/DatePickerJS")
    @Scripts.Render("~/Content/momentJS")
    @Scripts.Render("~/Scripts/Import")

}

<input type="hidden" id="hdnFillCourseTypesById" value="@Url.Action("FillCourseTypesById", "SelectList")" />
<input type="hidden" id="hdnFillCoursesById" value="@Url.Action("FillCoursesById", "SelectList")" />
<input type="hidden" id="hdnFillUniversitiesById" value="@Url.Action("FillUniversitiesById", "SelectList")" />
<input type="hidden" id="hdnFillYearsById" value="@Url.Action("FillYearsById", "SelectList")" />
<input type="hidden" id="hdnFillEnquiryLeadDropdowns" value="@Url.Action("FillEnquiryLeadDropdowns", "Import")" />
<input type="hidden" id="hdnEnquiryLeadList" value="@Url.Action("EnquiryLeadList", "EnquiryLead")" />
<input type="hidden" id="hdnImportJSONPath" value="@Url.Content("~/Templates/ImportTemplate/Import.json")" />
<input type="hidden" id="hdnCheckBulkLeadExists" value="@Url.Action("CheckBulkLeadExists", "EnquiryLead")" />
@using (Html.BeginForm("EnquiryLead", "Import", FormMethod.Post, new { @id = "frmBulkEnquiryLead" }))
{
    @Html.HiddenFor(m => m.Name)
    @Html.HiddenFor(m => m.MobileNumberOptional)
    @Html.HiddenFor(m => m.MobileNumber)
    @Html.HiddenFor(m => m.EmailAddress)
    @Html.HiddenFor(m => m.EmployeeKey);
    {
        Model.PageIndex = 1;
        Model.PageSize = 100;
    }
    @Html.HiddenFor(m => m.PageIndex)
    @Html.HiddenFor(m => m.PageSize)
    @Html.HiddenFor(m => m.EmployeeKey)
    @Html.HiddenFor(m => m.LeadDate)
    <header class="section-header">
        <div class="row justify-content-between px-1">
            <div class="col-12">
                <div class="tbl">
                    <div class="tbl-row  px-1">
                        <div class="tbl-cell">
                            <h3>@EduSuiteUIResources.Bulk@EduSuiteUIResources.BlankSpace@EduSuiteUIResources.BlankSpace@EduSuiteUIResources.EnquiryLead</h3>
                            <ol class="breadcrumb breadcrumb-simple mb-2 float-sm-right">
                                <li><a href="#" onclick="location.href='@Url.Action("EnquiryLeadList", "EnquiryLead")' ">@EduSuiteUIResources.EnquiryLead</a></li>
                                <li class="active">@EduSuiteUIResources.Bulk@EduSuiteUIResources.BlankSpace@EduSuiteUIResources.EnquiryLead</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="section-content mx-sm-3 mx-0">
        <div class="card">
            <div class="card-header">
                <div class="form-row">
                    @if (Model.Branches.Count == 1)
                    {
                        {
                            Model.BranchKey = (short)Model.Branches.Select(x => x.RowKey).FirstOrDefault();
                        }
                        @Html.HiddenFor(m => m.BranchKey)
                    }
                    else
                    {
                        <div class="col-lg-2 col-sm-3 col-4">
                            <fieldset class="form-group">
                                @Html.DropDownListFor(m => m.BranchKey, new SelectList(Model.Branches, "RowKey", "Text"), EduSuiteUIResources.Branch, new { @class = "form-control input-control" })
                                <span class="form-control-error-text">
                                    @Html.ValidationMessageFor(m => m.BranchKey)
                                </span>
                            </fieldset>
                        </div>
                    }

                </div>
            </div>
            <div class="card-header dvExcelSheet" data-hidden>
                <div class="form-row justify-content-between">
                    <div class="col-lg-2 col-sm-4 col-6">
                        <fieldset class="form-group">
                            @Html.Label(EduSuiteUIResources.Select + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.ExcelSheet, htmlAttributes: new { @id = "lblExcelFile", @class = "form-label" })
                            <div class="custom-file">
                                @Html.TextBox("ExcelFile", "", new { @type = "file", @class = "custom-file-input", @onchange = "Import.FileUploadChange(event)" })
                                <label class="custom-file-label" for="ExcelFile">Choose file</label>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-lg-2 col-sm-4 col-6">
                        <a class="btn btn-info btn-sm mt-4" onclick='location.reload()'>
                            <i class="fa fa-refresh"></i>   Refresh
                        </a>
                    </div>
                    <div class="col-lg-2 col-sm-4 col-6 d-none">
                        <fieldset class="form-group text-center mt-4">
                            Total Records <span id="spnTotalRecords"></span>
                        </fieldset>
                    </div>
                    <div class="col-lg-2 col-sm-4 col-6">
                        <fieldset class="form-group">
                            <label class="form-label"></label>
                            <br />
                            <a id="btnDownload" class="btn btn-primary btn-sm float-right" onclick="Import.DownloadExcel()">
                                <i class="fa fa-download" aria-hidden="true"></i>@EduSuiteUIResources.Download@EduSuiteUIResources.BlankSpace@EduSuiteUIResources.ExcelSheet
                            </a>
                        </fieldset>
                    </div>

                </div>
            </div>
            <div class="card-body p-0 dvExcelSheet" data-hidden>
                <div id="Excel" class="jexcel-grid overflow-x-auto"></div>
            </div>

        </div>





        <div class="row mt-2">
            <div class="col-12">
                <div class="form-group">
                    <input type="button" value="@EduSuiteUIResources.Save" id="btnSave" class="btn btn-sm btn-success mx-1" onclick="Import.UpdateEnquiryLeads()" />
                </div>
            </div>
            <div class="col-12">
                <span class="ValidateDataMsg"> @Html.ValidationMessage("error_msg")  </span>
            </div>
        </div>
    </section>
}

<script>
    $(document).ready(function () {

       

        Import.GetTemplateData('EnquiryLead');
        Import.FillExcelSheetDropdowns($("#hdnFillEnquiryLeadDropdowns").val(), modifyFilterValues, true)
        $("#BranchKey").on("change", function () {
            Import.FillExcelSheetDropdowns($("#hdnFillEnquiryLeadDropdowns").val(), modifyFilterValues)
        });

       
    });
    function modifyFilterValues() {
        var obj = this;
        obj.IsValid = obj.BranchKey;
        obj.PageIndex = $("#PageIndex").val();
        obj.PageSize = $("#PageSize").val();
    }


</script>
