@model CITS.EduSuite.Business.Models.ViewModels.ExamResultDetail
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Content/ExcelSheetJS")
    @Scripts.Render("~/Content/DatePickerJS")
    @Scripts.Render("~/Content/momentJS")
    @Scripts.Render("~/Scripts/Import")

}

<input type="hidden" id="hdnFillCourseTypesById" value="@Url.Action("FillCourseTypesById", "SelectList")" />
<input type="hidden" id="hdnFillCoursesById" value="@Url.Action("FillCoursesById", "SelectList")" />
<input type="hidden" id="hdnFillUniversitiesById" value="@Url.Action("FillUniversitiesById", "SelectList")" />
<input type="hidden" id="hdnFillYearsById" value="@Url.Action("FillYearsById", "SelectList")" />
<input type="hidden" id="hdnFillExamResultDropdowns" value="@Url.Action("FillExamResultDropdowns", "Import")" />
<input type="hidden" id="hdnExamResultList" value="@Url.Action("ExamResultList", "ExamResult")" />
<input type="hidden" id="hdnImportJSONPath" value="@Url.Content("~/Templates/ImportTemplate/Import.json")" />

@using (Html.BeginForm("ExamResult", "Import", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Mark)
    @Html.HiddenFor(m => m.MinimumMark)
    @Html.HiddenFor(m => m.MaximumMark)

    <header class="section-header">
        <div class="row justify-content-between px-1">
            <div class="col-12">
                <div class="tbl">
                    <div class="tbl-row  px-1">
                        <div class="tbl-cell">
                            <h3>@EduSuiteUIResources.Bulk@EduSuiteUIResources.BlankSpace@EduSuiteUIResources.ExamResult</h3>
                            <ol class="breadcrumb breadcrumb-simple mb-2 float-sm-right">
                                <li><a href="#" onclick="location.href='@Url.Action("ExamResultList", "ExamResult")' ">@EduSuiteUIResources.ExamResult</a></li>
                                <li class="active">@EduSuiteUIResources.Bulk@EduSuiteUIResources.BlankSpace@EduSuiteUIResources.ExamResult</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="section-content mx-sm-3 mx-0">
        <div class="card">
            <div class="card-header">
                @Html.Action("SearchDropdownList", "Import")
            </div>
            <div class="card-header dvExcelSheet" data-hidden>
                <div class="form-row justify-content-between">
                    <div class="col-sm-4 col-6">
                        <fieldset class="form-group">
                            @Html.Label(EduSuiteUIResources.Select + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.ExcelSheet, htmlAttributes: new { @id = "lblExcelFile", @class = "form-label" })
                            <div class="custom-file">
                                @Html.TextBox("ExcelFile", "", new { @type = "file", @class = "custom-file-input", @onchange = "Import.FileUploadChange(event)" })
                                <label class="custom-file-label" for="ExcelFile">Choose file</label>
                            </div>
                        </fieldset>
                    </div>
                    <div class=" col-sm-4 col-6">
                        <fieldset class="form-group">
                            <label class="form-label"></label>
                            <br />
                            <a id="btnDownload" class="btn btn-primary btn-sm float-right" onclick="Import.DownloadExcel()">
                                <i class="fa fa-download" aria-hidden="true"></i>@EduSuiteUIResources.Download@EduSuiteUIResources.BlankSpace@EduSuiteUIResources.ExcelSheet
                            </a>
                        </fieldset>
                    </div>

                </div>
            </div>
            <div class="card-body p-0 dvExcelSheet" data-hidden>
                <div id="Excel" class="jexcel-grid overflow-x-auto"></div>
            </div>

        </div>





        <div class="row mt-2">
            <div class="col-12">
                <div class="form-group">
                    <input type="button" value="@EduSuiteUIResources.Save" id="btnSave" class="btn btn-sm btn-success mx-1" onclick="Import.UpdateExamResults()" />
                </div>
            </div>
            <div class="col-12">
                <span class="ValidateDataMsg"> @Html.ValidationMessage("error_msg")  </span>
            </div>
        </div>
    </section>
}

<script>
    $(document).ready(function () {
        Import.GetTemplateData('ExamResult');
        Import.FillCourseTypesById();
        $("#BranchKey,#BatchKey,#UniversityKey,#CurrentYear").on("change", function () {
            Import.FillExcelSheetDropdowns($("#hdnFillExamResultDropdowns").val(), modifyFilterValues)
        })
    });
    function modifyFilterValues() {
        var obj = this;
        obj.IsValid = obj.AcademicTermKey && obj.CourseKey && obj.UniversityKey;

    }
</script>
