
@model CITS.EduSuite.Business.Models.ViewModels.ProvinceViewModel
@using System.Web.Mvc

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/Scripts/Province")
}

<input type="hidden" id="hdnGetProvinceList" value="@Url.Action("GetProvince", "Province")" />
<input type="hidden" id="hdnDeleteProvince" value="@Url.Action("DeleteProvince", "Province")" />
<input type="hidden" id="hdnAddEditProvince" value="@Url.Action("AddEditProvince", "Province")" />

           

<div class="col-sm-12 Page_Head_Master">
    <div class="col-sm-6 Text_Left">
        <label class="Page_Heading  ">@EduSuiteUIResources.Province</label>
    </div>

    <div class="col-sm-6 Text_Right">

        <a id="addEditProvince" data-href="@Url.Action("AddEditProvince", "Province", new { id = Model.RowKey})" data-modal="" class="btn btn-danger btn-sm">
            <i class="fa fa-plus" aria-hidden="true"></i>  @EduSuiteUIResources.AddNewProvince @*Change Add new button Here *@
        </a>    </div>


</div>
<div class="GridBody">

    <div class="grid-nav-bar col-sm-12">
        <div class="col-sm-3">
            <input id="txtsearch" type="text" name="focus" class="input-control form-control form-control-sm" placeholder="@EduSuiteUIResources.Search@EduSuiteUIResources.BlankSpace@EduSuiteUIResources.Province" /> @* Change Search TextBox Placeholder*@
            <span id="iconSpan" class="iconSpan"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
        </div>

        <div class="col-sm-9 F_Right">
            <a class="btn btn-info btn-sm F_Right btn_Refresh" onclick='Province.GetProvince()'>
                <i class="fa fa-refresh"></i>   Refresh
            </a>
        </div>

    </div>

    <br /><br />


    <div class="portlet-body" id="portletBody">
        <div class='table-scrollable'>
            <table id="grid"></table>
            <div id="pager"></div>
        </div>
    </div>
</div>
 

<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#txtsearch").keydown(function () {
           Province.GetProvince();
        });
        $("#txtsearch").keyup(function () {
           Province.GetProvince();
        });

        $("#iconSpan").click(function () {
            $('#txtsearch').val('');
           Province.GetProvince();
        });
       Province.GetProvince();
       AppCommon.EditGridPopup($("#addEditProvince"));
        $(window).on("resize", function () {
            var $grid = $("#grid"),
            newWidth = $grid.closest(".ui-jqgrid").parent().width();
            $grid.jqGrid("setGridWidth", newWidth, true);
        });
    });
</script>



<script type="text/javascript">


    $(function () {
        $.ajaxSetup({ cache: false });

        $("a[data-modal]").on("click", function (e) {
            e.preventDefault();
           Province.EditPopup($(this));
        });

    });
</script>



