@model CITS.EduSuite.Business.Models.ViewModels.LoginModel


<div class="modal-header">
    <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close"></i></button>
    <h4 class="modal-title" id="myModalLabel">@EduSuiteUIResources.ChangePassword</h4>
</div>
@using (Html.BeginForm("ChangePassword", "Login", FormMethod.Post, new { @id = "frmChangePassword" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Scripts.Render("~/bundles/jqueryval")
    <div class="modal-body bottomLine">
        <div class="form-master">
            <div class="form-row">
                <div class="paddingNone">
                    <span class="text-danger"><strong> @Html.ValidationMessage("error_msg")</strong>  </span>
                </div>
            </div>

            <div class="form-row">
                <div class="col-lg-4 col-12">
                    <div class="form-group ">
                        @Html.Label(EduSuiteUIResources.Old + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.Password, htmlAttributes: new { @class = "form-label" })<div class="required-icon"><div class="text">*</div></div>
                        @Html.TextBoxFor(m => m.OldPassword, new { @class = "form-control input-control", @type = "password" })
                        <span class="form-control-error-text">
                            @Html.ValidationMessageFor(m => m.OldPassword)
                        </span>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="form-group ">
                        @Html.Label(EduSuiteUIResources.New + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.Password, htmlAttributes: new { @class = "form-label" })<div class="required-icon"><div class="text">*</div></div>
                        @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control input-control", @type = "password" }) <span class="form-control-error-text">
                            @Html.ValidationMessageFor(m => m.NewPassword)
                        </span>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="form-group ">
                        @Html.Label(EduSuiteUIResources.Confirm + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.Password, htmlAttributes: new { @class = "form-label" })<div class="required-icon"><div class="text">*</div></div>
                        @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control input-control", @type = "password" })
                        <span class="form-control-error-text">
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </span>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div class="col-12">
            <div class="form-group">
                 <input type="submit" value="@EduSuiteUIResources.Save" id="btnSave" class="btn btn-sm btn-success mx-1" />
                <button type="button" data-dismiss="modal" class="btn btn-sm btn-danger mx-1">@EduSuiteUIResources.Cancel</button>
            </div>

        </div>
    </div>
}
