@model CITS.EduSuite.Business.Models.ViewModels.LoginModel
@{
    ViewBag.Title = "Forget password";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="page-center">
    <div class="page-center-in">
        <div class="container-fluid">





            @using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post, new { @class = "sign-box" }))
            {
                @Html.ValidationSummary(true)
                @Html.HiddenFor(m => m.IsSuccessful)
                <header class="sign-title">@EduSuiteUIResources.ForgotPassword</header>

                <input type="hidden" value="@Model.EmailAddress" id="EmailAddress" name="EmailAddress" />

                <input type="hidden" value="@Model.ForgotPasswordKey" id="ForgotPasswordKey" name="ForgotPasswordKey" />

                if (Model.IsSuccessful == true)
                {

                    <div style=" background: #ddf1e1; display: block; padding: 10px 5px; border-radius: 2px; font-size: 12px;" class="form-group">
                        <span>
                            We need to authenticate your request. We've sent an OTP to the
                            @if (Model.OTPType == 1)
                            {
                                <span>  mobile number </span>  @Model.MobileNumber

                            }
                            else if (Model.OTPType == 2)
                            {
                                <span>  email </span>   @Model.EmailAddress
                            }


                        </span>
                    </div>


                    <div class="form-group">
                        @Html.TextBoxFor(m => m.OTP, new { @class = "form-control border-radius login-control", @placeholder = "Enter OTP" })
                        @Html.ValidationMessageFor(m => m.OTP)
                    </div>
                }
                else
                {
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.ForgotPasswordName, new { @class = "form-control border-radius login-control", @placeholder = "Enter Username/Mobile Number/Email" })
                        @Html.ValidationMessageFor(m => m.ForgotPasswordName)
                    </div>

                    if (System.Configuration.ConfigurationManager.AppSettings["EnableSMS"] == "true")
                    {
                        @*<div class="form-group">
                           
                            <span class="sf">Receive OTP By :</span>

                            <div class="radio-hr">
                                @Html.RadioButtonFor(m => m.OTPType, 1, new { @id = "rbSMS" })
                                @Html.Label("rbSMS", EduSuiteUIResources.SMS)
                                @Html.RadioButtonFor(m => m.OTPType, 2, new { @id = "rbEmail", @checked = true })
                                @Html.Label("rbEmail", EduSuiteUIResources.Email)
                            </div>

                        </div>*@
                        <fieldset class="form-group">
                            @Html.Label("Receive OTP By :", new { @class = "form-label" })
                            <div class="required-icon"><div class="text">*</div></div>
                            <div class="form-control text-center">
                                <div class="radio inline-block mr-2">
                                    @Html.RadioButtonFor(m => m.OTPType, 1, new { @id = "rbSMS" })
                                    @Html.Label("rbSMS", EduSuiteUIResources.SMS)
                                </div>
                                <div class="radio inline-block">
                                    @Html.RadioButtonFor(m => m.OTPType, 2, new { @id = "rbEmail" })
                                    @Html.Label("rbEmail", EduSuiteUIResources.Email)
                                </div>
                            </div>
                            <span class="form-control-error-text">
                                @Html.ValidationMessageFor(m => m.OTPType)
                            </span>


                        </fieldset>
                    }
                    else
                    {
                        <div style="display:none" class="form-group">
                            @*<span class="fa fa-user cLabel"></span>*@
                            <span class="sf">Receive OTP By :</span>

                            <div class="radio-hr">

                                @Html.RadioButtonFor(m => m.OTPType, 2, new { @id = "rbEmail", @checked = true })
                                @Html.Label("rbEmail", EduSuiteUIResources.Email)
                            </div>

                        </div>
                    }



                }

                <div class="form-group">
                    <button type="submit" class="btn btn-default btn-block btnLoginControls btnLogin">@EduSuiteUIResources.Submit</button>
                    <p class="sign-note">@EduSuiteUIResources.ForgotPassword@EduSuiteUIResources.BlankSpace@EduSuiteUIResources.QuostionMark@Html.ActionLink(EduSuiteUIResources.Login, "Index", "Login")</p>
                </div>

            }




            @if (Model.Message != null)
            {
                <div class="col-sm-12 paddingNone">
                    <h5 class="red errorMsg">@Model.Message</h5>


                </div>
            }
            @*   <a class="navbar-brand" href="#"><img class="logo" src="~/images/HRLogo.png" /> </a>*@
        </div>

    </div>
</div>
<script>
    $(document).ready(function () {
        AppCommon.CapslockDetect($("form"));
        $(".input-group-addon-end").on("mousedown", function () {
            $(this).prev("input").removeAttr("type").attr("type", "text")
        }).on("mouseup", function () {
            $(this).prev("input").removeAttr("type").attr("type", "password")
        })
    })

</script>

