@model CITS.EduSuite.Business.Models.ViewModels.LoginModel


@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/CitsValidation")

  
}


<div class="row bottomLine">
    <div class="col-sm-12 Page_Head_Master">
        <div class="col-sm-6 Text_Left">
            <label class="Page_Heading  ">@EduSuiteUIResources.NewPassword</label>
        </div>


    </div>

</div>

@using (Html.BeginForm("ChangePasswordByOTP", "Login", FormMethod.Post))
{
    @Html.ValidationSummary(true)

<div class="row">
    <div class="col-sm-12">
        @if(Model.IsOTPSuccess==true)
        { 

        <div class="form-master border_fieldset">
            <div class="row">
                <div class="col-sm-5 form-col">
                    <div class="form-group ">
                        @Html.Label(EduSuiteUIResources.NewPassword, htmlAttributes: new { @id = "lblBranch", @class = "lblControlHead" })<span class="spnStar">*</span>
                        <div class="input-group-transparent">
                            @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control input-control", @InputFor = "lblEnquiryName", @type = "password", @data_toggle = "tooltip", @data_placement = "bottom", @data_original_title = EduSuiteUIResources.CapsLockOn })
                            <span class="input-group-addon-end"><i class="fa fa-eye"></i></span>
                           </div>
                             <span class="red">
                                @Html.ValidationMessageFor(m => m.NewPassword)
                            </span>
                        </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-5 form-col">
                    <div class="form-group ">
                        @Html.Label(EduSuiteUIResources.Confirm + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.NewPassword, htmlAttributes: new { @id = "lblBranch", @class = "lblControlHead" })<span class="spnStar">*</span>
                        <div class="input-group-transparent">
                            @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control input-control", @InputFor = "lblEnquiryName", @type = "password", @data_toggle = "tooltip", @data_placement = "bottom", @data_original_title = EduSuiteUIResources.CapsLockOn })
                            <span class="input-group-addon-end"><i class="fa fa-eye"></i></span>
                        </div>   
                          <span class="red">
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </span>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-12">
                    <input type="submit" value="@EduSuiteUIResources.Save" id="btnSave" class="btnForm btnSubmit btn btn-sm btn-default pull-left " />
                </div>
            </div>
        </div>

        }
        

@if (Model.IsSuccessful == true)
{
    <div class="col-sm-12">
        <span style="    background: #eef3f3; display: block;  width: 300px; text-align: center; padding: 9px 4px; border-radius: 1px;font-size: 13px;"> 
        Password Changed successfully. 
         </span>
    </div>
}


    </div>
</div>

}


            <script>
                $(document).ready(function () {
                    AppCommon.CapslockDetect($("form"));
                    $(".input-group-addon-end").on("mousedown", function () {
                        $(this).prev("input").removeAttr("type").attr("type", "text")
                    }).on("mouseup", function () {
                        $(this).prev("input").removeAttr("type").attr("type", "password")
                    })
                })

            </script>


<script>
    $(document).ready(function () {
        AppCommon.CapslockDetect($("form"));
        $(".input-group-addon-end").on("mousedown", function () {
            $(this).prev("input").removeAttr("type").attr("type", "text")
        }).on("mouseup", function () {
            $(this).prev("input").removeAttr("type").attr("type", "password")
        })
        $("#Password").on("change", function () {
            if ($(this).val().trim() != "") {
                $("#PasswordHint").removeAttr("readonly")

            }
            else {
                $("#PasswordHint").attr("readonly", "readonly")
            }
        })
    });
</script>



            <style>
                .sf {
                    font-size: 13px;
                    margin-bottom: 7px;
                    display: block;
                }

                .forgetPassword .login-control {
                    background: #fffefd;
                    border: solid #c9c5be 1px;
                    border-radius: 3px;
                    padding-left: 4px;
                    font-weight: normal;
                    font-style: normal;
                }

                .forgetPassword .btnLoginControls {
                    width: 73px;
                    text-transform: none;
                    font-size: 14px;
                    font-weight: 400;
                }

                .login-control {
                    color: #6d6767;
                }

            </style>
