@model CITS.EduSuite.Business.Models.ViewModels.ReportViewModel
@using CITS.EduSuite.Business.Models.ViewModels

@using System.Web.Mvc

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/FeePaidorUnPaidSummary")
    @Scripts.Render("~/Content/DatePickerJS")

    @Scripts.Render("~/Content/ExcelExportJS")
    @Scripts.Render("~/Content/momentJS")
    @Scripts.Render("~/Scripts/BaseStudentsSearch")
}




<input type="hidden" id="hdnGetStudentFeePaymentSummaryByDate" value="@Url.Action("GetStudentFeePaymentSummaryByDate", "Report")" />
<input type="hidden" id="hdnFeePaidSummaryPath" value=@Url.Content("~/Templates/Report/FeePaidSummary.html") />
<header class="section-header">
    <div class="row justify-content-between px-1">
        <div class="col-12">
            <div class="tbl">
                <div class="tbl-row">
                    <div class="tbl-cell">
                        <h3>@EduSuiteUIResources.Fee@EduSuiteUIResources.BlankSpace@EduSuiteUIResources.Paid@EduSuiteUIResources.BlankSpace@EduSuiteUIResources.Summary  </h3>

                    </div>
                </div>
            </div>
        </div>

    </div>
</header>
<section class="section-content mx-sm-3 mx-0">

    <div class="GridBody">
        <div class="grid-nav-bar">
            <form>

                <div class="form-row">
                    @Html.HiddenFor(m => m.RowKey)


                    @Html.Action("Index", "BaseStudentSearch")

                    <div class="col-lg-2 col-sm-3 col-4 dvAttendace">
                        <fieldset class="form-group">
                            @Html.TextBoxFor(m => m.DateAddedFrom, "{0:dd/MM/yyyy}", new { @class = "form-control input-control", @data_inputmask = "'alias': 'dd/mm/yyyy'", @data_input_type = "date" })
                        </fieldset>
                    </div>
                    <div class="col-lg-2 col-sm-3 col-4 dvAttendace">
                        <fieldset class="form-group">
                            @Html.TextBoxFor(m => m.DateAddedTo, "{0:dd/MM/yyyy}", new { @class = "form-control input-control", @data_inputmask = "'alias': 'dd/mm/yyyy'", @data_input_type = "date" })
                        </fieldset>
                    </div>
                    <div class="col-lg-2 col-sm-3 col-4">
                        <fieldset class="form-group">
                            @Html.ListBoxFor(m => m.FeeTypeKeys, new SelectList(Model.FeeTypes, "RowKey", "Text"), new { @class = "form-control input-control selectpicker", @multiple = "multiple", @data_live_search = "true", @data_title = EduSuiteUIResources.FeeType })
                        </fieldset>
                    </div>
                    <div class="col-lg-2 col-sm-3 col-4">
                        <fieldset class="form-group">
                            @Html.DropDownList("PaidUnPaid", new List<SelectListItem>
                    {
                        new SelectListItem{ Text=EduSuiteUIResources.Paid, Value = "1" },
                        new SelectListItem{ Text=EduSuiteUIResources.UnPaid, Value = "2" },
                     }, EduSuiteUIResources.Payment + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.Status, new { @class = "form-control input-control " })
                        </fieldset>
                    </div>
                    <div class="col-lg-1 col-sm-3 col-4">
                        <fieldset class="form-group">
                            <button type="button" id="btnSearch" class="btnForm btnSubmit btn btn-sm btn-success">@EduSuiteUIResources.Search</button>
                        </fieldset>
                    </div>
                    <div class="col-lg-1 col-sm-3 col-4">
                        <a class="btn btn-info btn-sm float-right " onclick='window.location.reload()'>
                            <i class="fa fa-refresh"></i>   @EduSuiteUIResources.Refresh
                        </a>
                    </div>


                </div>

            </form>
            <div class="form-row justify-content-between">


                <div class="col-12">
                    <div class="button-group float-right">
                        @*  <button id="btnPrint" type="button" onclick="AttendanceReport.GetExportPrintData('P','#hdnGetAttendanceReport','AttendanceReport','Attendance Report')" class="btn btn-primary btn-sm"><i class="fa fa-print btn-blue" aria-hidden="true"></i></button>*@
                        <button id="btnExport" type="button" class="btn btn-success btn-sm"><i class="fa fa-file-excel-o fa-align-right" aria-hidden="true"></i></button>

                    </div>
                </div>
            </div>
        </div>

        <div class="table-wrapper dvAttendace">

            <div id="dvAttendanceReport" class="jqGrid_wrapper">

            </div>
        </div>
    </div>

</section>

<script type="text/javascript">
     var jsonDataList=@(Html.Raw(Json.Encode(Model)));

    $(document).ready(function () {
        //var doc = new jsPDF();

        $("#ModeKeys").closest("fieldset").closest("div").hide()

        AppCommon.FormatDateInput();

        AppCommon.FormatSelect2();

        $("#tab-componets li:first-child a").addClass('active');

        var ToggleValue = $("#tab-componets li a.active").data('val');

        FeePaidorUnPaidSummary.GetFeePaidorUnPaidSummary();




        $('#BranchKey,#ClassKeys,#SearchAnyText,#DateAdded').on("change", function () {


            FeePaidorUnPaidSummary.GetFeePaidorUnPaidSummary();
        });
        $('#btnSearch').on("click", function () {
            FeePaidorUnPaidSummary.GetFeePaidorUnPaidSummary();
        });


        var obj = { HtmlCntrl: $("#tblAttendance") };
        $("#btnExport").on("click", function () {
            obj.ContainerId = $('#dvAttendanceReport'),
            setExportTitle(obj)
            AppCommon.ExportTableToExcel(obj);
        });
        function setExportTitle(obj) {
            obj.Title = '@EduSuiteUIResources.Fee@EduSuiteUIResources.BlankSpace@EduSuiteUIResources.Paid@EduSuiteUIResources.BlankSpace@EduSuiteUIResources.Summary';
            obj.SubTitle = $("#DateAddedFrom").val() === $("#DateAddedTo").val() ? $("#DateAddedFrom").val() : $("#DateAddedFrom").val() + " - " + $("#DateAddedTo").val();
            obj.FileName = (obj.Title + "_" + obj.SubTitle).replace(/-/g, '_')
        }

    });
</script>



