@using CITS.EduSuite.UI
@using System.Web.Mvc

@section scripts{

    @Scripts.Render("~/Scripts/TimeTableTemp")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/Content/DatePickerJS")
    @Scripts.Render("~/Content/JqueryRepeater")

}

<input type="hidden" id="hdnGetTimeTableTempMaster" value="@Url.Action("GetTimeTableTempMaster", "TimeTableTemp")" />
<input type="hidden" id="hdnDeleteTimeTableTempMaster" value="@Url.Action("DeleteTimeTableTempMaster", "TimeTableTemp")"  />
<input type="hidden" id="hdnAttendanceTypeMasterList" value="@Url.Action("AttendanceTypeMasterList", "AttendanceTypeMaster")" />
<input type="hidden" id="hdnAddEditTimeTableTemp" value="@Url.Action("AddEditTimeTableTemp", "TimeTableTemp")" />


<header class="section-header">
    <div class="row justify-content-between px-1">
        <div class="col-sm-6 col-12">
            <div class="tbl">
                <div class="tbl-row">
                    <div class="tbl-cell">
                        <h3>@EduSuiteUIResources.TimeTable@EduSuiteUIResources.BlankSpace@EduSuiteUIResources.Master</h3>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 text-right">
            <a href="@Url.Action("AddEditTimeTableTemp", "TimeTableTemp")" class="btn btn-success btn-sm "><i class="fa fa-plus-square-o"></i> <span>@EduSuiteUIResources.New @EduSuiteUIResources.BlankSpace @EduSuiteUIResources.TimeTable</span></a>

          </div>
    </div>
</header>
<section class="section-content mx-sm-3 mx-0">
    <div class="GridBody">

        <div class="grid-nav-bar form-row justify-content-between">

            <div class="col-lg-3 col-6">
                <input id="txtSearchName" type="text" name="focus" class="form-control gridSearchTextBox" placeholder="@EduSuiteUIResources.Search" /> @* Change Search TextBox Placeholder*@
                <span id="iconSpan" class="iconSpan"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
            </div>

            <div class="col-6">
                <a class="btn btn-info btn-sm float-right " onclick='window.location.reload()'>
                    <i class="fa fa-refresh"></i>   @EduSuiteUIResources.Refresh
                </a>
            </div>

        </div>

        <div class="table-wrapper">

            <div class="jqGrid_wrapper overflow-auto">
                <table id="grid"></table>
                <div id="pager"></div>
            </div>
        </div>

    </div>
</section>
<script>
    $(document).ready(function () {
        $("#txtSearchName").on("input", function () {
            TimeTableTemp.GetTimeTableTempMaster();
        });

        $("#iconSpan").click(function () {
            $('#txtSearchName').val('');
            TimeTableTemp.GetTimeTableTempMaster();
        });

        TimeTableTemp.GetTimeTableTempMaster();


    });
</script>
