@model CITS.EduSuite.Business.Models.ViewModels.StudentsPromotionViewModel

@using System.Web.Mvc
@using CITS.EduSuite.Business.Models.ViewModels
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/Scripts/StudentsPromotion")
    @Scripts.Render("~/Content/DatePickerJS")
}
<input type="hidden" id="hdnGetStudentsPromotion" value="@Url.Action("GetStudentsPromotiondetails", "StudentsPromotion")" />
<input type="hidden" id="hdnDeleteStudentsPromotion" value="@Url.Action("DeletePromotion", "StudentsPromotion")" />
<input type="hidden" id="hdnAddEditStudentsPromotion" value="@Url.Action("AddEditStudentsPromotion", "StudentsPromotion")" />

<input type="hidden" id="hdnFillSearchClassDetails" value="@Url.Action("FillSearchClassDetails", "StudentsPromotion")" />
<input type="hidden" id="hdnFillSearchBatch" value="@Url.Action("FillSearchBatch", "StudentsPromotion")" />




<header class="section-header">
    <div class="row justify-content-between px-1">
        <div class="col-sm-6 col-12">
            <div class="tbl">
                <div class="tbl-row">
                    <div class="tbl-cell">
                        <h3>@EduSuiteUIResources.StudentsPromotion</h3>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 text-right">
            <a href="@Url.Action("AddEditStudentsPromotion", "StudentsPromotion")" class="btn btn-success btn-sm "><i class="fa fa-plus-square-o"></i> <span>@EduSuiteUIResources.New @EduSuiteUIResources.BlankSpace @EduSuiteUIResources.StudentsPromotion</span></a>
        </div>
    </div>
</header>
<section class="section-content mx-sm-3 mx-0">
    <div class="GridBody">

        <div class="grid-nav-bar">
            <div class=" form-row">

                @if (Model.Branches.Count == 1)
                {
                    {
                        Model.BranchKey = (Model.BranchKey == 0 || Model.BranchKey == null) ? (short)Model.Branches.Select(x => x.RowKey).FirstOrDefault() : Model.BranchKey;
                    }
                    @Html.HiddenFor(m => m.BranchKey)
                }
                else
                {
                    <div class="col-lg-2 col-sm-4 col-6">
                        <fieldset class="form-group">
                            @Html.DropDownListFor(m => m.BranchKey, new SelectList(Model.Branches, "RowKey", "Text"), EduSuiteUIResources.Branch, new { @class = "form-control input-control ", @data_live_search = "true" })
                        </fieldset>
                    </div>
                }
                <div class="col-lg-2 col-sm-4 col-6">
                    <div class="form-group">
                        @Html.DropDownListFor(m => m.ClassDetailsKey, new SelectList(Model.ClassDetails, "RowKey", "Text"), EduSuiteUIResources.Select + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.ClassCode, new { @class = "form-control input-control autohide-select", @data_plugin_type = "select2", @InputFor = "lblBranch", @data_live_search = "true" })
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4 col-6">
                    <div class="form-group">
                        @Html.DropDownListFor(m => m.BatchKey, new SelectList(Model.Batches, "RowKey", "Text"), EduSuiteUIResources.Select + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.Batch, new { @class = "form-control input-control autohide-select", @data_plugin_type = "select2", @InputFor = "lblBranch", @data_live_search = "true" })
                    </div>
                </div>

                <div class="col-6">
                    <a class="btn btn-info btn-sm float-right " onclick='window.location.reload()'>
                        <i class="fa fa-refresh"></i>   @EduSuiteUIResources.Refresh
                    </a>
                </div>
            </div>
        </div>

        <div class="table-wrapper">

            <div class="jqGrid_wrapper overflow-auto">
                <table id="grid"></table>
                <div id="pager"></div>
            </div>
        </div>


    </div>
</section>


<script>
    $(document).ready(function ()
    {
        AppCommon.FormatDateInput();
        
        $("#BranchKey").change(function () {
            var obj = {};
            obj.key = $(this).val() != "" ? $(this).val() : 0;
            AppCommon.BindDropDownbyId(obj, $("#hdnFillSearchClassDetails").val(), $("#ClassDetailsKey"), Resources.ClassCode);
            StudentsPromotion.GetStudentsPromotion();
        });
        $("#ClassDetailsKey").change(function () {
            var obj = {};
            obj.BranchKey = $("#BranchKey").val() != "" ? $("#BranchKey").val() : 0;
            obj.ClassDetailsKey = $("#ClassDetailsKey").val() != "" ? $("#ClassDetailsKey").val() : 0;
            AppCommon.BindDropDownbyId(obj, $("#hdnFillSearchBatch").val(), $("#BatchKey"), Resources.Batch);
            StudentsPromotion.GetStudentsPromotion();

        });
        $("#BatchKey").change(function () {
            StudentsPromotion.GetStudentsPromotion();
        });
        StudentsPromotion.GetStudentsPromotion();
        //AppCommon.EditGridPopup($("#addEditStudentsPromotion"))

       



    });
</script>
