@model CITS.EduSuite.Business.Models.ViewModels.EmployeeIdentityViewModel


@section scripts{
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/Content/JqueryRepeater")
    @Scripts.Render("~/Scripts/EmployeeIdentity")

}

<input type="hidden" id="hdnDeleteEmployeeIdentity" value="@Url.Action("deleteemployeeidentity", "EmployeeIdentity" )" />
@using (Html.BeginForm("AddEditEmployeeIdentity", "EmployeeIdentity", FormMethod.Post, new AjaxOptions { UpdateTargetId = "Rules", OnBegin = "onBegin", OnComplete = "onComplete" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.EmployeeKey)
    @Html.ValidationSummary(true)


    <div class="box-typical box-typical-padding">

        <div class="repeater overflow-auto">
            <table class="table table-stripped">
                <thead class="thead-light">
                    <tr>
                        <th></th>
                        <th>@EduSuiteUIResources.IdentityType</th>
                        <th>@EduSuiteUIResources.IdentyUniqueID</th>
                        <th>@EduSuiteUIResources.IssuedDate</th>
                        <th>@EduSuiteUIResources.ExpiryDate</th>
                        <th>@EduSuiteUIResources.Attachment</th>
                    </tr>
                </thead>
                <tbody data-repeater-list>
                    @for (int i = 0; i < Model.EmployeeIdentities.Count(); i++)
                    {
                        <tr data-repeater-item>
                            <td class="p-1">
                                <span data-repeater-delete="" class="btn btn-danger btn-sm btnDeleteRow">
                                    <span class=" fa fa-remove"></span>
                                </span>
                            </td>
                            <td class="p-1">
                                @Html.DropDownListFor(m => Model.EmployeeIdentities[i].IdentityTypeKey, new SelectList(Model.EmployeeIdentities[i].IdentityTypes, "RowKey", "Text"), EduSuiteUIResources.Select + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.IdentityType, new { @class = "form-control border-radius input-control", @InputFor = "lblIdentityType" })
                                <span class="form-control-error-text">
                                    @Html.ValidationMessageFor(m => Model.EmployeeIdentities[i].IdentityTypeKey)
                                </span>
                                @Html.HiddenFor(m => Model.EmployeeIdentities[i].RowKey)

                            </td>
                            <td class="p-1">
                                @Html.TextBoxFor(m => Model.EmployeeIdentities[i].IdentyUniqueID, new { @class = "form-control input-control", @InputFor = "lblIdentyUniqueID" })
                                <span class="form-control-error-text">
                                    @Html.ValidationMessageFor(m => Model.EmployeeIdentities[i].IdentyUniqueID)
                                </span>
                            </td>
                            <td class="p-1">
                                @Html.TextBoxFor(m => Model.EmployeeIdentities[i].IdentityIssuedDate, new { @class = "form-control input-control", @data_input_type = "date", @InputFor = "lblIdentityIssuedDate", @data_inputmask = "'alias': 'dd/mm/yyyy'" })
                                <span class="form-control-error-text">
                                    @Html.ValidationMessageFor(m => Model.EmployeeIdentities[i].IdentityIssuedDate)
                                </span>
                            </td>
                            <td class="p-1">
                                @Html.TextBoxFor(m => Model.EmployeeIdentities[i].IdentityExpiryDate, new { @class = "form-control input-control", @data_input_type = "date", @InputFor = "lblIdentityExpiryDate", @data_inputmask = "'alias': 'dd/mm/yyyy'" })
                                <span class="form-control-error-text">
                                    @Html.ValidationMessageFor(m => Model.EmployeeIdentities[i].IdentityExpiryDate)
                                </span>
                            </td>
                            <td class="p-1">
                                <div class="custom-file">
                                    @Html.TextBoxFor(m => m.EmployeeIdentities[i].AttanchedFile, new { type = "file", @class = "custom-file-input" })
                                    <label class="custom-file-label" for="AttanchedFile">Choose file</label>
                                </div>
                                @if (Model.EmployeeIdentities[i].AttanchedFileName != null)
                                {
                                    <a href=@Url.Action("DownloadFile", "EmployeeIdentity", new { filename = Model.EmployeeIdentities[i].AttanchedFileNamePath })>@EduSuiteUIResources.Download</a>
                                }
                                <span class="form-control-error-text">
                                    @Html.ValidationMessageFor(m => m.EmployeeIdentities[i].AttanchedFile)
                                </span>
                            </td>

                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th class="px-1" colspan="5">
                            <span data-repeater-create class="btn btn-info btn-sm">
                                <span class="fa fa-plus"></span>
                            </span>
                        </th>
                    </tr>
                </tfoot>
            </table>

        </div>
        <div class="row mt-2">
            <div class="col-10 form-col">
                <div class="form-group">
                    <input type="button" value="@EduSuiteUIResources.Save" id="btnSave" class="btn btn-sm btn-success mx-1" />
                    <input type="button" value="@EduSuiteUIResources.Skip" id="btnSkip" onclick="   $('#tab-profile  li a.active').parent().nextAll('li:visible').first().find('a').trigger('click');" class="btnForm btnSubmit btn btn-sm btn-danger " />
                    <a id="btnFinish" class="btn btn-sm btn-success mx-1" onclick="location.href='@Url.Action("EmployeeList", "Employee")'">@EduSuiteUIResources.BlankSpace@EduSuiteUIResources.Finish</a>

                </div>
                <div class="col-12 paddingNone">
                    <span class="text-danger"><strong> @Html.ValidationMessage("error_msg")</strong>  </span>
                </div>
            </div>
        </div>
    </div>

}

<script>
    var jsonData=@(Html.Raw(Json.Encode(Model)));


    $(document).ready(function () {
        EmployeeIdentities.GetEmployeeIdentities(jsonData);
        $("[data-repeater-item]").each(function(){
            EmployeeIdentities.SetAdharNumberMask($(this));
        })
        AppCommon.CustomRepeaterRemoteMethod();
    });
</script>


