@model CITS.EduSuite.Business.Models.ViewModels.ApplicationDocumentViewModel


@section scripts{
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/Content/JqueryRepeater")
    @Scripts.Render("~/Scripts/ApplicationDocument")

}

<input type="hidden" id="hdnDeleteApplicationDocument" value="@Url.Action("DeleteApplicationDocument", "ApplicationDocument")" />
@using (Html.BeginForm("AddEditApplicationDocument", "ApplicationDocument", FormMethod.Post, new AjaxOptions { UpdateTargetId = "Rules", OnBegin = "onBegin", OnComplete = "onComplete" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ApplicationKey)
    @Html.ValidationSummary(true)


<div class="box-typical box-typical-padding">

    <div class="repeater overflow-auto">
        <table class="table table-stripped">
            <thead class="thead-light">
                <tr>
                    <th></th>
                    <th class="mw-sm-150">@EduSuiteUIResources.Document@EduSuiteUIResources.BlankSpace@EduSuiteUIResources.Name</th>

                    <th>@EduSuiteUIResources.Attachment</th>


                </tr>
            </thead>
            <tbody data-repeater-list>
                @for (int i = 0; i < Model.ApplicationDocuments.Count(); i++)
                {
                    <tr data-repeater-item>
                        <td class="p-1">
                            <span data-repeater-delete="" class="btn btn-danger btn-sm btnDeleteRow">
                                <span class=" fa fa-remove"></span>
                            </span>
                        </td>
                        <td class="p-1">
                            @Html.TextBoxFor(m => Model.ApplicationDocuments[i].StudentDocumentName, new { @class = "form-control input-control", @InputFor = "lblCourseName" })
                            <span class="form-control-error-text">
                                @Html.ValidationMessageFor(m => Model.ApplicationDocuments[i].StudentDocumentName)
                            </span>
                            @Html.HiddenFor(m => Model.ApplicationDocuments[i].RowKey)

                        </td>

                        <td class="p-1">
                            <div class="custom-file">
                                @Html.TextBoxFor(m => m.ApplicationDocuments[i].DocumentFile, new { type = "file", @class = "custom-file-input" })
                                <label class="custom-file-label" for="DocumentFile">Choose file</label>
                            </div>
                            @if (Model.ApplicationDocuments[i].StudentDocumentPathText != null)
                            {
                                <a href=@Url.Action("DownloadFile", "ApplicationDocument", new { filename = Model.ApplicationDocuments[i].StudentDocumentPath })>@EduSuiteUIResources.Download</a>
                            }
                            <span class="form-control-error-text">
                                @Html.ValidationMessageFor(m => m.ApplicationDocuments[i].StudentDocumentPath)
                            </span>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th class="px-1" colspan="9">
                        <span data-repeater-create class="btn btn-info btn-sm">
                            <span class="fa fa-plus"></span>
                        </span>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>


    <div class="row  mt-2">
        <div class=" col-10">
            <fieldset class="form-group">
                <input type="button" value="@EduSuiteUIResources.Save" id="btnSave" class="btn btn-sm btn-success mx-1" />
                <input type="button" value="@EduSuiteUIResources.Skip" id="btnSkip" onclick="  $('#tab-application  li a.active').parent().nextAll('li:visible').first().find('a').trigger('click');" class="btnForm btnSubmit btn btn-sm btn-danger " />
                <a id="btnFinish" class="btn btn-sm btn-success mx-1" onclick="location.href='@Url.Action("ApplicationList", "Application")'">@EduSuiteUIResources.BlankSpace@EduSuiteUIResources.Finish</a>

            </fieldset>
            <div class="col-12 paddingNone">
                <span class="text-danger"><strong> @Html.ValidationMessage("error_msg")</strong>  </span>
            </div>
        </div>

    </div>
</div>

}

<script>
    var jsonData=@(Html.Raw(Json.Encode(Model)));


    $(document).ready(function () {

        ApplicationDocuments.GetApplicationDocuments(jsonData);


        AppCommon.CustomRepeaterRemoteMethod();
    });
</script>


