@model CITS.EduSuite.Business.Models.ViewModels.AgentViewModel

@using CITS.EduSuite.Business.Models.ViewModels

<div class="modal-header">
    <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close"></i></button>
    <h4 class="modal-title" id="myModalLabel">@EduSuiteUIResources.Add @EduSuiteUIResources.Sla @EduSuiteUIResources.Edit@EduSuiteUIResources.BlankSpace @EduSuiteUIResources.Agent</h4>
</div>
@using (Html.BeginForm("AddEditAgent", "Agent", FormMethod.Post, new { @id = "frmAgent" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.RowKey)
    @Html.ValidationSummary(true)

    <div class="modal-body bottomLine">
        <div class="form-master">
            <div class="form-row">
                <div class="col-lg-3 col-6">
                    <fieldset class="form-group ">
                        @Html.Label(EduSuiteUIResources.Code, htmlAttributes: new { @class = "form-label" })
                        @Html.TextBoxFor(m => m.AgentCode, new { @class = "form-control input-control ", @data_convert = "uppercase" })
                        <span class="form-control-error-text">
                            @Html.ValidationMessageFor(m => m.AgentCode)
                        </span>
                    </fieldset>

                </div>
                <div class="col-lg-4 col-12">
                    <fieldset class="form-group ">
                        @Html.Label(EduSuiteUIResources.Agent, htmlAttributes: new { @class = "form-label" })<div class="required-icon"><div class="text">*</div></div>
                        @Html.TextBoxFor(m => m.AgentName, new { @class = "form-control input-control ", @data_convert = "uppercase" })
                        <span class="form-control-error-text">
                            @Html.ValidationMessageFor(m => m.AgentName)
                        </span>
                    </fieldset>

                </div>
                <div class="col-12 col-lg-4">
                    <fieldset class="form-group">
                        @Html.Label(EduSuiteUIResources.MobileNumber, htmlAttributes: new { @class = "form-label" })
                        <div class="required-icon"><div class="text">*</div></div>
                        <div class="input-group-transparent">
                            @Html.TextBoxFor(m => m.AgentMobile, new { @class = "form-control input-control", @InputFor = "lblPhoneNumber1" })
                        </div>
                        <span class="form-control-error-text">
                            @Html.ValidationMessageFor(m => m.AgentMobile)
                        </span>
                    </fieldset>
                </div>
                <div class="col-12 col-lg-6">
                    <fieldset class="form-group">
                        @Html.Label(EduSuiteUIResources.Address, htmlAttributes: new { @id = "lblAddressLine1", @class = "form-label" })
                        
                        @Html.TextAreaFor(m => m.AgentAddress, new { @class = "form-control border-radius", @InputFor = "lblPurpose" })
                        <span class="form-control-error-text">
                            @Html.ValidationMessageFor(m => m.AgentAddress)
                        </span>
                    </fieldset>
                </div>

                <div class="col-12 col-lg-4 d-none">
                    <fieldset class="form-group">
                        @Html.Label(EduSuiteUIResources.PhoneNo, htmlAttributes: new { @id = "lblPhoneNumber2", @class = "form-label" })
                        <div class="input-group-transparent">
                            @Html.TextBoxFor(m => m.AgentPhone, new { @class = "form-control input-control", @InputFor = "lblPhoneNumber2" })
                        </div>
                        <span class="form-control-error-text">
                            @Html.ValidationMessageFor(m => m.AgentPhone)
                        </span>
                    </fieldset>
                </div>
                <div class="col-lg-3">
                    <fieldset class="form-group">
                        @Html.Label(EduSuiteUIResources.IsActive, new { @class = "form-label" })

                        <div class="switch-check my-2">
                            @Html.CheckBoxFor(m => m.IsActive, new { @class = "switch-input" })
                            <div class="switch-label redgreen" data-on="@EduSuiteUIResources.Yes" data-off="@EduSuiteUIResources.No"></div>
                            <div class="switch-handle"></div>
                        </div>
                        <span class="form-control-error-text">
                            @Html.ValidationMessageFor(m => m.IsActive)
                        </span>
                    </fieldset>
                </div>
            </div>
            <div class="form-row">
                <span class="text-danger"><strong> @Html.ValidationMessage("error_msg")</strong>  </span>
            </div>
        </div>
    </div>

    <div class="modal-footer justify-content-start">
        <div class="form-group">
            <input type="submit" value="@EduSuiteUIResources.Submit" id="btnSave" class="btn btn-sm btn-success mx-1" />
            <button type="button" data-dismiss="modal" class="btn btn-sm btn-danger mx-1">@EduSuiteUIResources.Cancel</button>

        </div>
    </div>

}
