@model CITS.EduSuite.Business.Models.ViewModels.LeaveApplicationViewModel


<div class="modal-header">
    <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close"></i></button>
    <h4 class="modal-title" id="myModalLabel">@EduSuiteUIResources.Add @EduSuiteUIResources.Sla @EduSuiteUIResources.Edit@EduSuiteUIResources.BlankSpace @EduSuiteUIResources.LeaveApplication</h4>
</div>

@using (Html.BeginForm("AddEditLeaveApplication", "LeaveApplication", FormMethod.Post, htmlAttributes: new { @id = "frmLeaveApplication" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.RowKey, new { @class = "hidLeaveApplicationKey" })
    @Html.ValidationSummary(true)

    <div class="modal-body">
        <div class="form-master">
            <div class="form-row">
                <div class="col-12">
                    <span class="ValidateDataMsg"> @Html.ValidationMessage("error_msg")  </span>
                </div>
            </div>

            <div class="form-row">

                <div class="col-sm-6 col-12">
                    <div class="form-group ">
                        @Html.Label(EduSuiteUIResources.Branch, htmlAttributes: new { @id = "lblBranch", @class = "form-label" })<div class="required-icon"><div class="text">*</div></div>
                        @Html.DropDownListFor(m => m.BranchKey, new SelectList(Model.Branches, "RowKey", "Text"), EduSuiteUIResources.Select + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.Branch, new { @class = "input-control form-control form-control-sm form-control-sm", @InputFor = "lblBranch" })
                        <span class="form-control-error-text">
                            @Html.ValidationMessageFor(m => m.BranchKey)
                        </span>
                    </div>
                </div>
                <div class="col-sm-6 col-12">
                    <div class="form-group">
                        @Html.Label(EduSuiteUIResources.Select + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.Employee, htmlAttributes: new { @id = "lblEmployee", @class = "form-label" })
                        <div class="required-icon"><div class="text">*</div></div>
                        @Html.DropDownListFor(m => m.EmployeeKey, new SelectList(Model.Employees, "RowKey", "Text"), EduSuiteUIResources.Select + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.Employee, new { @class = "input-control form-control form-control-sm", @data_live_search = true, @InputFor = "lblEmployee" })
                        <span class="form-control-error-text">
                            @Html.ValidationMessageFor(m => m.EmployeeKey)
                        </span>
                    </div>
                </div>
                <div class="col-sm-6 col-12">
                    <div class="form-group ">
                        @Html.Label(EduSuiteUIResources.LeaveTypeName, htmlAttributes: new { @id = "lblLeaveTypeName", @class = "form-label" })<div class="required-icon"><div class="text">*</div></div>
                        @Html.DropDownListFor(m => m.LeaveTypeKey, new SelectList(Model.LeaveTypes, "RowKey", "Text"), EduSuiteUIResources.Select + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.LeaveTypeName, new { @class = "input-control form-control form-control-sm", @InputFor = "lblLeaveTypeName" })
                        <span class="form-control-error-text">
                            @Html.ValidationMessageFor(m => m.LeaveTypeKey)
                        </span>
                    </div>
                </div>
                <div class="col-sm-6 col-12">
                    <div class="form-group ">
                        @Html.Label(EduSuiteUIResources.LeaveDurationType, htmlAttributes: new { @id = "lblLeaveDurationTypeName", @class = "form-label" })<div class="required-icon"><div class="text">*</div></div>
                        @Html.DropDownListFor(m => m.LeaveDurationTypeKey, new SelectList(Model.LeaveDurationTypes, "RowKey", "Text"), new { @class = "input-control form-control form-control-sm", @InputFor = "lblLeaveDurationTypeName" })  <span class="form-control-error-text">
                            @Html.ValidationMessageFor(m => m.LeaveDurationTypeKey)
                        </span>
                    </div>
                </div>

                <div class="col-sm-6 col-12">
                    <div class="form-group">
                        @Html.Label(EduSuiteUIResources.LeaveFrom, htmlAttributes: new { @id = "lblLeaveFrom", @class = "form-label" })<div class="required-icon"><div class="text">*</div></div>
                        @Html.TextBoxFor(m => m.LeaveFrom, "{0:dd/MM/yyyy}", new { @class = "input-control form-control form-control-sm", @data_input_type = "date", @InputFor = "lblLeaveFrom", @data_inputmask = "'alias': 'dd/mm/yyyy'" })
                        <span class="form-control-error-text">
                            @Html.ValidationMessageFor(m => m.LeaveFrom)
                        </span>
                    </div>
                </div>
                <div class="col-sm-6 col-12" id="divLeaveTo">
                    <div class="form-group">
                        @Html.Label(EduSuiteUIResources.LeaveTo, htmlAttributes: new { @id = "lblLeaveTo", @class = "form-label" })<div class="required-icon"><div class="text">*</div></div>
                        @Html.TextBoxFor(m => m.LeaveTo, "{0:dd/MM/yyyy}", new { @class = "input-control form-control form-control-sm", @data_input_type = "date", @InputFor = "lblLeaveTo", @data_inputmask = "'alias': 'dd/mm/yyyy'" })
                        <span class="form-control-error-text">
                            @Html.ValidationMessageFor(m => m.LeaveTo)
                        </span>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        @Html.Label(EduSuiteUIResources.LeaveReason, htmlAttributes: new { @id = "lblRemarks", @class = "form-label" })
                        @Html.TextAreaFor(m => m.LeaveReason, new { @class = "input-control form-control form-control-sm", @InputFor = "lblRemarks" })
                        <span class="form-control-error-text">
                            @Html.ValidationMessageFor(m => m.LeaveReason)
                        </span>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="modal-footer justify-content-start">
        <div class="form-group">
            <button type="submit" id="btnSave" class="btn btn-sm btn-success mx-1"><i class="fa fa-save"></i> @EduSuiteUIResources.Save</button>
            <button type="button" data-dismiss="modal" class="btn btn-sm btn-danger mx-1">@EduSuiteUIResources.Cancel</button>

        </div>
    </div>


}


