@model CITS.EduSuite.Business.Models.ViewModels.FeeRefundViewModel
@using CITS.EduSuite.Business.Models.ViewModels
@using CITS.EduSuite.UI
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/CitsValidation")
    @Scripts.Render("~/Content/DatePickerJS")
    @Scripts.Render("~/Scripts/FeeRefund")
}

<header class="section-header">
    <div class="row justify-content-between px-1">
        <div class="col-12">
            <div class="tbl">
                <div class="tbl-row">
                    <div class="tbl-cell">
                        <h3>@EduSuiteUIResources.Add@EduSuiteUIResources.Hyphen@EduSuiteUIResources.Edit@EduSuiteUIResources.BlankSpace@EduSuiteUIResources.StudentFeeRefund</h3>
                        <ol class="breadcrumb breadcrumb-simple mb-2 float-sm-right">
                            <li><a href="#" onclick="location.href='@Url.Action("FeeRefundList", "FeeRefund")' ">@EduSuiteUIResources.StudentFeeRefund</a></li>
                            <li class="active">@EduSuiteUIResources.Add@EduSuiteUIResources.Hyphen@EduSuiteUIResources.Edit@EduSuiteUIResources.BlankSpace@EduSuiteUIResources.StudentFeeRefund</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<input type="hidden" id="hdnStudentApplication" value="@Url.Action("StudentApplication", "FeeRefund")" />
<section class="section-content mx-sm-3 mx-0">
    <div class="form-master">
        <div class="form-row ">

            <div class="col-12 col-sm-4 col-lg-2">
                <div class="form-group">
                    @Html.Label(EduSuiteUIResources.RollNo + EduSuiteUIResources.Sla + EduSuiteUIResources.AdmissionNo, htmlAttributes: new { @id = "lblAdmissionNo", @class = "form-label" })
                    <div class="required-icon"><div class="text">*</div></div>
                    @Html.TextBoxFor(m => m.AdmissionNo, new { @class = "form-control input-control", @InputFor = "lblAdmissionNo", @data_plugin_type = "autocomplete", @data_url = Url.Action("AutoCompleteAdmissionNo", "SelectList") })
                    <span class="form-control-error-text">
                        @Html.ValidationMessageFor(m => m.AdmissionNo)
                    </span>
                </div>
            </div>


        </div>
        @Html.HiddenFor(m => Model.ApplicationKey)
        @Html.HiddenFor(m => Model.RowKey)
        <div id="DivCourseFee">

        </div>

    </div>

</section>


<script>


    $(document).ready(function () {

        AppCommon.FormatInputCase();
        AppCommon.FormatDateInput();
        AppCommon.CustomRemoteMethod();
        AppCommon.FormatAutoComplete();

        if (@Model.RowKey!= 0) {
            $("#AdmissionNo").attr("readonly", true);
        }


        if ($("#ApplicationKey").val())
            FeeRefund.GetApplicationDetails();
        $("#AdmissionNo").on("change", function () {
            FeeRefund.GetApplicationDetails();
        });
    });

</script>
