@model CITS.EduSuite.Business.Models.ViewModels.CashTransactionViewModel
@using CITS.EduSuite.Business.Models.ViewModels

<div class="modal-header">
    <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close"></i></button>
    <h4 class="modal-title" id="myModalLabel">@ViewBag.title </h4>
</div>

@using (Html.BeginForm("AddEditCashTransaction", "CashTransaction", FormMethod.Post, htmlAttributes: new { @id = "frmCashTransaction" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.RowKey)
    @Html.ValidationSummary(true)

    <input type="hidden" id="hdnGetToBranchById" value="@Url.Action("GetToBranchById", "CashTransaction")" />
    <input type="hidden" id="hdnGetBalance" value="@Url.Action("GetBalance", "CashTransaction")" />

    <div class="modal-body">
        <div class="form-master">
            <div class="form-row">
                <div class="paddingNone">
                    <span class="ValidateDataMsg"> @Html.ValidationMessage("error_msg")  </span>
                </div>
            </div>

            <div class="form-row ">


                <div class="col-12 col-sm-4 col-lg-6">
                    <fieldset class="form-group">
                        @Html.Label(EduSuiteUIResources.From + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.Branch, htmlAttributes: new { @id = "lblBranch", @class = "form-label" })
                        <div class="required-icon"><div class="text">*</div></div>
                        @Html.DropDownListFor(m => m.FromBranchKey, new SelectList(Model.FromBranch, "RowKey", "Text"), EduSuiteUIResources.Select + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.Branch, new { @class = "form-control input-control", @InputFor = "lblBranch", @data_live_search = "true", @onchange = "CashTransaction.BranchChangeEvent(this)" })
                        <span class="form-control-error-text">
                            @Html.ValidationMessageFor(m => m.FromBranchKey)
                        </span>
                    </fieldset>
                </div>
                <div class="col-12 col-sm-4 col-lg-6">
                    <fieldset class="form-group">
                        @Html.Label(EduSuiteUIResources.To + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.Branch, htmlAttributes: new { @id = "lblBranch", @class = "form-label" })
                        <div class="required-icon"><div class="text">*</div></div>
                        @Html.DropDownListFor(m => m.ToBranchKey, new SelectList(Model.ToBranch, "RowKey", "Text"), EduSuiteUIResources.Select + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.Branch, new { @class = "form-control input-control", @InputFor = "lblBranch", @data_live_search = "true" })
                        <span class="form-control-error-text">
                            @Html.ValidationMessageFor(m => m.ToBranchKey)
                        </span>
                    </fieldset>
                </div>

                <div class="col-12 col-sm-4 col-lg-4">
                    <div class="form-group">
                        @Html.Label(EduSuiteUIResources.Date, htmlAttributes: new { @id = "lblTransactionDate", @class = "form-label" })<div class="required-icon"><div class="text">*</div></div>
                        @Html.TextBoxFor(m => m.TransactionDate, "{0:dd/MM/yyyy}", new { @class = "input-control form-control form-control-sm", @data_input_type = "date", @InputFor = "lblTransactionDate", @data_inputmask = "'alias': 'dd/mm/yyyy'" })
                        <span class="form-control-error-text">
                            @Html.ValidationMessageFor(m => m.TransactionDate)
                        </span>
                    </div>
                </div>


                <div class="col-12 col-sm-4 col-lg-4 divAmount">
                    <div class="form-group">
                        @Html.Label(EduSuiteUIResources.Amount, htmlAttributes: new { @id = "lblAmount", @class = "form-label" })<div class="required-icon"><div class="text">*</div></div>
                        @Html.TextBoxFor(m => m.Amount, "{0:G29}", new { @class = "input-control form-control form-control-sm", @InputFor = "lblAmount", @onchange = "CashTransaction.Checkbalance(this)" })
                        <span class="form-control-error-text">
                            @Html.ValidationMessageFor(m => m.Amount)
                        </span>
                        @Html.Hidden("OldAmount", Model.Amount)
                    </div>
                    @Html.HiddenFor(m => m.AccountHeadBalance)
                </div>

            </div>
            <div class="form-row">

                <div class="col-12 col-sm-4 col-lg-4">
                    <div class="form-group">
                        @Html.Label(EduSuiteUIResources.PaidBy, htmlAttributes: new { @id = "lblPaidBy", @class = "form-label" })

                        @Html.TextBoxFor(m => m.PaidBy, new { @class = "form-control border-radius", @InputFor = "lblPaidBy" })
                        <span class="form-control-error-text">
                            @Html.ValidationMessageFor(m => m.PaidBy)
                        </span>
                    </div>
                </div>
                <div class="col-12 col-sm-4 col-lg-4">
                    <div class="form-group">

                        @Html.Label(EduSuiteUIResources.AuthorizedBy, htmlAttributes: new { @id = "lblAuthorizedBy", @class = "form-label" })
                        @Html.TextBoxFor(m => m.AuthorizedBy, new { @class = "form-control border-radius", @InputFor = "lblAuthorizedBy" })
                        <span class="form-control-error-text">
                            @Html.ValidationMessageFor(m => m.AuthorizedBy)
                        </span>
                    </div>
                </div>

                <div class="col-12 col-sm-4 col-lg-4">
                    <div class="form-group">
                        @Html.Label(EduSuiteUIResources.ReceivedBy, htmlAttributes: new { @id = "lblReceivedBy", @class = "form-label" })


                        @Html.TextBoxFor(m => m.ReceivedBy, new { @class = "form-control border-radius", @InputFor = "lblReceivedBy" })
                        <span class="form-control-error-text">
                            @Html.ValidationMessageFor(m => m.ReceivedBy)
                        </span>

                    </div>
                </div>
                <div class="col-12 col-sm-4 col-lg-4">
                    <div class="form-group">
                        @Html.Label(EduSuiteUIResources.OnBehalfOf, htmlAttributes: new { @id = "lblOnBehalfOf", @class = "form-label" })


                        @Html.TextBoxFor(m => m.OnBehalfOf, new { @class = "form-control border-radius", @InputFor = "lblOnBehalfOf" })
                        <span class="form-control-error-text">
                            @Html.ValidationMessageFor(m => m.OnBehalfOf)
                        </span>
                    </div>
                </div>
                <div class="col-12 col-sm-4 col-lg-4 d-none">
                    <div class="form-group">
                        @Html.Label(EduSuiteUIResources.Purpose, htmlAttributes: new { @id = "lblPurpose", @class = "form-label" })


                        @Html.TextBoxFor(m => m.Purpose, new { @class = "form-control border-radius", @InputFor = "lblPurpose" })
                        <span class="form-control-error-text">
                            @Html.ValidationMessageFor(m => m.Purpose)
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-row">

                <div class="col-12">
                    <div class="form-group">
                        @Html.Label(EduSuiteUIResources.Remarks, htmlAttributes: new { @id = "lblRemarks", @class = "form-label" })
                        @Html.TextAreaFor(m => m.Remarks, new { @class = "input-control form-control form-control-sm", @InputFor = "lblRemarks" })
                        <span class="form-control-error-text">
                            @Html.ValidationMessageFor(m => m.Remarks)
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div class="col-sm-12">
            <div class="form-group">
                <input type="submit" value="@EduSuiteUIResources.Save" id="btnSave" class="btn btn-sm btn-success mx-1" />
                <button type="button" data-dismiss="modal" class="btn btn-sm btn-danger mx-1">@EduSuiteUIResources.Cancel</button>
            </div>
        </div>
    </div>

}


<script>
    $(document).ready(function () {
        AppCommon.AutoHideDropdown();
        AppCommon.FormatDateInput();
        $('#TransactionDate').datepicker('setStartDate', '');
        $('#TransactionDate').datepicker('setEndDate', new Date());
        var RowKey = $("#RowKey").val();

        CashTransaction.GetBalance(RowKey, $("#FromBranchKey", $("#frmCashTransaction")).val())


    });


</script>