@model CITS.EduSuite.Business.Models.ViewModels.CashTransactionViewModel
@using System.Web.Mvc
@using CITS.EduSuite.Business.Models.ViewModels

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/CitsValidation")

    @Scripts.Render("~/Scripts/CashTransaction")
    @Scripts.Render("~/Content/DatePickerJS")
}

<input type="hidden" id="hdnGetCashTransactions" value="@Url.Action("GetCashTransactions", "CashTransaction")" />
<input type="hidden" id="hdnDeleteCashTransaction" value="@Url.Action("DeleteCashTransaction", "CashTransaction")" />
<input type="hidden" id="hdnGetBankAccountById" value="@Url.Action("GetBankAccountById", "CashTransaction")" />
<input type="hidden" id="hdnAddEditCashTransaction" value="@Url.Action("AddEditCashTransaction", "CashTransaction")" />

<header class="section-header">
    <div class="row justify-content-between px-1">
        <div class="col-sm-6 col-12">
            <div class="tbl">
                <div class="tbl-row">
                    <div class="tbl-cell">
                        <h3>@EduSuiteUIResources.CashTransactions</h3>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-3 text-right">
            <a onclick="CashTransaction.EditPopup(null)" class="btn btn-success btn-sm "><i class="fa fa-plus-square-o"></i> <span>@EduSuiteUIResources.CashTransactions</span></a>
        </div>
    </div>
</header>
<section class="section-content mx-sm-3 mx-0">
    <div class="GridBody">

        <div class="grid-nav-bar">

            <div class=" form-row ">
              


                <div class="col-12 col-sm-3 col-lg-2 ">
                    <fieldset class="form-group">
                        @Html.TextBoxFor(m => m.SearchDate, "{0:dd/MM/yyyy}", new { @class = "form-control input-control", @data_input_type = "date", @data_inputmask = "'alias': 'dd/mm/yyyy'", @placeholder = "" + @EduSuiteUIResources.Date + "" })
                        <span id="iconSpandate" class="iconSpan"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
                    </fieldset>
                </div>
                <div class="col-lg-3 col-6">
                    <input id="txtsearch" type="text" name="focus" class="form-control gridSearchTextBox" placeholder="@EduSuiteUIResources.Search @EduSuiteUIResources.Remarks" /> @* Change Search TextBox Placeholder*@
                    <span id="iconSpantext" class="iconSpan"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
                </div>

                <div class="col-lg-3 col-4 d-none">
                    <a class="btn btn-info btn-sm float-right " onclick='window.location.reload()'>
                        <i class="fa fa-refresh"></i>   @EduSuiteUIResources.Refresh
                    </a>
                </div>

            </div>
        </div>
        <div class="table-wrapper">

            <div class="jqGrid_wrapper overflow-auto">
                <table id="grid"></table>
                <div id="pager"></div>
            </div>
        </div>


    </div>

    <div id='myModal' class='modal fade in'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div id='myModalContent'></div>
            </div>
        </div>
    </div>
</section>



<script>
    $(document).ready(function () {
        AppCommon.FormatDateInput();
        CashTransaction.GetCashTransactions();
        $("#FromBranchKey").on("change", function () {
            CashTransaction.GetCashTransactions();
        });
        $("#iconSpantext").click(function () {
            $('#txtsearch').val('');
            CashTransaction.GetCashTransactions();
        });
        $("#iconSpandate").click(function () {
            $('#SearchDate').val('');
            CashTransaction.GetCashTransactions();
        });
        $("#txtsearch").on("input", function () {
            CashTransaction.GetCashTransactions();
        });
        $("#SearchDate").on("changeDate", function () {
            CashTransaction.GetCashTransactions();
        });

       
    });

</script>

