@model CITS.EduSuite.Business.Models.ViewModels.ExamScheduleViewModel

@using CITS.EduSuite.Business.Models.ViewModels

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Content/JqueryRepeater")
    @Scripts.Render("~/Scripts/Common")
    @Scripts.Render("~/bundles/CitsValidation")
    @Scripts.Render("~/Scripts/ExamSchedule")
    @Scripts.Render("~/Content/DatePickerJS")
    @Scripts.Render("~/Content/BootstrapSelectJS")
}


<input type="hidden" id="hdnFillCourse" value="@Url.Action("FillCourse", "ExamSchedule")" />
<input type="hidden" id="hdnFillCourseYear" value="@Url.Action("FillCourseYear", "ExamSchedule")" />
<input type="hidden" id="hdnFillUniversity" value="@Url.Action("FillUniversity", "ExamSchedule")" />
<input type="hidden" id="hdnStudentPromotionList" value="@Url.Action("ExamScheduleList", "ExamSchedule")" />
<input type="hidden" id="hdnFillBatch" value="@Url.Action("FillBatch", "ExamSchedule")" />
<input type="hidden" id="hdnUrl" value="@Url.Action("GetExamSchedule", "ExamSchedule", new { id = "" })" />
<input type="hidden" id="hdnResetExamSchedule" value="@Url.Action("ResetExamSchedule", "ExamSchedule")" />
<input type="hidden" id="hdnFillSubjects" value="@Url.Action("FillSubjects", "ExamSchedule")" />



<header class="section-header">
    <div class="row justify-content-between px-1">
        <div class="col-12">
            <div class="tbl">
                <div class="tbl-row">
                    <div class="tbl-cell">
                        <h3>@EduSuiteUIResources.Add@EduSuiteUIResources.Hyphen@EduSuiteUIResources.Edit@EduSuiteUIResources.BlankSpace@EduSuiteUIResources.ExamSchedule</h3>
                        <ol class="breadcrumb breadcrumb-simple float-right mb-2">
                            <li><a href="#" onclick="location.href='@Url.Action("ExamScheduleList", "ExamSchedule")' ">@EduSuiteUIResources.ExamSchedule</a></li>
                            <li class="active">@EduSuiteUIResources.Add@EduSuiteUIResources.Hyphen@EduSuiteUIResources.Edit@EduSuiteUIResources.BlankSpace@EduSuiteUIResources.ExamSchedule</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="section-content mx-sm-3 mx-0">
    <div class="form-master">

        @using (Html.BeginForm("AddEditExamSchedule", "ExamSchedule", FormMethod.Post, new { @id = "frmExamSchedule" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @*@Html.HiddenFor(m => m.RowKey)*@
            @Html.HiddenFor(m => m.IsMultipleExamSchedule)

            <div class="form-row">
                @if (Model.Branches.Count == 1)
                {
                    {
                        Model.BranchKey = (Model.BranchKey ?? 0) == 0 ? (short)Model.Branches.Select(x => x.RowKey).FirstOrDefault() : Model.BranchKey;
                    }
                    @Html.HiddenFor(m => m.BranchKey)
                }
                else
                {

                    <div class="col-12 col-sm-3 col-lg-2">
                        <fieldset class="form-group">
                            @Html.Label(EduSuiteUIResources.Branch, htmlAttributes: new { @id = "lblBranch", @class = "form-label" })
                            <div class="required-icon"><div class="text">*</div></div>
                            @Html.DropDownListFor(m => m.BranchKey, new SelectList(Model.Branches, "RowKey", "Text"), EduSuiteUIResources.Select + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.Branch, new { @class = "form-control input-control", @InputFor = "lblBranch", @data_live_search = "true" })
                            <span class="form-control-error-text">
                                @Html.ValidationMessageFor(m => m.BranchKey)
                            </span>
                        </fieldset>
                    </div>

                }

                @if ((bool)ViewBag.ShowAcademicTerm)
                {
                    <div class="col-lg-2 col-sm-4 col-6">
                        <fieldset class="form-group ">
                            @Html.Label(EduSuiteUIResources.AcademicTerm, htmlAttributes: new { @class = "form-label" })<div class="required-icon"><div class="text">*</div></div>
                            @Html.DropDownListFor(m => m.AcademicTermKey, new SelectList(Model.AcademicTerms, "RowKey", "Text"), EduSuiteUIResources.Select + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.AcademicTerm, new { @class = "form-control border-radius input-control autoselect-select" })<span class="form-control-error-text">
                                @Html.ValidationMessageFor(m => m.AcademicTermKey)
                            </span>
                        </fieldset>

                    </div>
                }
                else
                {
                    {
                        Model.AcademicTermKey = (byte)Model.AcademicTerms.Select(row => row.RowKey).FirstOrDefault();

                    }
                    @Html.HiddenFor(m => m.AcademicTermKey)
                }


                <div class="col-lg-2 col-sm-4 col-6">
                    <fieldset class="form-group ">
                        @Html.Label(EduSuiteUIResources.CourseType, htmlAttributes: new { @class = "form-label" })<div class="required-icon"><div class="text">*</div></div>
                        @Html.DropDownListFor(m => m.CourseTypeKey, new SelectList(Model.CourseTypes, "RowKey", "Text"), EduSuiteUIResources.Select + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.CourseType, new { @class = "form-control border-radius input-control autoselect-select" })<span class="form-control-error-text">

                            @Html.ValidationMessageFor(m => m.CourseTypeKey)
                        </span>
                    </fieldset>
                </div>

                <div class="col-lg-2 col-sm-4 col-6">
                    <fieldset class="form-group ">
                        @Html.Label(EduSuiteUIResources.Course, htmlAttributes: new { @class = "form-label" })<div class="required-icon"><div class="text">*</div></div>
                        @Html.DropDownListFor(m => m.CourseKey, new SelectList(Model.Courses, "RowKey", "Text"), EduSuiteUIResources.Select + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.Course, new { @class = "form-control border-radius input-control autoselect-select" })<span class="form-control-error-text">
                            @Html.ValidationMessageFor(m => m.CourseKey)
                        </span>
                    </fieldset>
                </div>

                @if ((bool)ViewBag.ShowUniversity)
                {
                    <div class="col-lg-2 col-sm-4 col-6">
                        <fieldset class="form-group ">
                            @Html.Label(EduSuiteUIResources.AffiliationsTieUps, htmlAttributes: new { @class = "form-label" })<div class="required-icon"><div class="text">*</div></div>
                            @Html.DropDownListFor(m => m.UniversityMasterKey, new SelectList(Model.Universities, "RowKey", "Text"), EduSuiteUIResources.Select + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.AffiliationsTieUps, new { @class = "form-control border-radius input-control autoselect-select" })
                            <span class="form-control-error-text">
                                @Html.ValidationMessageFor(m => m.UniversityMasterKey)
                            </span>
                        </fieldset>
                    </div>
                }
                else
                {
                    {
                        Model.UniversityMasterKey = (short)Model.Universities.Select(row => row.RowKey).FirstOrDefault();
                    }
                    @Html.HiddenFor(m => m.UniversityMasterKey)
                }
                <div class="col-lg-2 col-sm-4 col-6">
                    <fieldset class="form-group ">
                        @Html.Label(EduSuiteUIResources.Year, htmlAttributes: new { @class = "form-label" })<div class="required-icon"><div class="text">*</div></div>
                        @Html.DropDownListFor(m => m.CourseYear, new SelectList(Model.CourseYears, "RowKey", "Text"), EduSuiteUIResources.Select + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.Year, new { @class = "form-control border-radius input-control autoselect-select" })<span class="form-control-error-text">
                            @Html.ValidationMessageFor(m => m.CourseYear)
                        </span>
                    </fieldset>
                </div>

                <div class="col-lg-2 col-sm-4 col-6">
                    <fieldset class="form-group ">
                        @Html.Label(EduSuiteUIResources.Subject, htmlAttributes: new { @class = "form-label" })<div class="required-icon"><div class="text">*</div></div>
                        @Html.DropDownListFor(m => m.SubjectKey, new SelectList(Model.Subjects, "RowKey", "Text"), EduSuiteUIResources.Select + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.Subject, new { @class = "form-control border-radius input-control autoselect-select", @onchange = "ChangeSubject(this)" })
                        <span class="form-control-error-text">
                            @Html.ValidationMessageFor(m => Model.SubjectKey)
                        </span>
                    </fieldset>
                </div>

                <div class="col-lg-2 col-sm-4 col-6">
                    <fieldset class="form-group ">
                        @Html.Label(EduSuiteUIResources.Batch, htmlAttributes: new { @class = "form-label" })<div class="required-icon"><div class="text">*</div></div>
                        @Html.DropDownListFor(m => m.BatchKey, new SelectList(Model.Batches, "RowKey", "Text"), EduSuiteUIResources.Select + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.Batch, new { @class = "form-control border-radius input-control autoselect-select" })

                        <span class="form-control-error-text">
                            @Html.ValidationMessageFor(m => m.BatchKey)
                        </span>
                    </fieldset>
                </div>

                <div class="col-lg-2 col-sm-4 col-6">
                    <fieldset class="form-group ">
                        @Html.Label(EduSuiteUIResources.ExamTerm, htmlAttributes: new { @class = "form-label" })<div class="required-icon"><div class="text">*</div></div>
                        @Html.DropDownListFor(m => m.ExamTermKey, new SelectList(Model.ExamTerm, "RowKey", "Text"), EduSuiteUIResources.Select + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.ExamTerm, new { @class = "form-control border-radius input-control autoselect-select", @onchange = "ChangeExamTerm(this)" })
                        <span class="form-control-error-text">
                            @Html.ValidationMessageFor(m => m.ExamTermKey)
                        </span>
                    </fieldset>
                </div>
                <div class="col-lg-2 col-sm-4 col-6">
                    <fieldset class="form-group ">
                        @Html.Label(EduSuiteUIResources.ExamDate, htmlAttributes: new { @class = "form-label" })<div class="required-icon"><div class="text">*</div></div>
                        @Html.TextBoxFor(m => m.ExamDate, "{0:dd/MM/yyyy}", new { @class = "form-control input-control", @data_input_type = "date", @data_inputmask = "'alias': 'dd/mm/yyyy'", @onchange = "ChangeExamDateAll(this)" })
                        <span class="form-control-error-text">
                            @Html.ValidationMessageFor(m => m.ExamDate)
                        </span>
                    </fieldset>
                </div>

                <div class="col-lg-2 col-sm-4 col-6">
                    <fieldset class="form-group ">
                        @Html.Label(EduSuiteUIResources.MinimumMark, htmlAttributes: new { @class = "form-label" })<div class="required-icon"><div class="text">*</div></div>
                        @Html.TextBoxFor(m => m.MinimumMark, new { @class = "form-control input-control", @oninput = "ChangeMinimumMarkAll(this)" })
                        <span class="form-control-error-text">
                            @Html.ValidationMessageFor(m => m.MinimumMark)
                        </span>
                    </fieldset>
                </div>
                <div class="col-lg-2 col-sm-4 col-6">
                    <fieldset class="form-group ">
                        @Html.Label(EduSuiteUIResources.MaximumMark, htmlAttributes: new { @class = "form-label" })<div class="required-icon"><div class="text">*</div></div>
                        @Html.TextBoxFor(m => m.MaximumMark, new { @class = "form-control input-control", @oninput = "ChangeMaximumMarkAll(this)" })
                        <span class="form-control-error-text">
                            @Html.ValidationMessageFor(m => m.MaximumMark)
                        </span>
                    </fieldset>
                </div>
                <div class="col-lg-2 col-sm-4 col-6">
                    <fieldset class="form-group ">
                        @Html.Label(EduSuiteUIResources.StartTime, htmlAttributes: new { @class = "form-label" })
                        @Html.TextBoxFor(m => m.ExamStartTime, new { @class = "form-control input-control", @data_input_type = "time", @data_inputmask = "'alias':'hh:mm t','hourFormat': '12'", @InputFor = "lblCallDuration" })
                        <span class="form-control-error-text">
                            @Html.ValidationMessageFor(m => m.ExamStartTime)
                        </span>
                    </fieldset>
                </div>
                <div class="col-lg-2 col-sm-4 col-6">
                    <fieldset class="form-group ">
                        @Html.Label(EduSuiteUIResources.EndTime, htmlAttributes: new { @class = "form-label" })
                        @Html.TextBoxFor(m => m.ExamEndTime, new { @class = "form-control input-control", @data_input_type = "time", @data_inputmask = "'alias':'hh:mm t','hourFormat': '12'", @InputFor = "lblCallDuration" })
                        <span class="form-control-error-text">
                            @Html.ValidationMessageFor(m => m.ExamEndTime)
                        </span>
                    </fieldset>
                </div>
            </div>
            <div id="dvStudentsList"></div>


            <div class="row mt-2">
                <div class="form-group">
                    <div class="col-12">
                        <fieldset class="form-group">
                            <input type="button" value="@EduSuiteUIResources.Save" id="btnSave" class="btn btn-sm btn-success mx-1" />
                            <input type="button" value="@EduSuiteUIResources.Cancel" onclick="location.href='@Url.Action("ExamScheduleList", "ExamSchedule")' " class="btn btn-sm btn-danger mx-1" />
                        </fieldset>
                        <div class="col-12 paddingNone">
                            <span class="text-danger"><strong> @Html.ValidationMessage("error_msg")</strong>  </span>
                        </div>
                    </div>


                </div>

            </div>
        }
    </div>
</section>
<script>
    var jsonData=@(Html.Raw(Json.Encode(Model)));

    $(document).ready(function () {
        AppCommon.FormatInputCase();
        AppCommon.FormatMultiSelect();
        AppCommon.FormatDateInput();
        AppCommon.CustomRemoteMethod();

        ExamSchedule.LoadData(jsonData);

        $("#btnSave").on("click",function(){

            ExamSchedule.FormSubmit(jsonData);

        })

        // Bind Subject

        $("#AcademicTermKey,#CourseKey,#UniversityMasterKey,#CourseYear").on("change",function() {
            var obj = {};
            obj.AcademicTermKey = $("#AcademicTermKey").val();
            obj.CourseKey = $("#CourseKey").val();
            obj.UniversityMasterKey = $("#UniversityMasterKey").val();
            obj.CourseYear = $("#CourseYear").val();
            //ExamSchedule.GetclassDetails(obj,$("#SubjectKey"));
            AppCommon.BindDropDownbyId(obj, $("#hdnFillSubjects").val(), $("#SubjectKey"), Resources.Subject);
        });

        //Bind Course

        $("#CourseTypeKey").on("change", function () {
            var obj={};
            obj.key=$(this).val()!=""?$(this).val():0;
            AppCommon.BindDropDownbyId(obj, $("#hdnFillCourse").val(), $("#CourseKey"), Resources.Course);
        });

        //Bind University and Year

        $("#AcademicTermKey,#CourseKey").on("change", function () {

            var obj={};
            obj.key=$("#CourseKey").val()!=""?$("#CourseKey").val():0;
            obj.AcademicTermKey=$("#AcademicTermKey").val()!=""?$("#AcademicTermKey").val():0;
            AppCommon.BindDropDownbyId(obj, $("#hdnFillUniversity").val(), $("#UniversityMasterKey"), Resources.AffiliationsTieUps);
            AppCommon.BindDropDownbyId(obj, $("#hdnFillCourseYear").val(), $("#CourseYear"), Resources.Year);
        });

        //Bind Batch


        $("#CourseKey,#BranchKey,#UniversityMasterKey").on("change", function () {

            var obj={};
            obj.Branchkey=$("#BranchKey").val()!=""?$("#BranchKey").val():0;
            obj.CourseKey=$("#CourseKey").val()!=""?$("#CourseKey").val():0;
            obj.UniversityMasterKey=$("#UniversityMasterKey").val()!=""?$("#UniversityMasterKey").val():0;
            AppCommon.BindDropDownbyId(obj, $("#hdnFillBatch").val(), $("#BatchKey"), Resources.Batch);
            //ExamSchedule.GetBatchByClass(obj,$("#BatchKey"));
        });

        $("#Branchkey,#CourseKey,#BatchKey,#ExamTermKey,#CourseYear,#SubjectKey").on("change", function () {
            ExamSchedule.LoadData(jsonData);
        });

    });


    function ChangeMinimumMarkAll(_this)
    {

        var MinimumMark = $(_this).val() != "" ? $(_this).val() : 0;

        $("#dvStudentsList [data-repeater-item]").each(function (i)
        {
            var item = $(this).closest("[data-repeater-item]");
            $("input[name*=MinimumMark]", $(item)).val(MinimumMark)

        });
    };

    function ChangeMaximumMarkAll(_this)
    {

        var MaximumMark = $(_this).val() != "" ? $(_this).val() : 0;

        $("#dvStudentsList [data-repeater-item]").each(function (i)
        {
            var item = $(this).closest("[data-repeater-item]");
            $("input[name*=MaximumMark]", $(item)).val(MaximumMark)
        });
    };

    function ChangeExamDateAll(_this)
    {

        var ExamDate = $(_this).val() != "" ? $(_this).val() : 0;

        $("#dvStudentsList [data-repeater-item]").each(function (i)
        {
            var item = $(this).closest("[data-repeater-item]");
            $("input[name*=ExamDate]", $(item)).val(ExamDate)
        });
    };

    function ChangeExamTerm(_this)
    {

        var ExamTermKey = $(_this).val() != "" ? $(_this).val() : 0;

        $("#dvStudentsList [data-repeater-item]").each(function (i)
        {
            var item = $(this).closest("[data-repeater-item]");
            $("input[name*=ExamTermKey]", $(item)).val(ExamTermKey)
        });
    };

    function ChangeSubject(_this)
    {

        var SubjectKey = $(_this).val() != "" ? $(_this).val() : 0;

        $("#dvStudentsList [data-repeater-item]").each(function (i)
        {
            var item = $(this).closest("[data-repeater-item]");
            $("input[name*=SubjectKey]", $(item)).val(SubjectKey)
        });
    };
</script>
