@model CITS.EduSuite.Business.Models.ViewModels.ApplicationViewModel
@using System.Web.Mvc

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Content/JqueryRepeater")
    @Scripts.Render("~/Content/DatePickerJS")
    @Scripts.Render("~/Scripts/Common")
    @Scripts.Render("~/Scripts/ExamSchedule")
    @Scripts.Render("~/bundles/CitsValidation")
}




<input type="hidden" id="hdnGetExamScheduleListdetails" value="@Url.Action("GetExamScheduleListdetails", "ExamSchedule")" />
<input type="hidden" id="hdnGetApplications" value="@Url.Action("GetApplications", "ExamSchedule")" />
<input type="hidden" id="hdnDeleteExamSchedule" value="@Url.Action("DeleteExamSchedule", "ExamSchedule")" />
<input type="hidden" id="hdnAddEditExamSchedule" value="@Url.Action("AddEditExamSchedule", "ExamSchedule")" />
<input type="hidden" id="hdnAddEditExamScheduleIndividual" value="@Url.Action("AddEditExamScheduleIndividual", "ExamSchedule")" />
<input type="hidden" id="hdnFillBatch" value="@Url.Action("FillSearchBatch", "ExamSchedule")" />

<header class="section-header">
    <div class="row justify-content-between px-1">
        <div class="col-sm-6 col-12">
            <div class="tbl">
                <div class="tbl-row">
                    <div class="tbl-cell">
                        <h3>@EduSuiteUIResources.ExamSchedule</h3>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 text-right">
            <a href="@Url.Action("AddEditExamSchedule", "ExamSchedule")" class="btn btn-success btn-sm "><i class="fa fa-plus-square-o"></i> <span>@EduSuiteUIResources.New @EduSuiteUIResources.BlankSpace @EduSuiteUIResources.ExamSchedule</span></a>
        </div>
    </div>
</header>
<section class="section-content mx-sm-3 mx-0">
    <div class="GridBody">
        <div class="form-master">

            <div class="form-row tabs-section mb-2">
                <div class="tabs-section-nav">
                    <ul id="tab-componets" class="nav nav-tabs" role="tablist">
                        <li class="nav-item"><a data-toggle="tab" data-val="1" href="#" aria-expanded="true" class="nav-link"><span class="nav-link-in">@EduSuiteUIResources.ExamSchedule </span></a></li>
                        <li class="nav-item"><a data-toggle="tab" data-val="0" href="#" aria-expanded="true" class="nav-link"><span class="nav-link-in">@EduSuiteUIResources.Multiple@EduSuiteUIResources.BlankSpace@EduSuiteUIResources.ExamSchedule</span></a></li>

                    </ul>
                </div>
            </div>

            <div class="grid-nav-bar form-row">
                @if (Model.Branches.Count == 1)
                {
                    {
                        Model.BranchKey = (Model.BranchKey == 0 || Model.BranchKey == null) ? (short)Model.Branches.Select(x => x.RowKey).FirstOrDefault() : Model.BranchKey;
                    }
                    @Html.HiddenFor(m => m.BranchKey)
                }
                else
                {
                    <div class="col-lg-2 col-sm-4 col-6">
                        <fieldset class="form-group">
                            @Html.DropDownListFor(m => m.BranchKey, new SelectList(Model.Branches, "RowKey", "Text"), EduSuiteUIResources.Branch, new { @class = "form-control input-control ", @data_live_search = "true" })
                        </fieldset>
                    </div>
                }
                <div class="col-lg-2 col-sm-4 col-6">
                    <div class="form-group">
                        @Html.DropDownListFor(m => m.CourseKey, new SelectList(Model.Courses, "RowKey", "Text"), EduSuiteUIResources.Select + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.Course, new { @class = "form-control input-control autohide-select", @data_plugin_type = "select2", @data_live_search = "true" })
                    </div>
                </div>
                @if (Model.Universities.Count == 1)
                {
                    {
                        Model.UniversityKey = (Model.UniversityKey == 0) ? (short)Model.Universities.Select(x => x.RowKey).FirstOrDefault() : Model.UniversityKey;
                    }
                    @Html.HiddenFor(m => m.UniversityKey)
                    @Html.Hidden("UniversityCount", 1)
                }
                else
                {
                    <div class="col-lg-2 col-sm-4 col-6">
                        <div class="form-group">
                            @Html.DropDownListFor(m => m.UniversityKey, new SelectList(Model.Universities, "RowKey", "Text"), EduSuiteUIResources.Select + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.AffiliationsTieUps, new { @class = "form-control input-control autohide-select", @data_plugin_type = "select2", @InputFor = "lblBranch", @data_live_search = "true" })
                        </div>
                    </div>
                }
                <div class="col-lg-2 col-sm-4 col-6">
                    <div class="form-group">
                        @Html.DropDownListFor(m => m.BatchKey, new SelectList(Model.Batches, "RowKey", "Text"), EduSuiteUIResources.Select + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.Batch, new { @class = "form-control input-control autohide-select", @data_plugin_type = "select2", @data_live_search = "true" })
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4 col-6 DivSingle" >
                    <div class="form-group">
                        <input id="txtSearchApplicantName" type="text" name="focus" class="form-control gridSearchTextBox" placeholder="@EduSuiteUIResources.Search@EduSuiteUIResources.BlankSpace@EduSuiteUIResources.Name@EduSuiteUIResources.Coma@EduSuiteUIResources.AdmissionNo" /> @* Change Search TextBox Placeholder*@
                        <span id="iconSpanName" class="iconSpan"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4 col-6 DivSingle">
                    <input id="txtSearchMobileNumber" type="text" name="focus" class="form-control gridSearchTextBox" placeholder="@EduSuiteUIResources.Search@EduSuiteUIResources.BlankSpace@EduSuiteUIResources.MobileNumber" />
                    <span id="iconSpanMobileNumber" class="iconSpan"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
                </div>
                <div class="col-lg-2 col-sm-4 col-6 DivMultiple">
                    <div class="form-group">
                        <input id="txtsearch" type="text" name="focus" class="form-control gridSearchTextBox" placeholder="@EduSuiteUIResources.Search" /> @* Change Search TextBox Placeholder*@
                        <span id="iconSpansearch" class="iconSpan"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4 col-6 float-right d-none">
                    <a class="btn btn-info btn-sm float-right " onclick='window.location.reload()'>
                        <i class="fa fa-refresh"></i>   Refresh
                    </a>
                </div>

            </div>

            <div class="table-wrapper">

                <div class="jqGrid_wrapper overflow-auto">
                    <table id="grid"></table>
                    <div id="pager"></div>
                </div>
            </div>

        </div>
    </div>
</section>

<script>
    $(document).ready(function () {

        AppCommon.FormatDateInput();
        $("#tab-componets li:first-child a").addClass('active');

        var ToggleValue = $("#tab-componets li a.active").data('val');

        CheckMultipleExam(ToggleValue);

        $('#tab-componets a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            $('#grid').jqGrid("GridUnload");
            var ToggleValue = $("#tab-componets li a.active").data('val');
            CheckMultipleExam(ToggleValue);
        });

        $("#txtSearchApplicantName").on("input", function () {
            var ToggleValue = $("#tab-componets li a.active").data('val');
            CheckMultipleExam(ToggleValue);
        });
        $("#txtSearchMobileNumber").on("input", function () {
            var ToggleValue = $("#tab-componets li a.active").data('val');
            CheckMultipleExam(ToggleValue);
        });

        $("#iconSpanMobileNumber").click(function () {
            $('#txtSearchMobileNumber').val('');
            var ToggleValue = $("#tab-componets li a.active").data('val');
            CheckMultipleExam(ToggleValue);
        });
        $("#iconSpanName").click(function () {
            $('#txtSearchApplicantName').val('');
            var ToggleValue = $("#tab-componets li a.active").data('val');
            CheckMultipleExam(ToggleValue);
        });

        $("#txtsearch").on("input", function () {
            var ToggleValue = $("#tab-componets li a.active").data('val');
            CheckMultipleExam(ToggleValue);
        });

        $("#iconSpansearch").click(function () {
            $('#txtsearch').val('');
            var ToggleValue = $("#tab-componets li a.active").data('val');
            CheckMultipleExam(ToggleValue);
        });

        $("#BranchKey").change(function () {
            var obj = {};
            obj.BranchKey = $(this).val() != "" ? $(this).val() : 0;
            AppCommon.BindDropDownbyId(obj, $("#hdnFillBatch").val(), $("#BatchKey"), Resources.Batch);

            var ToggleValue = $("#tab-componets li a.active").data('val');
            CheckMultipleExam(ToggleValue);
        });
        $("#BatchKey").change(function () {
            var ToggleValue = $("#tab-componets li a.active").data('val');
            CheckMultipleExam(ToggleValue);
        });
        $("#CourseKey").change(function () {
            var ToggleValue = $("#tab-componets li a.active").data('val');
            CheckMultipleExam(ToggleValue);
        });
        $("#UniversityKey").change(function () {
            var ToggleValue = $("#tab-componets li a.active").data('val');
            CheckMultipleExam(ToggleValue);
        });

        function CheckMultipleExam(_this) {
            if (_this == 0) {
                $(".DivSingle").hide();
                $(".DivMultiple").show();
                ExamSchedule.GetExamSchedule();
            }
            else {
                $(".DivSingle").show();
                $(".DivMultiple").hide()
                ExamSchedule.GetApplication();
            }
        }

    });
</script>
