@model CITS.EduSuite.Business.Models.ViewModels.EmployeeTaskViewModel


<div class="modal-header">
    <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close"></i></button>
    <h4 class="modal-title" id="myModalLabel">@EduSuiteUIResources.Add @EduSuiteUIResources.Sla @EduSuiteUIResources.Edit @EduSuiteUIResources.Employee @EduSuiteUIResources.Task</h4>
</div>

@using (Html.BeginForm("AddEditEmployeeTask", "EmployeeTask", FormMethod.Post, htmlAttributes: new { @id = "frmEmployeeTask" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.RowKey, new { @class = "hidEmployeeTaskKey" })
    @Html.ValidationSummary(true)

    <div class="modal-body bottomLine">
        <div class="form-master">
            <div class="formMaster paddingNone">
                <div class="form-row">
                    <div class="paddingNone">
                        <span class="text-danger"><strong> @Html.ValidationMessage("error_msg")</strong>  </span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12 mandatoryHead ">
                        <span>@EduSuiteUIResources.FieldsMarkedAs<span class="mandatoryStar"> * </span>@EduSuiteUIResources.AreMandatory</span>

                    </div>
                </div>
                <div class="form-row">
                    <div class="col-6 form-col">
                        <div class="form-group ">
                            @Html.Label(EduSuiteUIResources.Branch, htmlAttributes: new { @id = "lblBranch", @class = "form-label" })<div class="required-icon"><div class="text">*</div></div>
                            @Html.DropDownListFor(m => m.BranchKey, new SelectList(Model.Branches, "RowKey", "Text"), EduSuiteUIResources.Select + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.Branch, new { @class = "form-control input-control ", @InputFor = "lblBranch" })
                            <span class="form-control-error-text">
                                @Html.ValidationMessageFor(m => m.BranchKey)
                            </span>
                        </div>
                    </div>
                    <div class="col-6 form-col">
                        <div class="form-group">
                            @Html.Label(EduSuiteUIResources.Select + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.Employee, htmlAttributes: new { @id = "lblEmployee", @class = "form-label" })
                            <div class="required-icon"><div class="text">*</div></div>
                            @Html.DropDownListFor(m => m.EmployeeKey, new SelectList(Model.Employees, "RowKey", "Text"), EduSuiteUIResources.Select + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.Employee, new { @class = "form-control input-control", @data_plugin_type = "select2", @InputFor = "lblEmployee" })
                            <span class="form-control-error-text">
                                @Html.ValidationMessageFor(m => m.EmployeeKey)
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12">
                        <div class="form-group">
                            @Html.Label(EduSuiteUIResources.TaskTitle, htmlAttributes: new { @id = "lblTaskTitle", @class = "form-label" })
                            <div class="required-icon"><div class="text">*</div></div>
                            @Html.TextBoxFor(m => m.TaskTitle, new { @class = "form-control input-control", @InputFor = "lblTaskTitle" })
                            <span class="form-control-error-text">
                                @Html.ValidationMessageFor(m => m.TaskTitle)
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-6 form-col">
                        <div class="form-group">
                            @Html.Label(EduSuiteUIResources.StartDate, htmlAttributes: new { @id = "lblStartDate", @class = "form-label" })<div class="required-icon"><div class="text">*</div></div>
                            @Html.TextBoxFor(m => m.StartDate, "{0:dd/MM/yyyy}", new { @id = "txtStartDate", @class = "form-control input-control", @data_input_type = "date", @InputFor = "lblStartDate", @data_inputmask = "'alias': 'dd/mm/yyyy'" })
                            @*@Html.TextBoxFor(m => m.StartDate, "{0:dd/MM/yyyy}", new { @id = "txtStartDate", @class = "form-control input-control", @data_input_type = "date", @InputFor = "lblStartDate", @data_inputmask = "'alias': 'dd/mm/yyyy'", @onchange = "onchangeevent();" })*@
                            <span class="form-control-error-text">
                                @Html.ValidationMessageFor(m => m.StartDate)
                            </span>
                        </div>
                    </div>
                    <div class="col-6 form-col" id="divEndDate">
                        <div class="form-group">
                            @Html.Label(EduSuiteUIResources.EndDate, htmlAttributes: new { @id = "lblEndDate", @class = "form-label" })
                            @Html.TextBoxFor(m => m.EndDate, "{0:dd/MM/yyyy}", new { @id = "txtEndDate", @class = "form-control input-control", @data_input_type = "date", @InputFor = "lblEndDate", @data_inputmask = "'alias': 'dd/mm/yyyy'" })
                            <span class="form-control-error-text">
                                @Html.ValidationMessageFor(m => m.EndDate)
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-row">

                    <div class="col-12">
                        <div class="form-group ">
                            @Html.Label(EduSuiteUIResources.Priority, htmlAttributes: new { @id = "lblPriorityName", @class = "form-label" })<div class="required-icon"><div class="text">*</div></div>
                            @Html.DropDownListFor(m => m.PriorityKey, new SelectList(Model.Priorities, "RowKey", "Text"), EduSuiteUIResources.Select + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.Priority, new { @class = "form-control border-radius input-control", @InputFor = "lblPriorityName" })
                            <span class="form-control-error-text">
                                @Html.ValidationMessageFor(m => m.PriorityKey)
                            </span>
                        </div>
                    </div>

                </div>
                <div class="form-row">

                    <div class="col-12">
                        <div class="form-group ">
                            @Html.Label(EduSuiteUIResources.TaskStatus, htmlAttributes: new { @id = "lblTaskStatusName", @class = "form-label" })<div class="required-icon"><div class="text">*</div></div>
                            @Html.DropDownListFor(m => m.TaskStatusKey, new SelectList(Model.TaskStatuses, "RowKey", "Text"), EduSuiteUIResources.Select + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.TaskStatus, new { @class = "form-control border-radius input-control", @InputFor = "lblLeaveTypeName" })
                            <span class="form-control-error-text">
                                @Html.ValidationMessageFor(m => m.TaskStatusKey)
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="col-12">
            <div class="form-group">
                <input type="submit" value="@EduSuiteUIResources.Save" id="btnSaveCopy" class="btn btn-sm btn-success mx-1pull-left " />
                <button type="button" data-dismiss="modal" class="btnForm btnCancel btn btn-sm btn-default pull-left ">@EduSuiteUIResources.Cancel</button>
            </div>
        </div>
    </div>

}

<script>
    $(document).ready(function () {
        AppCommon.AutoHideDropdown();
        if(@Model.RowKey==0)
        {
            EmployeeTasks.GetEmployeesByBranchId($("#BranchKey").val(), $("#EmployeeKey"));
        }
        $("#BranchKey").on("change", function () {
            EmployeeTasks.GetEmployeesByBranchId($(this).val(), $("#EmployeeKey"));
        });
        AppCommon.FormatDateInput();
    });
</script>