@model CITS.EduSuite.Business.Models.ViewModels.AccountHeadOpeningBalanceViewModel
@using CITS.EduSuite.Business.Models.ViewModels
@using System.Web.Mvc
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Content/DatePickerJS")
    @Scripts.Render("~/Scripts/AccountHeadOpeningBalance")
}
<input type="hidden" id="hdnGetAccountHeadOpeningBalance" value="@Url.Action("GetAccountHeadOpeningBalance", "AccountHeadOpeningBalance")" />
<input type="hidden" id="hdnDeleteAccountHeadOpeningBalance" value="@Url.Action("DeleteAccountHeadOpeningBalance", "AccountHeadOpeningBalance")" />
<input type="hidden" id="hdnAddEditAccountHeadOpeningBalance" value="@Url.Action("AddEditAccountHeadOpeningBalance", "AccountHeadOpeningBalance")" />



<header class="section-header">
    <div class="row  px-1">
        <div class="col-sm-6 col-12">
            <div class="tbl">
                <div class="tbl-row">
                    <div class="tbl-cell">
                        <h3>@EduSuiteUIResources.AccountHead@EduSuiteUIResources.BlankSpace@EduSuiteUIResources.OpeningBalance</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="section-content mx-sm-3 mx-0">
    <div class="GridBody">

        <div class="grid-nav-bar form-row justify-content-between">
            @if (Model.Branches.Count == 1)
            {
                {
                    Model.BranchKey = (Model.BranchKey) == 0 ? (short)Model.Branches.Select(x => x.RowKey).FirstOrDefault() : Model.BranchKey;
                }
                @Html.HiddenFor(m => m.BranchKey)
            }
            else
            {
                <div class="col-lg-2 col-sm-4 col-6">
                    <div class="form-group">
                        @Html.DropDownListFor(m => m.BranchKey, new SelectList(Model.Branches, "RowKey", "Text"), EduSuiteUIResources.Select + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.Branch, new { @class = "form-control input-control autohide-select", @data_plugin_type = "select2", @InputFor = "lblBranch", @data_live_search = "true" })
                    </div>
                </div>
            }

            <div class="col-6">
                <a class="btn btn-info btn-sm float-right " onclick='window.location.reload()'>
                    <i class="fa fa-search"></i>   @EduSuiteUIResources.Refresh
                </a>
            </div>
        </div>
        <div class="table-wrapper">
            <div class="jqGrid_wrapper overflow-auto">
                <table id="grid"></table>
                <div id="pager"></div>
            </div>
        </div>
    </div>
</section>


<script>
    $(document).ready(function () {
       
        $("#BranchKey").on("change", function () {
            AccountHeadOpeningBalance.GetAccountHeadOpeningBalance();
        });      
        AccountHeadOpeningBalance.GetAccountHeadOpeningBalance();


    });
</script>
<script type="text/javascript">
    $(function () {
        $.ajaxSetup({ cache: false });

        $("a[data-modal]").on("click", function (e) {
            e.preventDefault();
            AccountHeadOpeningBalance.EditPopup($(this));
        });
    });
</script>

<style>
    .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
        background-color: #eee;
        opacity: 1;
    }
</style>

