
@using System.Web.Mvc
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/Scripts/Bank")
    @Scripts.Render("~/Content/DatePickerJS")
}
<input type="hidden" id="hdnGetBank" value="@Url.Action("GetBank", "Bank")" />
<input type="hidden" id="hdnDeleteBank" value="@Url.Action("DeleteBank", "Bank")" />
<input type="hidden" id="hdnAddEditBank" value="@Url.Action("AddEditBank", "Bank")" />


<header class="section-header">
    <div class="row justify-content-between px-1">
        <div class="col-sm-6 col-12">
            <div class="tbl">
                <div class="tbl-row">
                    <div class="tbl-cell">
                        <h3>@EduSuiteUIResources.Bank</h3>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 text-right">
            <a id="addEditBank" data-href="@Url.Action("AddEditBank", "Bank" )" class="btn btn-success btn-sm "><i class="fa fa-plus-square-o"></i> <span>@EduSuiteUIResources.New @EduSuiteUIResources.BlankSpace @EduSuiteUIResources.Bank</span></a>
        </div>
    </div>
</header>
<section class="section-content mx-sm-3 mx-0">
    <div class="GridBody">

        <div class="grid-nav-bar form-row justify-content-between">
            <div class="col-lg-3 col-6">
                <input id="txtsearch" type="text" name="focus" class="form-control gridSearchTextBox" placeholder="@EduSuiteUIResources.Search @EduSuiteUIResources.Bank" /> @* Change Search TextBox Placeholder*@
                <span id="iconSpan" class="iconSpan"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
            </div>

            <div class="col-6">
                <a class="btn btn-info btn-sm float-right " onclick='window.location.reload()'>
                    <i class="fa fa-refresh"></i>   @EduSuiteUIResources.Refresh
                </a>
            </div>

        </div>

        <div class="table-wrapper">

            <div class="jqGrid_wrapper overflow-auto">
                <table id="grid"></table>
                <div id="pager"></div>
            </div>
        </div>

    </div>
</section>


<script>
    $(document).ready(function () {
        $("#txtsearch").on("input", function () {
            Bank.GetBank();
        });

        $("#iconSpan").click(function () {
            $('#txtsearch').val('');
            Bank.GetBank();
        });
        Bank.GetBank();
        AppCommon.EditGridPopup($("#addEditBank"))

    });
</script>

