@using CITS.EduSuite.UI
@using System.Web.Mvc

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/Scripts/CourseType")
}
<input type="hidden" id="hdnGetCourseType" value="@Url.Action("GetCourseType", "CourseType")" />
<input type="hidden" id="hdnDeleteCourseType" value="@Url.Action("DeleteCourseType", "CourseType")" />
<input type="hidden" id="hdnAddEditCourseType" value="@Url.Action("AddEditCourseType", "CourseType")" />


<header class="section-header">
    <div class="row justify-content-between px-1">
        <div class="col-sm-6 col-12">
            <div class="tbl">
                <div class="tbl-row">
                    <div class="tbl-cell">
                        <h3>@EduSuiteUIResources.CourseType</h3>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 text-right">
            <a id="addEditCourseType" data-href="@Url.Action("AddEditCourseType", "CourseType")" class="btn btn-success btn-sm "><i class="fa fa-plus-square-o"></i> <span>@EduSuiteUIResources.New @EduSuiteUIResources.BlankSpace @EduSuiteUIResources.CourseType</span></a>
        </div>
    </div>
</header>
<section class="section-content mx-sm-3 mx-0">
    <div class="GridBody">

        <div class="grid-nav-bar form-row justify-content-between">
            <div class="col-lg-3 col-6">
                <input id="txtsearch" type="text" name="focus" class="form-control gridSearchTextBox" placeholder="@EduSuiteUIResources.Search @EduSuiteUIResources.CourseType" /> @* Change Search TextBox Placeholder*@
                <span id="iconSpan" class="iconSpan"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
            </div>

            <div class="col-6">
                <a class="btn btn-info btn-sm float-right " onclick='window.location.reload()'>
                    <i class="fa fa-refresh"></i>   @EduSuiteUIResources.Refresh
                </a>
            </div>

        </div>
        <div class="table-wrapper">

            <div class="jqGrid_wrapper overflow-auto">
                <table id="grid"></table>
                <div id="pager"></div>
            </div>
        </div>

    </div>
</section>

<script>
    $(document).ready(function () {
        $("#txtsearch").on("input", function () {
            CourseType.GetCourseType();
        });

        $("#iconSpan").click(function () {
            $('#txtsearch').val('');
            CourseType.GetCourseType();
        });
        CourseType.GetCourseType();
        AppCommon.EditGridPopup($("#addEditCourseType"))
     
    });
</script>

