@model List<CITS.EduSuite.Business.Models.ViewModels.ApplicationFeePaymentDetailViewModel>
@using CITS.EduSuite.Business.Models.ViewModels




<div class="card-body p-0 overflow-auto">
    <table class="table table-sm" id="divCourseFeeDetails">

        <thead>
            <tr>

                <th class="bg-secondary text-white align-middle text-center">
                    @Html.Label(EduSuiteUIResources.FeeType, htmlAttributes: new { @class = "form-label" })
                </th>
                <th class="bg-primary text-white text-center  border-right  border-primary">
                    @Html.Label(EduSuiteUIResources.Fee + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.Amount, htmlAttributes: new { @class = "form-label" })
                </th>

                <th class="bg-success text-white text-center  border-right  border-success">
                    @Html.Label(EduSuiteUIResources.Fee + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.Paid, htmlAttributes: new { @class = "form-label" })
                </th>

                <th class="bg-danger text-white text-center  border-right  border-danger">
                    @Html.Label(EduSuiteUIResources.Balance + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.Fee, htmlAttributes: new { @class = "form-label" })
                </th>
                <th class="w3-cyan  text-center  border-right divTax">
                    @Html.Label(EduSuiteUIResources.GST + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.Paid, htmlAttributes: new { @class = "form-label" })
                </th>
                @*<th class="w3-indigo  text-center  border-right  divTax cess">
                    @Html.Label(EduSuiteUIResources.Cess + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.Paid, htmlAttributes: new { @class = "form-label" })
                </th>*@
                <th class="w3-brown  text-center  border-right  ">
             
                    @Html.Label(EduSuiteUIResources.TotalPaid, htmlAttributes: new { @class = "form-label" })
                </th>

            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                if (i == 0 || (i != 0 && Model[i].FeeYear != Model[i - 1].FeeYear))
                {
                    if (Model[i].FeeYearText != "")
                    {
                        <tr class="w3-light-grey">
                            <th colspan="7">
                                @Model[i].FeeYearText
                            </th>
                        </tr>
                    }
                }
                <tr data-repeater-item data-type="@Model[i].FeeTypeKey" data-year="@Model[i].FeeYear">
                    <td class="bg-info text-white align-middle text-center">
                        <dt> @Model[i].FeeTypeName</dt>
                        @*<dd> @Model[i].FeeYearText</dd>*@
                        @Html.HiddenFor(m => m[i].TotalAmount)
                        @Html.HiddenFor(m => m[i].FeeAmount)
                        @Html.HiddenFor(m => m[i].BalanceAmount)
                        @Html.HiddenFor(m => m[i].FeeTypeKey)
                        @Html.HiddenFor(m => m[i].FeeYear)
                        @Html.HiddenFor(m => m[i].GSTAmount)
                        @Html.HiddenFor(m => m[i].TotalCessAmount)

                    </td>

                    <td class="text-primary align-middle text-center font-weight-bold border-right border-primary" total-amount>
                        @String.Format("{0:G29}", Model[i].TotalAmount)

                    </td>
                    <td class="text-success align-middle text-center font-weight-bold border-right border-success" paid-amount>
                        @String.Format("{0:G29}", Model[i].FeeAmount)<br />
                        @if (Model[i].OldPaid != 0)
                        {
                            @EduSuiteUIResources.OpenBracketWithSpace @String.Format("{0:G29}", Model[i].OldPaid) @EduSuiteUIResources.ClosingBracketWithSpace
                            <br />
                            @Html.Label(EduSuiteUIResources.ExistingPaidAmount, htmlAttributes: new { @class = "form-label" })
                        }

                    </td>
                    <td class="text-danger align-middle text-center font-weight-bold border-right border-danger" balance-amount>

                        @*@Html.TextBox("TotalFeeAmount" + i.ToString(), "", new { @class = "form-control input-control", @InputFor = "lblAge", @readonly = "readonly" })*@
                        @String.Format("{0:G29}", Model[i].BalanceAmount)

                    </td>
                    <td class="w3-text-cyan w3-white align-middle text-center font-weight-bold border-right divTax" gst-amount>

                        @String.Format("{0:G29}", Model[i].GSTAmount)


                    </td>
                    <!--<td class="w3-text-indigo w3-white align-middle text-center font-weight-bold border-right divTax cess" cess-amount>-->

                        @*  @String.Format("{0:G29}", Model[i].TotalCessAmount) *@


                    <!--</td>-->
                    <td class="w3-text-brown w3-white align-middle text-center font-weight-bold border-right " totalpaid-amount>
                        @*@Html.HiddenFor(m => m[i].TotalPaid)
        @String.Format("{0:G29}", Model[i].TotalPaid)*@
                        @String.Format("{0:G29}", Model[i].TotalCessAmount)
                        @*@   @Html.TextBoxFor(m => m[i].TotalPaid, "{0:G29}", new { @class = "form-label", @readonly = "readonly", @style = "text-align:right;border: none; width: 40px;font-size: 12px;color: #6f6f6f;font-weight: 500;" })*@
                    </td>
                        </tr>


                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th class="bg-secondary text-white text-center">
                            @Html.Label(EduSuiteUIResources.Total, htmlAttributes: new { @class = "form-label" })
                        </th>
                        <th class="bg-primary text-white text-center border-right  border-primary">
                            @String.Format("{0:G29}", Model.Sum(row => row.TotalAmount ?? 0))
                        </th>

                        <th class="bg-success text-white text-center border-right  border-success" net-feeamount>
                            @String.Format("{0:G29}", Model.Sum(row => row.FeeAmount))
                            @Html.Hidden("TotalPaid", Model.Sum(row => row.FeeAmount))
                        </th>

                        <th class="bg-danger text-white text-center border-right  border-danger" net-balanceamount>
                            @String.Format("{0:G29}", Model.Sum(row => row.BalanceAmount ?? 0))
                        </th>
                        <th class="w3-cyan text-white text-center border-right border-info divTax" net-gstamount>
                            @String.Format("{0:G29}", Model.Sum(row => row.GSTAmount ?? 0))
                        </th>
                        @*<th class="w3-indigo text-white text-center border-right divTax cess" net-cessamount>
                            @String.Format("{0:G29}", Model.Sum(row => row.TotalCessAmount ?? 0))
                        </th>*@
                        <th class="w3-brown text-white text-center border-right" net-totalamount>
                            @Html.TextBox("TotalPaidFeeAmount", "{0:G29}", new { @class = "form-label", @readonly = "readonly", @style = "text-align:right;border: none; width: 45px;font-size: 12px;color: #fff;font-weight: 500;background: none;" })

                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <script>
            $(document).ready(function () {

                var IsTax = $("#IsTax").val();
                IsTax = IsTax ? JSON.parse(IsTax.toLowerCase()) : false;
                if (!IsTax) {

                    $(".divTax").hide();
                }
                ApplicationFeePayment.TotalFeeDetails();

            })

        </script>





