@model CITS.EduSuite.Business.Models.ViewModels.WorkScheduleViewModel

@using CITS.EduSuite.Business.Models.ViewModels

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Content/JqueryRepeater")
    @Scripts.Render("~/Scripts/Common")
    @Scripts.Render("~/bundles/CitsValidation")
    @Scripts.Render("~/Scripts/WorkSchedule")
    @Scripts.Render("~/Content/DatePickerJS")

}

<input type="hidden" id="hdnFillTeacher" value="@Url.Action("FillTeacher", "WorkSchedule")" />
<input type="hidden" id="hdnFillClassDetails" value="@Url.Action("FillClassDetails", "WorkSchedule")" />
<input type="hidden" id="hdnFillSubjectModule" value="@Url.Action("FillSubjectModule", "WorkSchedule")" />
<input type="hidden" id="hdnFillModuleTopics" value="@Url.Action("FillModuleTopics", "WorkSchedule")" />
<input type="hidden" id="hdnAddEditWorkScheduleDetail" value="@Url.Action("AddEditWorkScheduleDetail", "WorkSchedule")" />
<input type="hidden" id="hdnFillBatch" value="@Url.Action("FillBatch", "WorkSchedule")" />
<input type="hidden" id="hdnUrl" value="@Url.Action("GetWorkscheduleSubjectDetails", "WorkSchedule", new { id = "" })" />
<input type="hidden" id="hdnGetHistoryWorkSchedule" value="@Url.Action("GetHistoryWorkSchedule", "WorkSchedule")" />
<input type="hidden" id="hdnFillSubject" value="@Url.Action("FillSubject", "WorkSchedule")" />
<input type="hidden" id="hdnDeleteWorkScheduleDetails" value="@Url.Action("DeleteWorkScheduleDetails", "WorkSchedule")" />

<header class="section-header">
    <div class="row justify-content-between px-1">
        <div class="col-12">
            <div class="tbl">
                <div class="tbl-row">
                    <div class="tbl-cell">
                        <h3>@EduSuiteUIResources.Add@EduSuiteUIResources.Hyphen@EduSuiteUIResources.Edit@EduSuiteUIResources.BlankSpace@EduSuiteUIResources.WorkSchedule</h3>
                        <ol class="breadcrumb breadcrumb-simple mb-2 float-sm-right">
                            <li><a href="#" onclick="location.href='@Url.Action("WorkScheduleList", "WorkSchedule")' ">@EduSuiteUIResources.WorkSchedule</a></li>
                            <li class="active">@EduSuiteUIResources.Add@EduSuiteUIResources.Hyphen@EduSuiteUIResources.Edit@EduSuiteUIResources.BlankSpace@EduSuiteUIResources.WorkSchedule</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="section-content mx-sm-3 mx-0">
    <div class="form-master">

        @*@using (Html.BeginForm("AddEditUnitTestScheduleSubmit", "UnitTest", FormMethod.Post, new { @id = "frmUnitTestSchedule" }))
        {*@
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)


        <div class="form-row">


            @if (DbConstants.Role.AdminUserTypes.Contains(DbConstants.User.RoleKey))
            {

                if (Model.Branches.Count == 1)
                {
                    {
                        Model.BranchKey = (Model.BranchKey == 0 || Model.BranchKey == null) ? (short)Model.Branches.Select(x => x.RowKey).FirstOrDefault() : Model.BranchKey;
                    }
                    @Html.HiddenFor(m => m.BranchKey)
                }
                else
                {
                    <div class="col-lg-2 col-md-3  col-sm-6 col-12">
                        <fieldset class="form-group">
                            @Html.Label(EduSuiteUIResources.Branch, htmlAttributes: new { @id = "lblEmployee", @class = "form-label" })
                            <div class="required-icon"><div class="text">*</div></div>
                            @Html.DropDownListFor(m => m.BranchKey, new SelectList(Model.Branches, "RowKey", "Text"), EduSuiteUIResources.Branch, new { @class = "form-control input-control ", @data_live_search = "true" })
                        </fieldset>
                    </div>
                }
                <div class="col-lg-2 col-md-3  col-sm-6 col-12">
                    <fieldset class="form-group">
                        @Html.Label(EduSuiteUIResources.Employee, htmlAttributes: new { @id = "lblEmployee", @class = "form-label" })
                        @Html.DropDownListFor(m => m.EmployeeKey, new SelectList(Model.Employees, "RowKey", "Text"), EduSuiteUIResources.Select + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.Employee, new { @class = "form-control input-control  selectpicker", @data_live_search = "true", @InputFor = "lblEmployee" })
                    </fieldset>
                </div>
            }
            else
            {
                if (Model.Branches.Count == 1)
                {
                    {
                        Model.BranchKey = (Model.BranchKey == 0 || Model.BranchKey == null) ? (short)Model.Branches.Select(x => x.RowKey).FirstOrDefault() : Model.BranchKey;
                    }
                    @Html.HiddenFor(m => m.BranchKey)
                }
                <div class="col-lg-2 col-md-3  col-sm-6 col-12">
                    <fieldset class="form-group">
                        @Html.Label(EduSuiteUIResources.Employee, htmlAttributes: new { @id = "lblEmployee", @class = "form-label" })
                        @Html.DropDownListFor(m => m.EmployeeKey, new SelectList(Model.Employees, "RowKey", "Text"), new { @class = "form-control input-control " })
                    </fieldset>
                </div>
            }







            @*@if (DbConstants.Role.AdminUserTypes.Contains(DbConstants.User.RoleKey))
            {
                <div class="col-lg-2 col-md-3 col-6">
                    <fieldset class="form-group">
                        @Html.Label(EduSuiteUIResources.Branch, htmlAttributes: new { @id = "lblBranch", @class = "form-label" })
                        <div class="required-icon"><div class="text">*</div></div>
                        @Html.DropDownListFor(m => m.BranchKey, new SelectList(Model.Branches, "RowKey", "Text"), EduSuiteUIResources.Select + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.Branch, new { @class = "form-control input-control", @InputFor = "lblBranch", @data_live_search = "true" })
                        <span class="form-control-error-text">
                            @Html.ValidationMessageFor(m => m.BranchKey)
                        </span>
                    </fieldset>
                </div>
            }
            else
            {
                <div class="col-lg-2 col-md-3 col-6">
                    <fieldset class="form-group">
                        @Html.Label(EduSuiteUIResources.Branch, htmlAttributes: new { @id = "lblBranch", @class = "form-label" })
                        <div class="required-icon"><div class="text">*</div></div>
                        @Html.DropDownListFor(m => m.BranchKey, new SelectList(Model.Branches, "RowKey", "Text"), new { @class = "form-control input-control", @InputFor = "lblBranch" })
                        <span class="form-control-error-text">
                            @Html.ValidationMessageFor(m => m.BranchKey)
                        </span>
                    </fieldset>
                </div>
            }
            @if (Model.Employees.Count > 1)
            {
                <div class="col-lg-2 col-md-3 col-6">
                    <fieldset class="form-group ">
                        @Html.Label(EduSuiteUIResources.Teacher, htmlAttributes: new { @class = "form-label" })
                        @Html.DropDownListFor(m => m.EmployeeKey, new SelectList(Model.Employees, "RowKey", "Text", Model.EmployeeKey), EduSuiteUIResources.Select + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.Teacher, new { @class = "form-control border-radius input-control autoselect-select" })
                    </fieldset>
                </div>
            }
            else
            {
                <div class="col-lg-2 col-md-3 col-6">
                    <fieldset class="form-group ">
                        @Html.Label(EduSuiteUIResources.Teacher, htmlAttributes: new { @class = "form-label" })
                        @Html.DropDownListFor(m => m.EmployeeKey, new SelectList(Model.Employees, "RowKey", "Text", Model.EmployeeKey), new { @class = "form-control border-radius input-control autoselect-select" })
                    </fieldset>
                </div>
            }*@





            <div class="col-lg-2 col-sm-4 col-6">
                <fieldset class="form-group ">
                    @Html.Label(EduSuiteUIResources.ClassCode, htmlAttributes: new { @class = "form-label" })<div class="required-icon"><div class="text">*</div></div>
                    @Html.DropDownListFor(m => m.ClassDetailsKey, new SelectList(Model.ClassDetails, "RowKey", "Text"), EduSuiteUIResources.Select + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.ClassCode, new { @class = "form-control border-radius input-control autoselect-select", @data_live_search = "true" })<span class="form-control-error-text">
                        @Html.ValidationMessageFor(m => m.ClassDetailsKey)
                    </span>
                </fieldset>

            </div>

            <div class="col-lg-2 col-sm-4 col-6">
                <fieldset class="form-group ">
                    @Html.Label(EduSuiteUIResources.Batch, htmlAttributes: new { @class = "form-label" })<div class="required-icon"><div class="text">*</div></div>
                    @Html.DropDownListFor(m => m.BatchKey, new SelectList(Model.Batches, "RowKey", "Text"), EduSuiteUIResources.Select + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.Batch, new { @class = "form-control border-radius input-control autoselect-select" })

                    <span class="form-control-error-text">
                        @Html.ValidationMessageFor(m => m.BatchKey)
                    </span>
                </fieldset>
            </div>

            <div class="col-lg-2 col-sm-4 col-6">
                <fieldset class="form-group ">
                    @Html.Label(EduSuiteUIResources.Subject, htmlAttributes: new { @class = "form-label" })<div class="required-icon"><div class="text">*</div></div>
                    @Html.DropDownListFor(m => m.SubjectKey, new SelectList(Model.Subjects, "RowKey", "Text"), EduSuiteUIResources.Select + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.Subject, new { @class = "form-control border-radius input-control autoselect-select", @data_live_search = "true" })<span class="form-control-error-text">

                        @Html.ValidationMessageFor(m => m.SubjectKey)
                    </span>
                </fieldset>
            </div>

        </div>
            <div id="dvStudentsList"></div>


            @*<div class="row mt-2">
                <div class="form-group">
                    <div class="col-12">                    
                        <div class="col-12 paddingNone">
                            <span class="text-danger"><strong> @Html.ValidationMessage("error_msg")</strong>  </span>
                        </div>
                    </div>
                </div>
            </div>*@
        @*}*@
    </div>
</section>
<script>
    var jsonData=@(Html.Raw(Json.Encode(Model)));
    // jsonData["UnitTestDetails"]=[];
    $(document).ready(function () {
        AppCommon.FormatInputCase();
        AppCommon.FormatMultiSelect();
        AppCommon.FormatDateInput();
        AppCommon.CustomRemoteMethod();
        //AppCommon.EditGridPopup($("#btnSave"))

        WorkSchedule.LoadData();

      
        // Bind Teacher

        $("#BranchKey").on("change", function () {
            var obj={};
            obj.Branchkey=$(this).val()!=""?$(this).val():0;
            AppCommon.BindDropDownbyId(obj, $("#hdnFillTeacher").val(), $("#EmployeeKey"), Resources.Employee);
        });
        // Bind Class Details

        $("#EmployeeKey").on("change", function () {
            var obj={};
            obj.EmployeeKey=$("#EmployeeKey").val()!=""?$("#EmployeeKey").val():0;

            AppCommon.BindDropDownbyId(obj, $("#hdnFillClassDetails").val(), $("#ClassDetailsKey"), Resources.ClassCode);
        });

        //Bind Subjects

        $("#BatchKey").on("change", function () {
            var obj={};
            obj.EmployeeKey=$("#EmployeeKey").val()!=""?$("#EmployeeKey").val():0;
            obj.ClassDetailsKey=$("#ClassDetailsKey").val()!=""?$("#ClassDetailsKey").val():0;
            obj.BatchKey=$("#BatchKey").val()!=""?$("#BatchKey").val():0;
            AppCommon.BindDropDownbyId(obj, $("#hdnFillSubject").val(), $("#SubjectKey"), Resources.Subject);
        });
     



        //Bind Batch

        $("#ClassDetailsKey").on("change", function () {
            var obj={};
            obj.EmployeeKey=$("#EmployeeKey").val()!=""?$("#EmployeeKey").val():0;
            obj.ClassDetailsKey=$("#ClassDetailsKey").val()!=""?$("#ClassDetailsKey").val():0;
            AppCommon.BindDropDownbyId(obj, $("#hdnFillBatch").val(), $("#BatchKey"), Resources.Batch);
        });


        $("#Branchkey,#ClassDetailsKeys,#BatchKey,#SubjectKey,#EmployeeKey").on("change", function () {
            WorkSchedule.LoadData();
          
        });

    });

</script>
