@model CITS.EduSuite.Business.Models.ViewModels.InternalExamViewModel

@using System.Web.Mvc
@using CITS.EduSuite.Business.Models.ViewModels
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/Scripts/InternalExamSchedule")
    @Scripts.Render("~/Content/DatePickerJS")
    @Scripts.Render("~/Content/MultiselectJs")


}
<input type="hidden" id="hdnGetInternalExamSchedule" value="@Url.Action("GetInternalExamScheduleListdetails", "InternalExamSchedule")" />
<input type="hidden" id="hdnDeleteInternalExamSchedule" value="@Url.Action("DeleteInternalExamSchedule", "InternalExamSchedule")" />
<input type="hidden" id="hdnAddEditInternalExamSchedule" value="@Url.Action("AddEditInternalExamSchedule", "InternalExamSchedule")" />
<input type="hidden" id="hdnFillSearchBatch" value="@Url.Action("FillSearchBatch", "InternalExamSchedule")" />


<div class="card-header">
    <header class="section-header">
        <div class="row justify-content-between px-1">
            <div class="col-sm-6 col-12">
                <div class="tbl">
                    <div class="tbl-row">
                        <div class="tbl-cell">
                            <h3>@EduSuiteUIResources.InternalExamSchedule</h3>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 text-right">
                <a href="@Url.Action("AddEditInternalExamSchedule", "InternalExamSchedule")" class="btn btn-success btn-sm "><i class="fa fa-plus-square-o"></i> <span>@EduSuiteUIResources.New @EduSuiteUIResources.BlankSpace @EduSuiteUIResources.InternalExamSchedule</span></a>
            </div>
        </div>
    </header>
</div>
<div class="card-body">
    <section class="section-content mx-sm-3 mx-0">
        <div class="GridBody">

            <div class="grid-nav-bar  form-row">
              
                    @if (Model.Branches.Count == 1)
                    {
                        {
                            Model.BranchKey = (Model.BranchKey ?? 0) == 0 ? (short)Model.Branches.Select(x => x.RowKey).FirstOrDefault() : Model.BranchKey;
                        }
                        @Html.HiddenFor(m => m.BranchKey)
                    }
                    else
                    {

                        if (DbConstants.Role.AdminUserTypes.Contains(DbConstants.User.RoleKey))
                        {
                            <div class="col-lg-2 col-sm-4 col-6">
                                <div class="form-group">
                                    @Html.DropDownListFor(m => m.BranchKey, new SelectList(Model.Branches, "RowKey", "Text"), EduSuiteUIResources.Select + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.Branch, new { @class = "form-control input-control autohide-select", @data_plugin_type = "select2", @InputFor = "lblBranch", @data_live_search = "true" })
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-lg-2 col-sm-4 col-6">
                                <div class="form-group">
                                    @Html.DropDownListFor(m => m.BranchKey, new SelectList(Model.Branches, "RowKey", "Text"), new { @class = "form-control input-control autohide-select", @data_plugin_type = "select2", @InputFor = "lblBranch" })
                                </div>
                            </div>
                        }

                    }

                    <div class="col-lg-2 col-sm-4 col-6">
                        <div class="form-group">
                            @Html.DropDownListFor(m => m.BatchKey, new SelectList(Model.Batches, "RowKey", "Text"), EduSuiteUIResources.Select + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.Batch, new { @class = "form-control input-control autohide-select", @data_plugin_type = "select2", @InputFor = "lblBranch", @data_live_search = "true" })
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-4 col-6">
                        <input id="txtsearch" type="text" name="focus" class="form-control gridSearchTextBox" placeholder="@EduSuiteUIResources.Search" />

                        <span id="iconSpan" class="iconSpan"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
                    </div>
                    <div class="col-lg-2 col-sm-4 col-6">
                        <a class="btn btn-info btn-sm float-right " onclick='window.location.reload()'>
                            <i class="fa fa-refresh"></i>   @EduSuiteUIResources.Refresh
                        </a>
                    </div>
             
            </div>

            <div class="table-wrapper">

                <div class="jqGrid_wrapper overflow-auto">
                    <table id="grid"></table>
                    <div id="pager"></div>
                </div>
            </div>


        </div>
    </section>
</div>
    <script>
        $(document).ready(function () {

            AppCommon.FormatDateInput();
            //$("#txtsearchDate").datepicker("setDate", new Date());

            $("#txtsearch").on("input", function () {
                InternalExamSchedule.GetInternalExamSchedule();
            });
            $("#BranchKey").change(function () {
                var obj = {};
                obj.BranchKey = $(this).val() != "" ? $(this).val() : 0;
                AppCommon.BindDropDownbyId(obj, $("#hdnFillSearchBatch").val(), $("#BatchKey"), Resources.Batch);
                InternalExamSchedule.GetInternalExamSchedule();
            });

            $("#BatchKey").change(function () {
                InternalExamSchedule.GetInternalExamSchedule();
            });

            $("#iconSpan").click(function () {
                $('#txtsearch').val('');
                //$('#txtsearchDate').val('');

                InternalExamSchedule.GetInternalExamSchedule();
            });
            InternalExamSchedule.GetInternalExamSchedule();
            //AppCommon.EditGridPopup($("#addEditStudentsPromotion"))




        });
    </script>
