
@using System.Web.Mvc

@section scripts{

    @Scripts.Render("~/Scripts/Roles")
}

<input type="hidden" id="hdnGetRolesList" value="@Url.Action("GetRoles", "Role")" />
<input type="hidden" id="hdnDeleteRole" value="@Url.Action("DeleteRole", "Role")" />
<input type="hidden" id="hdnPeople" value="@Url.Action("AppUserList", "AppUser")" />

<div class="col-12 Page_Head_Master">
    <div class="col-6 Text_Left">
        <label class="Page_Heading  ">@EduSuiteUIResources.Role</label>
    </div>

    <div class="col-6 Text_Right">
        <a id="addEditMember" href="@Url.Action("AddEditRole", "Role")" class="btn btn-sm btnBack">
            <i class="fa fa-plus" aria-hidden="true"></i> @EduSuiteUIResources.AddNewRole
        </a>
    </div>
</div>
<div class="GridBody">

    <div class="grid-nav-bar form-row justify-content-between">
        <div class="col">
            <input id="txtsearch" type="text" name="focus" class="form-control gridSearchTextBox" placeholder="@EduSuiteUIResources.SearchRoles" /> @* Change Search TextBox Placeholder*@
            <span id="iconSpan" class="iconSpan"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
        </div>

        <div class="col-9 float-right">
            <a class="btn btn-info btn-sm float-right " onclick='window.location.reload()'>
                <i class="fa fa-refresh"></i>   @EduSuiteUIResources.Refresh
            </a>
        </div>

    </div>

    <br /><br />

    <div class="portlet-body" id="portletBody">
        <div class='table-scrollable'>
            <table id="grid"></table>
            <div id="pager"></div>
        </div>
    </div>



</div>
<script>
    $(document).ready(function () {
        $("#txtsearch").keydown(function () {
            Roles.GetRoles();
        });
        $("#txtsearch").keyup(function () {
            Roles.GetRoles();
        });

        $("#iconSpan").click(function () {
            $('#txtsearch').val('');
            Roles.GetRoles();
        });
        Roles.GetRoles();

      
    });
</script>
