@model CITS.EduSuite.Business.Models.ViewModels.AttendanceViewModel

@using System.Web.Mvc
@using CITS.EduSuite.Business.Models.ViewModels

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/Scripts/Attendance")
    @Scripts.Render("~/Content/DatePickerJS")
    @Scripts.Render("~/Scripts/StudentsSummary")
}
<input type="hidden" id="hdnGetAttendance" value="@Url.Action("GetAttendancedetails", "Attendance")" />
<input type="hidden" id="hdnDeleteAttendance" value="@Url.Action("DeleteAttendance", "Attendance")" />
<input type="hidden" id="hdnAddEditAttendance" value="@Url.Action("AddEditAttendance", "Attendance")" />
<input type="hidden" id="hdnFillSearchClassDetails" value="@Url.Action("FillClassDetails", "Attendance")" />
<input type="hidden" id="hdnFillSearchBatch" value="@Url.Action("FillBatch", "Attendance")" />
<input type="hidden" id="hdnDeleteAttendanceBulk" value="@Url.Action("DeleteAttendanceBulk", "Attendance")" />




<div class="card-header">
    <header class="section-header">
        <div class="row justify-content-between px-1">
            <div class="col-sm-6 col-12">
                <div class="tbl">
                    <div class="tbl-row">
                        <div class="tbl-cell">
                            <h3>@EduSuiteUIResources.Attendance</h3>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-12 text-right">
                <a class="btn btn-primary btn-sm" id="lnkBulkDelete">
                    @EduSuiteUIResources.Bulk@EduSuiteUIResources.Delete
                </a>
                <a href="@Url.Action("AddEditAttendance", "Attendance")" class="btn btn-success btn-sm "><i class="fa fa-plus-square-o"></i> <span>@EduSuiteUIResources.New @EduSuiteUIResources.BlankSpace @EduSuiteUIResources.Attendance</span></a>
            </div>
        </div>
    </header>
</div>
<div class="card-body">
    <section class="section-content mx-sm-3 mx-0">
        <div class="GridBody">

            <div class="grid-nav-bar">
                <div class=" form-row ">
                    @if (Model.Branches.Count == 1)
                    {
                        {
                            Model.BranchKey = (Model.BranchKey ?? 0) == 0 ? (short)Model.Branches.Select(x => x.RowKey).FirstOrDefault() : Model.BranchKey;
                        }
                        @Html.HiddenFor(m => m.BranchKey)
                    }
                    else
                    {

                        if (DbConstants.Role.AdminUserTypes.Contains(DbConstants.User.RoleKey))
                        {
                            <div class="col-lg-2 col-sm-4 col-6">
                                <div class="form-group">
                                    @Html.DropDownListFor(m => m.BranchKey, new SelectList(Model.Branches, "RowKey", "Text"), EduSuiteUIResources.Select + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.Branch, new { @class = "form-control input-control autohide-select", @data_plugin_type = "select2", @InputFor = "lblBranch", @data_live_search = "true" })
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-lg-2 col-sm-4 col-6">
                                <div class="form-group">
                                    @Html.DropDownListFor(m => m.BranchKey, new SelectList(Model.Branches, "RowKey", "Text"), new { @class = "form-control input-control autohide-select", @data_plugin_type = "select2", @InputFor = "lblBranch" })
                                </div>
                            </div>
                        }

                    }
                    <div class="col-lg-2 col-sm-4 col-6">
                        <div class="form-group">
                            @Html.DropDownListFor(m => m.ClassDetailsKey, new SelectList(Model.ClassDetails, "RowKey", "Text"), EduSuiteUIResources.Select + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.ClassCode, new { @class = "form-control input-control autohide-select", @data_plugin_type = "select2", @InputFor = "lblBranch", @data_live_search = "true" })
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-4 col-6">
                        <div class="form-group">
                            @Html.DropDownListFor(m => m.BatchKey, new SelectList(Model.Batches, "RowKey", "Text"), EduSuiteUIResources.Select + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.Batch, new { @class = "form-control input-control autohide-select", @data_plugin_type = "select2", @InputFor = "lblBranch", @data_live_search = "true" })
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-4 col-6">
                        <div class="form-group">
                            @Html.DropDownListFor(m => m.AttendanceStatusKey, new SelectList(Model.AttendanceStatus, "RowKey", "Text"), EduSuiteUIResources.Select + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.AttendanceStatus, new { @class = "form-control input-control autohide-select", @data_plugin_type = "select2" })
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-4 col-6">
                        <input id="txtsearch" type="text" name="focus" class="form-control gridSearchTextBox" placeholder="@EduSuiteUIResources.Search@EduSuiteUIResources.BlankSpace@EduSuiteUIResources.StudentName" />

                        <span id="iconSpan" class="iconSpan"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
                    </div>
                    <div class="col-lg-2 col-sm-4 col-6">
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.SearchFromDate, "{0:dd/MM/yyyy}", new { @class = "form-control input-control", @data_inputmask = "'alias': 'dd/mm/yyyy'", @data_input_type = "date" ,@placeholder="From Date" })
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-4 col-6">
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.AttendanceDate, "{0:dd/MM/yyyy}", new { @class = "form-control input-control", @data_inputmask = "'alias': 'dd/mm/yyyy'", @data_input_type = "date", @placeholder = "To Date" })
                        </div>
                    </div>

                    <div class="col-lg-1 col-sm-4 col-6">
                        <a class="btn btn-info btn-sm float-right " onclick='window.location.reload()'>
                            <i class="fa fa-search"></i>   @EduSuiteUIResources.Refresh
                        </a>
                    </div>
                    <div class="col-lg-1 col-sm-3 col-4">
                        <div class="button-group float-right">
                            <button id="btnPrint" type="button" onclick="Attendance.GetExportPrintData('P','#hdnGetAttendance','AttendanceSummary','Attendance Summary',false)" class="btn btn-primary btn-sm"><i class="fa fa-print btn-blue" aria-hidden="true"></i></button>
                            <button id="btnExport" type="button" onclick="Attendance.GetExportPrintData('E','#hdnGetAttendance','AttendanceSummary','Attendance Summary',false)" class="btn btn-success btn-sm"><i class="fa fa-file-excel-o fa-align-right" aria-hidden="true"></i></button>

                        </div>
                    </div>
                </div>
            </div>
            <div class="table-wrapper">

                <div class="jqGrid_wrapper overflow-auto">
                    <table id="grid"></table>
                    <div id="pager"></div>
                </div>
            </div>


        </div>
    </section>
</div>
<script>
    $(document).ready(function () {

        AppCommon.FormatDateInput();


        $("#txtsearch").on("input", function () {
            Attendance.GetAttendance();
        });
        $("#SearchFromDate").on("changeDate", function () {
            Attendance.GetAttendance();
        })
        $("#AttendanceDate").on("changeDate", function () {
            Attendance.GetAttendance();
        })
        BindClass();
        $("#BranchKey").change(function () {
            var obj = {};
            obj.Branchkey = $(this).val() != "" ? $(this).val() : 0;
            AppCommon.BindDropDownbyId(obj, $("#hdnFillSearchClassDetails").val(), $("#ClassDetailsKey"), Resources.ClassCode);
            Attendance.GetAttendance();
        });
        $("#ClassDetailsKey").change(function () {
            var obj = {};
            obj.ClassDetailsKey = $(this).val() != "" ? $(this).val() : 0;
            obj.Branchkey = $("#BranchKey").val() != "" ? $("#BranchKey").val() : 0;
            AppCommon.BindDropDownbyId(obj, $("#hdnFillSearchBatch").val(), $("#BatchKey"), Resources.Batch);
            Attendance.GetAttendance();

        });
        $("#BatchKey").change(function () {
            Attendance.GetAttendance();
        });

        $("#AttendanceStatusKey").change(function () {
            Attendance.GetAttendance();
        });
        $("#iconSpan").click(function () {
            $('#txtsearch').val('');
            $('#AttendanceDate').val('');

            Attendance.GetAttendance();
        });
        Attendance.GetAttendance();


       

        $("#lnkBulkDelete").on("click", function () {           
            deleteBulkAttendance();
        });
    });

    var BindClass = function () {
        var obj = {};
        obj.key = $("#BranchKey").val() != "" ? $("#BranchKey").val() : 0;
        AppCommon.BindDropDownbyId(obj, $("#hdnFillSearchClassDetails").val(), $("#ClassDetailsKey"), Resources.ClassCode);
        Attendance.GetAttendance();
    }


</script>

