
@model CITS.EduSuite.Business.Models.ViewModels.DesignationGradeViewModel

@section scripts{
    @Scripts.Render("~/Scripts/DesignationGrade")
}
<input type="hidden" id="hdnGetDesignationGradeList" value="@Url.Action("GetDesignationGrades", "DesignationGrade")" />
<input type="hidden" id="hdnAddEditDesignationGrade" value="@Url.Action("AddEditDesignationGrade", "DesignationGrade")" />
<input type="hidden" id="hdnDeleteDesignationGrade" value="@Url.Action("DeleteDesignationGrade", "DesignationGrade")" />
<input type="hidden" id="hdnDeleteDesignationGradeDetail" value="@Url.Action("DeleteDesignationGradeDetail", "DesignationGrade")" />
<input type="hidden" id="hdnUpdateDesignationGradeName" value="@Url.Action("UpdateDesignationGradeName", "DesignationGrade")" />




<header class="section-header">
    <div class="row justify-content-between px-1">
        <div class="col-sm-6 col-12">
            <div class="tbl">
                <div class="tbl-row">
                    <div class="tbl-cell">
                        <h3>@EduSuiteUIResources.Designation@EduSuiteUIResources.BlankSpace@EduSuiteUIResources.Grade@EduSuiteUIResources.BlankSpace@EduSuiteUIResources.Details</h3>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 text-right">
            <a id="addEditDesignation" href="@Url.Action("AddEditDesignationGrade", "DesignationGrade")" class="btn btn-success btn-sm "><i class="fa fa-plus-square-o"></i> <span>@EduSuiteUIResources.New @EduSuiteUIResources.BlankSpace @EduSuiteUIResources.Designation@EduSuiteUIResources.BlankSpace@EduSuiteUIResources.Grade</span></a>
        </div>
    </div>
</header>

<section class="section-content mx-sm-3 mx-0">
    <div class="GridBody">

        <div class="grid-nav-bar form-row justify-content-between">
            <div class="col-lg-3 col-6">
                <input id="txtsearch" type="text" name="focus" class="form-control" placeholder="@EduSuiteUIResources.Search@EduSuiteUIResources.BlankSpace@EduSuiteUIResources.Designation" /> @* Change Search TextBox Placeholder*@
                <span id="iconSpan" class="iconSpan"><i class="fa fa-times-circle" aria-hidden="true"></i></span>

            </div>

            <div class="col-6">
                <a class="btn btn-info btn-sm float-right" onclick='DesignationGrade.GetDesignationGrades()'>
                    <i class="fa fa-refresh"></i>   Refresh
                </a>
            </div>

        </div>

        <div class="table-wrapper">
            <div class="jqGrid_wrapper overflow-auto">
                <table id="grid"></table>
                <div id="pager"></div>
            </div>
        </div>

    </div>
</section>


<script>
    $(document).ready(function () {
        $("#txtsearch").keydown(function () {
            DesignationGrade.GetDesignationGrades();
        });
        $("#txtsearch").keyup(function () {
            DesignationGrade.GetDesignationGrades();
        });

        $("#iconSpan").click(function () {
            $('#txtsearch').val('');
            DesignationGrade.GetDesignationGrades();
        });
        DesignationGrade.GetDesignationGrades();

       
    });
</script>


