@model CITS.EduSuite.Business.Models.ViewModels.AccountFlowViewModel
@using CITS.EduSuite.Business.Models.ViewModels

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Content/DatePickerJS")
    @Scripts.Render("~/Content/Select2JS")
    @Scripts.Render("~/Scripts/AccountHead")
    @Scripts.Render("~/Scripts/AccountFlow")
}
@{
    ViewBag.Title = EduSuiteUIResources.DayBook;
}

@Html.AntiForgeryToken()
@Html.HiddenFor(m => m.RowKey)
@Html.ValidationSummary(true)
<input type="hidden" id="hdnGetDayBook" value="@Url.Action("GetDayBookSeprate", "AccountFlow")" />
<input type="hidden" id="hdnDayBookPath" value=@Url.Content("~/Templates/Report/DayBook.html") />
<header class="section-header">
    <div class="row justify-content-between px-1">
        <div class="col-12">
            <div class="tbl">
                <div class="tbl-row">
                    <div class="tbl-cell">
                        <h3>@EduSuiteUIResources.DayBook</h3>

                    </div>
                </div>
            </div>
        </div>

    </div>
</header>
<section class="section-content mx-sm-3 mx-0">
    <div class="ledgerTable">
        <form id="frmDayBook">
            <div class="grid-nav-bar">
                <div class="form-row">
                    <div class="col-lg-2 col-sm-3 col-6">
                        <div class="form-group">
                            @Html.Label(EduSuiteUIResources.FromDate, htmlAttributes: new { @class = "form-label" })
                            @Html.TextBoxFor(m => m.FromDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @data_inputmask = "'alias': 'dd/mm/yyyy'", @data_input_type = "date" })
                            <span class="form-control-error-text">
                                @Html.ValidationMessageFor(m => m.FromDate)
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-3 col-6">
                        <div class="form-group ">
                            @Html.Label(EduSuiteUIResources.ToDate, htmlAttributes: new { @class = "form-label" })
                            @Html.TextBoxFor(m => m.ToDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @data_inputmask = "'alias': 'dd/mm/yyyy'", @data_input_type = "date" })
                            <span class="form-control-error-text">
                                @Html.ValidationMessageFor(m => m.ToDate)
                            </span>
                        </div>
                    </div>


                    @if (Model.Branches.Count == 1)
                    {
                        {
                            Model.BranchKey = (Model.BranchKey ?? 0) == 0 ? (short)Model.Branches.Select(x => x.RowKey).FirstOrDefault() : Model.BranchKey;
                        }
                        @Html.HiddenFor(m => m.BranchKey)
                    }
                    else
                    {
                        if (DbConstants.Role.AdminUserTypes.Contains(DbConstants.User.RoleKey))
                        {
                            <div class="col-12 col-sm-3 col-lg-2">
                                <fieldset class="form-group">
                                    @Html.Label(EduSuiteUIResources.Branch, htmlAttributes: new { @class = "form-label" })
                                    @Html.DropDownListFor(m => m.BranchKey, new SelectList(Model.Branches, "RowKey", "Text"), EduSuiteUIResources.Select + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.Branch, new { @class = "form-control input-control", @InputFor = "lblBranch", @data_live_search = "true" })
                                    <span class="form-control-error-text">
                                        @Html.ValidationMessageFor(m => m.BranchKey)
                                    </span>
                                </fieldset>
                            </div>
                        }
                        else
                        {
                            <div class="col-12 col-sm-3 col-lg-2">
                                <fieldset class="form-group">
                                    @Html.Label(EduSuiteUIResources.Branch, htmlAttributes: new { @class = "form-label" })
                                    @Html.DropDownListFor(m => m.BranchKey, new SelectList(Model.Branches, "RowKey", "Text"), new { @class = "form-control input-control", @InputFor = "lblBranch", @data_live_search = "true" })
                                    <span class="form-control-error-text">
                                        @Html.ValidationMessageFor(m => m.BranchKey)
                                    </span>
                                </fieldset>
                            </div>
                        }
                    }




                    <div class="col-2">
                        <div class="form-group">
                            <br />
                            <input type="button" value="@EduSuiteUIResources.View" id="btnView" class="btn btn-sm btn-success  mt-1 float-right " />
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12">
                        <div class="button-group float-right">
                            <button id="btnPrint" type="button" class="btn btn-primary btn-sm"><i class="fa fa-print btn-blue" aria-hidden="true"></i></button>
                            <button id="btnExport" type="button" class="btn btn-success btn-sm"><i class="fa fa-file-excel-o fa-align-right" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="table-wrapper">

            <div id="dayBookList" class="jqGrid_wrapper overflow-auto">

            </div>
        </div>
    </div>

</section>

<script>
    $(document).ready(function () {
        AppCommon.FormatDateInput();
        AppCommon.FormatInputCase();
        AppCommon.FormatSelect2();
        LoadReport();
        $("#btnView").on("click", function () {

            LoadReport();

        });

        $("#BranchKey").on("change", function () {
            LoadReport();
        });

        //Export To Excel
        var obj = { HtmlCntrl: $("#dayBookList") };
        $("#btnExport").on("click", function () {
            obj.ContainerId = $('#ledgerTable'),
            setExportTitle(obj)
            AppCommon.ExportTableToExcel(obj);
        });
        $("#btnPrint").on("click", function () {
            obj.ContainerId = $('#ledgerTable'),
            setExportTitle(obj)
            AppCommon.PrintHtml(obj);
        });

    });
    function setExportTitle(obj) {
        obj.Title = '@EduSuiteUIResources.DayBook' + ($("#BranchKey").find("option:selected").text() ? ' - ' + $("#BranchKey").find("option:selected").text() : "");
        obj.SubTitle = $("#FromDate").val() === $("#ToDate").val() ? $("#FromDate").val() : $("#FromDate").val() + " - " + $("#ToDate").val();
        obj.FileName = (obj.Title + "_" + obj.SubTitle).replace(/-/g, '_')
    }

    function LoadReport() {
        var obj = {};
        obj.fromDate = $("#FromDate").val()
        obj.toDate = $("#ToDate").val()
        obj.branchKey = $("#BranchKey").val()

        var correctdate = CheckDate();
        if (correctdate) {

            AccountFlow.GetDayBook(obj.fromDate, obj.toDate, obj.branchKey);
        }
     
    }

    function CheckDate() {
        
        var start = $("#FromDate").datepicker("getDate");
        var end = $("#ToDate").datepicker("getDate");
        var days = (end - start) / (1000 * 60 * 60 * 24);
        days = Math.round(days);

        if (days > 366) {
            var Message = "Day Book Only Display 1 Year Record";
            EduSuite.AlertMessage({ title: Resources.Warning, content: Message, type: 'orange' })
            return false
        }
        return true
    }
</script>





