@model CITS.EduSuite.Business.Models.ViewModels.AccountFlowViewModel
@using CITS.EduSuite.Business.Models.ViewModels

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Content/DatePickerJS")
    @Scripts.Render("~/Content/Select2JS")
    @Scripts.Render("~/Scripts/AccountHead")
}
@{
    ViewBag.Title = EduSuiteUIResources.Profit + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.And + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.Loss + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.Account;
}
@Html.AntiForgeryToken()
@Html.HiddenFor(m => m.RowKey)
@Html.ValidationSummary(true)
<input type="hidden" id="hdnGetProfitAndLossAccount" value="@Url.Action("GetProfitAndLossAccount", "AccountFlow")" />


<header class="section-header">
    <div class="row justify-content-between px-1">
        <div class="col-12">
            <div class="tbl">
                <div class="tbl-row">
                    <div class="tbl-cell">
                        <h3>@EduSuiteUIResources.Profit@EduSuiteUIResources.BlankSpace@EduSuiteUIResources.And@EduSuiteUIResources.BlankSpace@EduSuiteUIResources.Loss@EduSuiteUIResources.BlankSpace@EduSuiteUIResources.Account</h3>

                    </div>
                </div>
            </div>
        </div>

    </div>
</header>
<section class="section-content mx-sm-3 mx-0">
    <div class="ledgerTable">
        <form id="frmProfitAndLossAccount">
            <div class="grid-nav-bar">
                <div class="form-row">
                    <div class="col-lg-2 col-sm-3 col-6">
                        <div class="form-group">
                            @Html.Label(EduSuiteUIResources.FromDate, htmlAttributes: new { @class = "form-label" })
                            @Html.TextBoxFor(m => m.FromDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @data_inputmask = "'alias': 'dd/mm/yyyy'", @data_input_type = "date" })
                            <span class="form-control-error-text">
                                @Html.ValidationMessageFor(m => m.FromDate)
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-3 col-6">
                        <div class="form-group ">
                            @Html.Label(EduSuiteUIResources.ToDate, htmlAttributes: new { @class = "form-label" })
                            @Html.TextBoxFor(m => m.ToDate, "{0:dd/MM/yyyy}", new { @class = "form-control", @data_inputmask = "'alias': 'dd/mm/yyyy'", @data_input_type = "date" })
                            <span class="form-control-error-text">
                                @Html.ValidationMessageFor(m => m.ToDate)
                            </span>
                        </div>
                    </div>


                    @if (Model.Branches.Count == 1)
                    {
                        {
                            Model.BranchKey = (Model.BranchKey ?? 0) == 0 ? (short)Model.Branches.Select(x => x.RowKey).FirstOrDefault() : Model.BranchKey;
                        }
                        @Html.HiddenFor(m => m.BranchKey)
                    }
                    else
                    {
                       
                            <div class="col-12 col-sm-3 col-lg-2">
                                <fieldset class="form-group">
                                    @Html.Label(EduSuiteUIResources.Branch, htmlAttributes: new { @class = "form-label" })
                                    @Html.DropDownListFor(m => m.BranchKey, new SelectList(Model.Branches, "RowKey", "Text"), EduSuiteUIResources.Select + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.Branch, new { @class = "form-control input-control", @InputFor = "lblBranch", @data_live_search = "true" })
                                    <span class="form-control-error-text">
                                        @Html.ValidationMessageFor(m => m.BranchKey)
                                    </span>
                                </fieldset>
                            </div>
                       
                    }




                    <div class="col-2">
                        <div class="form-group">
                            <br />
                            <input type="button" value="@EduSuiteUIResources.View" id="btnView" class="btn btn-sm btn-success mt-1 float-right " />
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12">
                        <div class="button-group float-right">
                            <button id="btnPrint" type="button" class="btn btn-primary btn-sm"><i class="fa fa-print btn-blue" aria-hidden="true"></i></button>
                            <button id="btnExport" type="button" class="btn btn-success btn-sm"><i class="fa fa-file-excel-o fa-align-right" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="table-wrapper">

            <div id="ProfitAndLossAccountList" class="jqGrid_wrapper overflow-auto">

            </div>
        </div>
    </div>

</section>
@*<div class="ledgerTable">
    <form id="frmProfitAndLossAccount">
        <div class="grid-nav-bar col-sm-12">
            @if (Model.Branches.Count > 1)
            {
                <div class="col-sm-2 form-col">
                    <div class="form-group">
                        @Html.Label(EduSuiteUIResources.Branch, htmlAttributes: new { @class = "form-label" })<span class="spnStar">*</span>

                        @Html.DropDownListFor(m => m.BranchKey, new SelectList(Model.Branches, "RowKey", "Text"), EduSuiteUIResources.Select + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.Branch, new { @class = "form-control SearchDropDown" })

                        <span class="red">
                            @Html.ValidationMessageFor(m => m.BranchKey)
                        </span>
                    </div>
                </div>
            }
            else
            {
                @Html.HiddenFor(m => m.BranchKey)

            }


            <div class="col-sm-2 form-col">
                <div class="form-group">
                    @Html.Label(EduSuiteUIResources.FromDate, htmlAttributes: new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.FromDate, "{0:dd/MM/yyyy}", new { @class = "form-control gridSearchTextBox", @data_inputmask = "'alias': 'date'", @data_input_type = "date" })
                    <span class="red">
                        @Html.ValidationMessageFor(m => m.FromDate)
                    </span>
                </div>
            </div>
            <div class="col-sm-2 form-col">
                <div class="form-group ">
                    @Html.Label(EduSuiteUIResources.ToDate, htmlAttributes: new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.ToDate, "{0:dd/MM/yyyy}", new { @class = "form-control gridSearchTextBox", @data_inputmask = "'alias': 'date'", @data_input_type = "date" })
                    <span class="red">
                        @Html.ValidationMessageFor(m => m.ToDate)
                    </span>
                </div>
            </div>
            <div class="col-sm-1 form-col">
                <div class="form-group btnSearch">
                    <br />
                    <input type="button" value="@EduSuiteUIResources.View" id="btnView" class="btnForm btnSubmit btn btn-sm btn-default pull-right " />
                </div>
            </div>
            <div class="pull-right">
                <button id="btnExport" type="button" class="btn btn-success btn-sm" title="Excel"><i class="fa fa-file-excel-o"></i></button>
                <button id="btnPrint" type="button" class="btn btn-primary btn-sm" title="Print"><i class="fa fa-print"></i></button>
            </div>
        </div>
    </form>
    <div id="ProfitAndLossAccountList">
    </div>

</div>*@



<script>
    $(document).ready(function () {
        AppCommon.FormatDateInput();
        AppCommon.FormatInputCase();
        AppCommon.FormatSelect2();
        LoadReport()
        $("#btnView").on("click", function () {
            var valid = $("#frmProfitAndLossAccount").valid()
            if (valid) {
                LoadReport()
            }
        });

        $("#BranchKey").on("change", function () {
            var valid = $("#frmProfitAndLossAccount").valid()
            if (valid) {
                LoadReport()
            }
        });
        //Export To Excel
        var obj = { HtmlCntrl: $("#ProfitAndLossAccountList") };
        $("#btnExport").on("click", function () {
            obj.ContainerId = $('#ledgerTable'),
            setExportTitle(obj)
            AppCommon.ExportTableToExcel(obj);
        });
        $("#btnPrint").on("click", function () {
            obj.ContainerId = $('#ledgerTable'),
            setExportTitle(obj)
            AppCommon.PrintHtml(obj);
        });

    });
    function setExportTitle(obj) {
        obj.Title = '@EduSuiteUIResources.Profit@EduSuiteUIResources.BlankSpace@EduSuiteUIResources.And@EduSuiteUIResources.BlankSpace@EduSuiteUIResources.Loss@EduSuiteUIResources.BlankSpace@EduSuiteUIResources.Account' + ($("#BranchKey").find("option:selected").text() ? ' - ' + $("#BranchKey").find("option:selected").text() : "");
        obj.SubTitle = $("#FromDate").val() === $("#ToDate").val() ? $("#FromDate").val() : $("#FromDate").val() + " - " + $("#ToDate").val();
        obj.FileName = (obj.Title + "_" + obj.SubTitle).replace(/-/g, '_')
    }

    function LoadReport() {
        var obj = {};
        obj.fromDate = $("#FromDate").val()
        obj.toDate = $("#ToDate").val()
        obj.branchKey = $("#BranchKey").val()
        $(".section-content").mLoading()
        $("#ProfitAndLossAccountList").load($("#hdnGetProfitAndLossAccount").val() + "?" + $.param(obj), function () {
            $(".section-content").mLoading("destroy")
        })
    }
</script>




