@model List<CITS.EduSuite.Business.Models.ViewModels.VideoViewModel>
@using CITS.EduSuite.Business.Models
@using CITS.EduSuite.Business.Models.ViewModels



<div class="modal-header">
    <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close"></i></button>
    <h4 class="modal-title" id="myModalLabel">@EduSuiteUIResources.Videos</h4>
</div>


<div class="modal-body bottomLine">

    @foreach (var master in Model)
    {
    <div class="form-row">

        <div class="col-12 col-sm-12 col-lg-12">
            <span><b> @EduSuiteUIResources.Title:</b> @master.VideoTitle </span> |<span>
                <b> @EduSuiteUIResources.IsActive</b>
                @if (master.IsActive == true)
                {
                    <span style="color:greenyellow">Active</span>
                }
                else
                {
                    <span style="color:orangered">InActive</span>

                }
            </span>

        </div>
        @*@foreach (var item in master.VideoList)
        {
            <div class="col-12 col-sm-3 col-lg-3">

                @if (item.VideoTypeKey == DbConstants.VideoType.UploadFile)
                {
                    <video width="100%" controls>
                        <source src="~/UploadFiles/Videos/@master.RowKey/@item.VideoFileName" type="video/mp4">
                    </video>
                }
                else
                {
                    <div class="col-12 col-sm-12 col-lg-12">
                        <div class="iframe-container">
                            @Html.Raw(item.YouTubeLinks)
                        </div>
                    </div>
                }


                <div class="col-12 col-sm-12 col-lg-12">
                    <span> <b> @EduSuiteUIResources.Description:</b>   @item.VideoDecription </span>
                </div>
                <div class="col-12 col-sm-12 col-lg-12">
                    <span>
                        <b> @EduSuiteUIResources.IsActive:</b>
                        @if (item.IsActive == true)
                        {
                            <span style="color:greenyellow">Active</span>
                        }
                        else
                        {
                            <span style="color:orangered">InActive</span>

                        }
                    </span>
                </div>
            </div>
        }*@

        <div class="form-row">

            @foreach (var item in master.VideoList)
            {


                <div class="col-12 col-sm-5 col-lg-5 VideoItem">
                    @if (item.VideoTypeKey == DbConstants.VideoType.UploadFile)
                    {
                        <video oncontextmenu="return false;" width="100%" controlsList="nodownload" controls>
                            <source src="~/UploadFiles/Videos/@item.RowKey/@item.VideoFileName" type="video/mp4">
                        </video>
                        <a class="VideoClick" videoUrl="~/UploadFiles/Videos/@item.RowKey/@item.VideoFileName" style="display:block" href="#">
                            <div class="videoLabel">
                                <div class="col-12 col-sm-12 col-lg-12 videoTitle">
                                    <span>    @item.VideoTitle </span>
                                </div>
                                <div class="col-12 col-sm-12 col-lg-12">
                                    <span>    @item.VideoDecription </span>
                                </div>
                                @*<span class="PlayIcon"><i class="fa fa-play" aria-hidden="true"></i></span>*@
                                <span class="watchVideo">Play Video</span>
                                @if (item.IsAllowDownload)
                                {
                                    <a class="btnDownload" download href="~/UploadFiles/Videos/@item.RowKey/@item.VideoFileName">Download</a>
                                }
                            </div>

                        </a>
                    }
                    else
                    {
                        <div class="col-12 col-sm-12 col-lg-12">
                            <div class="iframe-container">
                                @Html.Raw(item.YouTubeLinks)
                            </div>
                        </div>
                        <div class="videoLabel">
                            <div class="col-12 col-sm-12 col-lg-12 videoTitle">
                                <span>    @item.VideoTitle </span>
                            </div>
                            <div class="col-12 col-sm-12 col-lg-12">
                                <span>    @item.VideoDecription </span>
                            </div>
                            @*<span class="PlayIcon"><i class="fa fa-play" aria-hidden="true"></i></span>*@

                        </div>
                    }

                </div>

            }
        </div>

    </div>


    }


</div>




<style>
    .modal-dialog.modal-dialog-zoom.modal-lg80 {
        max-width: 95%;
        width: 95%;
    }
</style>
