@model CITS.EduSuite.Business.Models.ViewModels.StudentLateViewModel
@using CITS.EduSuite.Business.Models.ViewModels
@using CITS.EduSuite.UI

@if (Model.ApplicationsKey != 0)
{

    <div class="card">
        <input type="hidden" id="hdnDeleteApplicationFeeOneByOne" value="@Url.Action("DeleteApplicationFeeOneByOne", "StudentsLate")" />
        <input type="hidden" id="hdnStudentLateList" value="@Url.Action("StudentLateList", "StudentsLate", new { id = Model.ApplicationsKey })" />
        <input type="hidden" id="hdnFillAttendanceTypeByDate" value="@Url.Action("FillAttendanceTypeByDate", "SelectList")" />
        <input type="hidden" id="hdnGetLateMinuteById" value="@Url.Action("GetLateMinuteById", "StudentsLate")" />

        @using (Html.BeginForm("AddEditStudentLate", "StudentsLate", new { id = "" }, FormMethod.Post, htmlAttributes: new { @id = "frmAddEditStudentLate" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.RowKey)
            @Html.HiddenFor(m => m.ApplicationsKey)
            @Html.HiddenFor(m => m.AttendanceDetailsKey)
            @Html.HiddenFor(m => m.StudentEmail)
            @Html.HiddenFor(m => m.StudentMobile)
            @Html.HiddenFor(m => m.StudentGuardianPhone)
            @Html.Hidden("OldAttendanceTypeKey", Model.AttendanceTypeKey)
            @Html.HiddenFor(m => m.TemplateKey)

            @Html.ValidationSummary(true)

            <div class="card-header w3-deep-purple">
                <div class="form-row">
                    @EduSuiteUIResources.StudentLate

                    <div class="exportbutton">
                        <div class="form-group ">

                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="form-row">

                    <div class="col-12 col-sm-12 col-lg-12">
                        <fieldset class="form-group">
                            @Html.Label(EduSuiteUIResources.Date, htmlAttributes: new { @id = "lblFeeDate", @class = "form-label" })
                            <div class="required-icon"><div class="text">*</div></div>
                            @Html.TextBoxFor(m => m.LateDate, "{0:dd/MM/yyyy}", new { @class = "form-control input-control", @data_input_type = "date", @InputFor = "lblFeeDate", @data_inputmask = "'alias': 'dd/mm/yyyy'", @onchange = " StudentLate.FillAttendanceTypeByDate();" })
                        </fieldset>
                        <span class="form-control-error-text">
                            @Html.ValidationMessageFor(m => m.LateDate)
                        </span>
                    </div>
                    <div class="col-12 col-sm-12 col-lg-12">
                        <fieldset class="form-group">
                            @Html.Label(EduSuiteUIResources.AttendanceType, htmlAttributes: new { @id = "lblFeeAmount", @class = "form-label" })
                            <div class="required-icon"><div class="text">*</div></div>
                            @Html.DropDownListFor(m => m.AttendanceTypeKey, new SelectList(Model.AttendanceTypes, "RowKey", "Text"), EduSuiteUIResources.Select + EduSuiteUIResources.BlankSpace + EduSuiteUIResources.AttendanceType, new { @class = "form-control input-control", @onchange = "StudentLate.GetLateMinuteById()" })
                            <span class="form-control-error-text">
                                @Html.ValidationMessageFor(m => m.AttendanceTypeKey)
                            </span>
                        </fieldset>
                    </div>
                    <div class="col-12 col-sm-12 col-lg-12">
                        <fieldset class="form-group">
                            @Html.Label(EduSuiteUIResources.Minutes, htmlAttributes: new { @id = "lblFeeAmount", @class = "form-label" })
                            <div class="required-icon"><div class="text">*</div></div>
                            @Html.TextBoxFor(m => m.LateMinutes, new { @class = "form-control input-control", @InputFor = "lblFeeAmount", @oninput = "ApplicationFeePayment.CalculateItemFee(this)", @onchange = "ApplicationFeePayment.CalculateItemFee(this)" })
                            <span class="form-control-error-text">
                                @Html.ValidationMessageFor(m => m.LateMinutes)
                            </span>
                        </fieldset>
                    </div>
                    <div class="col-12 col-sm-12 col-lg-12">
                        <fieldset class="form-group">
                            @Html.Label(EduSuiteUIResources.MarkHalfDay, new { @class = "form-label" })
                            <div class="switch-check my-2">
                                @Html.CheckBoxFor(m => m.MarkHalfDay, new { @class = "switch-input" })
                                <div class="switch-label redgreen" data-on="@EduSuiteUIResources.Yes" data-off="@EduSuiteUIResources.No"></div>
                                <div class="switch-handle"></div>
                            </div>
                            <span class="form-control-error-text">
                                @Html.ValidationMessageFor(m => m.MarkHalfDay)
                            </span>
                        </fieldset>
                    </div>
                    <div class="col-12">
                        <fieldset class="form-group">

                            @Html.Label(EduSuiteUIResources.Remarks, htmlAttributes: new { @id = "lblRemarks", @class = "form-label" })
                            <div class="required-icon"><div class="text">*</div></div>
                            @Html.TextAreaFor(m => m.Remarks, new { @class = "input-control form-control full-width", @InputFor = "lblRemarks" })
                            <span class="form-control-error-text">
                                @Html.ValidationMessageFor(m => m.Remarks)
                            </span>
                        </fieldset>

                    </div>
                </div>


                <div class="form-row">

                    <div class="col-sm-6 text-left">
                        @if (ApplicationSettingModel.SMSEnabled)
                        {
                            if (!(Model.AutoSMS ?? true))
                            {
                                <div class="checkbox-bird green inline-block">
                                    @Html.CheckBox("AutoSMS", (Model.AutoSMS ?? false))
                                    <label for="AutoSMS">@EduSuiteUIResources.SendSms</label>
                                </div>
                            }
                            else
                            {
                                @Html.Hidden("AutoSMS", (Model.AutoSMS ?? false), new { @class = "pull-left" })
                            }
                        }

                        @if (ApplicationSettingModel.GuardianSMSEnabled)
                        {
                            if (!(Model.GuardianSMS ?? true))
                            {
                                <div class="checkbox-bird green inline-block">
                                    @Html.CheckBox("GuardianSMS", (Model.GuardianSMS ?? false))
                                    <label for="GuardianSMS">@EduSuiteUIResources.GuardianSMS</label>
                                </div>
                            }
                            else
                            {
                                @Html.Hidden("GuardianSMS", (Model.GuardianSMS ?? false), new { @class = "pull-left" })
                            }
                        }
                        @if (ApplicationSettingModel.EmailEnabled)
                        {
                            if (!(Model.AutoEmail ?? true))
                            {
                                <div class="checkbox-bird green inline-block">
                                    @Html.CheckBox("AutoEmail", (Model.AutoEmail ?? false), new { @class = "pull-left" })
                                    <label for="AutoEmail">@EduSuiteUIResources.SendEmail</label>
                                </div>
                            }
                            else
                            {
                                @Html.Hidden("AutoEmail", (Model.AutoEmail ?? false))
                            }
                        }

                    </div>
                </div>
                <div class="col-12">
                    <span class="text-danger" id="spnerr"><strong> @Html.ValidationMessage("error_msg")</strong>  </span>
                </div>
                <div class="form-row">
                    <div class="col-6">
                        <div class="form-group">
                            @if (Model.IsSuccessful == true)
                            {
                                <input type="button" value="@EduSuiteUIResources.Save" id="btnSave" class="btn btn-sm btn-success" />
                            }
                            @if (Model.RowKey != 0)
                            {
                                <button type="button" id="btnCancel" class="btn btn-sm btn-danger mx-1">@EduSuiteUIResources.Cancel</button>
                            }
                        </div>

                    </div>

                </div>
            </div>
        }



    </div>
}
<script>
    var jsonData=@(Html.Raw(Json.Encode(Model)));

    $(document).ready(function () {
        setTimeout(function () {
            AppCommon.FormatDateInput();
            $("#btnSave").on("click",function(){

                StudentLate.FormSubmit(jsonData);
            })
              $("#btnCancel").on("click", function ()
            {
                 StudentLate.BindStudentLateDetails();
                StudentLate.AddEditStudentLate(null, @Model.ApplicationsKey);
        })
        });

    });



</script>
<style>
    .exportbutton {
        position: absolute;
        right: 11px;
        top: 11px;
    }
</style>