@model List<CITS.EduSuite.Business.Models.ViewModels.StudentLateViewModel>
@using CITS.EduSuite.Business.Models.ViewModels
@using CITS.EduSuite.UI


<input type="hidden" id="hdnAddEditStudentLate" value="@Url.Action("AddEditStudentLate", "StudentsLate", new { id = "" })" />
<input type="hidden" id="hdnDeleteStudentLate" value="@Url.Action("DeleteStudentLate", "StudentsLate", new { id = "" })" />
<input type="hidden" id="hdnStudentLateList" value="@Url.Action("StudentLateList", "StudentsLate", new { id = "" })"  />




    <section class="card">
        <header class="card-header w3-indigo">
            @EduSuiteUIResources.StudentLateDetails
        </header>
        <div class="card-body p-2 overflow-auto">
            <table class="table table-bordered table-sm" id="divInstallmentFeeDetails">

                <thead>
                    <tr>
                        <th>
                            @Html.Label(EduSuiteUIResources.Date, htmlAttributes: new { @class = "form-label" })
                        </th>
                        <th>
                            @Html.Label(EduSuiteUIResources.Minutes, htmlAttributes: new { @class = "form-label" })
                        </th>

                        <th>
                            @Html.Label(EduSuiteUIResources.Remarks, htmlAttributes: new { @class = "form-label" })
                        </th>
                        <th>
                            @Html.Label(EduSuiteUIResources.Action, htmlAttributes: new { @class = "form-label" })
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                    {

                        <tr data-repeater-item>
                            <td>

                                @String.Format("{0:dd/MM/yyyy}", Model[i].LateDate)
                                @Html.HiddenFor(m => m[i].RowKey)



                            </td>

                            <td>
                                @Model[i].LateMinutes
                            </td>

                            <td>
                                @Model[i].Remarks

                            </td>
                            <td>
                                <div class="btn-group">

                                    <button type="button" class="btn btn-primary btn-sm mx-1 btnfeeEdit" onclick="javascript:StudentLate.AddEditStudentLate('@Model[i].RowKey');"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                    <button type="button" class="btn btn-danger btn-sm mx-1" onclick="javascript:StudentLate.DeleteStudentLate('@Model[i].RowKey','@Model[i].ApplicationsKey');return false;">  <i class="fa fa-trash pointer" aria-hidden="true"></i>  </button>


                                </div>
                            </td>

                        </tr>


                    }
                </tbody>


            </table>
        </div>
    </section>

