@model CITS.EduSuite.Business.Models.ViewModels.ApplicationPersonalViewModel
@using CITS.EduSuite.Business.Models.ViewModels
@using CITS.EduSuite.UI
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/CitsValidation")
    @Scripts.Render("~/Content/DatePickerJS")
    @Scripts.Render("~/Scripts/StudentLate")
}

<header class="section-header">
    <div class="row px-1">
        <div class="col-12">
            <div class="tbl">
                <div class="tbl-row">
                    <div class="tbl-cell">
                        <h3>@EduSuiteUIResources.StudentLateDetails</h3>

                    </div>
                </div>
            </div>
        </div>

    </div>

</header>
<input type="hidden" id="hdnStudentLateApplication" value="@Url.Action("StudentLateApplication", "StudentsLate")" />
<section class="section-content mx-sm-3 mx-0">
    <div class="form-master">
        <div class="form-row ">
            <div class="col-12 col-sm-4 col-lg-2">
                <div class="form-group">
                    @Html.Label(EduSuiteUIResources.RollNo + EduSuiteUIResources.Sla + EduSuiteUIResources.AdmissionNo, htmlAttributes: new { @id = "lblAdmissionNo", @class = "form-label" })
                    <div class="required-icon"><div class="text">*</div></div>
                    @Html.TextBoxFor(m => m.AdmissionNo, new { @class = "form-control input-control", @InputFor = "lblAdmissionNo", @data_plugin_type = "autocomplete", @data_url = Url.Action("AutoCompleteAdmissionNo", "SelectList") })
                    <span class="form-control-error-text">
                        @Html.ValidationMessageFor(m => m.AdmissionNo)
                    </span>

                </div>
            </div>
        </div>
        @Html.HiddenFor(m => Model.ApplicationKey)
        <div id="DivCourseFee">

        </div>

    </div>

</section>


<script>


    $(document).ready(function () {

        AppCommon.FormatInputCase();

        AppCommon.FormatDateInput();
        AppCommon.CustomRemoteMethod();
        AppCommon.FormatAutoComplete();
        if ($("#ApplicationKey").val())
            StudentLate.GetApplicationDetails();
        $("#AdmissionNo").on("change", function () {

            StudentLate.GetApplicationDetails();

        });
    });

</script>
